<div class="main-content">
    <div class="container-fluid">
        <div class="row measurementsContent">

            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" *ngIf="configVisibility.weight">
                <time-series-card [title]="'Correlacionar gráficos'"
                                  [subtitle]="''" (filter_change)="applyFilter($event)">

                    <div class="row">

                        <div class="container-graph"
                             *ngFor="let resourceSelected of resourcesSelected;index as i;"
                             [ngClass]="(!(resourcesSelected.length%2==0) && i ===(resourcesSelected.length-1))?'col':'col-sm-12 col-md-6 col-lg-6 col-xl-6'">

                            <div class="graph">

                                <div class="fadeIn options"
                                     style="position:absolute; top:0;left:0;padding:5px;z-index:1000"
                                     *ngIf="resourcesSelected[i]">
                                    <i class="material-icons" (click)="openSelectGraph(i)">settings</i>
                                </div>

                                <div class="fadeIn options"
                                     style="position:absolute; top:0;right:0;padding:5px;z-index:1000"
                                     *ngIf="resourcesSelected.length!==1">
                                    <i class="material-icons" (click)="removeGraph(i)"
                                       [title]="'SHARED.CLOSE'|translate">close</i>
                                </div>

                                <div [ngStyle]="resourcesSelected[i]?{position: 'absolute', top:'0', left: '0', padding: '5px', 'z-index': -1}:{}">
                                    <mat-form-field>
                                        <mat-label>{{'SHARED.SELECT'|translate}}</mat-label>
                                        <mat-select #selectGraph [(ngModel)]="resourcesSelected[i]"
                                                    (selectionChange)="selectResource()">
                                            <mat-optgroup *ngFor="let group of resourceGroups" [label]="group.name"
                                                          [disabled]="group.disabled">
                                                <mat-option *ngFor="let resource of group.items"
                                                            [value]="resource.value" [disabled]="resource.disabled">
                                                    {{resource.viewValue}}
                                                </mat-option>
                                            </mat-optgroup>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <weight class="fadeIn graphSelected"
                                        *ngIf="resourcesSelected[i]===EnumMeasurementType.weight"
                                        [filterVisibility]="false"
                                        [patientId]="patientId" [onlyGraph]="true"
                                        [intraday]="intraday"
                                        [filter]="filter"></weight>

                                <waist-circunference class="fadeIn graphSelected"
                                                     *ngIf="resourcesSelected[i]===EnumMeasurementType.waist_circumference"
                                                     [filterVisibility]="false"
                                                     [patientId]="patientId" [onlyGraph]="true"
                                                     [intraday]="intraday"
                                                     [filter]="filter"></waist-circunference>

                                <height class="fadeIn graphSelected"
                                        *ngIf="resourcesSelected[i]===EnumMeasurementType.height"
                                        [filterVisibility]="false"
                                        [patientId]="patientId" [onlyGraph]="true"
                                        [intraday]="intraday"
                                        [filter]="filter"></height>

                                <fat class="fadeIn graphSelected"
                                     *ngIf="resourcesSelected[i]===EnumMeasurementType.body_fat"
                                     [filterVisibility]="false"
                                     [intraday]="intraday"
                                     [patientId]="patientId" [onlyGraph]="true" [filter]="filter"></fat>

                                <body-temperature class="fadeIn graphSelected"
                                                  *ngIf="resourcesSelected[i]===EnumMeasurementType.body_temperature"
                                                  [filterVisibility]="false"
                                                  [patientId]="patientId" [onlyGraph]="true"
                                                  [intraday]="intraday"
                                                  [filter]="filter"></body-temperature>

                                <blood-pressure class="fadeIn graphSelected"
                                                *ngIf="resourcesSelected[i]===EnumMeasurementType.blood_pressure"
                                                [filterVisibility]="false"
                                                [patientId]="patientId" [onlyGraph]="true"
                                                [intraday]="intraday"
                                                [filter]="filter"></blood-pressure>

                                <blood-glucose class="fadeIn graphSelected"
                                               *ngIf="resourcesSelected[i]===EnumMeasurementType.blood_glucose"
                                               [filterVisibility]="false"
                                               [patientId]="patientId" [onlyGraph]="true"
                                               [intraday]="intraday"
                                               [filter]="filter"></blood-glucose>

                                <calories class="fadeIn graphSelected"
                                          *ngIf="resourcesSelected[i]===TimeSeriesType.calories"
                                          [filterVisibility]="false"
                                          [patientId]="patientId" [onlyGraph]="true" [filter]="filter"></calories>

                                <actives-minutes class="fadeIn graphSelected"
                                                 *ngIf="resourcesSelected[i]===TimeSeriesType.active_minutes"
                                                 [filterVisibility]="false"
                                                 [patientId]="patientId" [onlyGraph]="true"
                                                 [filter]="filter"></actives-minutes>

                                <distance class="fadeIn graphSelected"
                                          *ngIf="resourcesSelected[i]===TimeSeriesType.distance"
                                          [filterVisibility]="false"
                                          [patientId]="patientId" [onlyGraph]="true"
                                          [filter]="filter"></distance>

                                <steps class="fadeIn graphSelected"
                                       *ngIf="resourcesSelected[i]===TimeSeriesType.steps"
                                       [filterVisibility]="false"
                                       [patientId]="patientId" [onlyGraph]="true"
                                       [filter]="filter"></steps>

                                <heart-rate class="fadeIn graphSelected"
                                            *ngIf="resourcesSelected[i]===TimeSeriesType.heart_rate"
                                            [filterVisibility]="false"
                                            [patientId]="patientId" [onlyGraph]="true"
                                            [filter]="filter"></heart-rate>
                            </div>

                        </div>

                    </div>

                </time-series-card>

                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <button type="button" class="btn btn-haniot-primary" (click)="add()">
                            {{'SHARED.ADD'|translate}}
                            <i class="material-icons">add</i>
                        </button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
