<div class="row">
  <div id="top" class="col-md-12">
    <img src="../../../assets/img/haniot/silhueta.png" alt="HANIoT" id="logo">
  </div>
  <div class="bg-white text-white py-5 col-md-12">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-2 text-center">
          <p><i class="fa fa-exclamation-triangle fa-5x"></i><br />Status Code: 403</p>
        </div>
        <div class="col-md-10">
          <h2>Acess Denied!</h2>
          <p>Sorry, your access is refused due to security reasons of our server and also our sensitive data.
            <br />Please go back to the dashboard page clicking on button down!</p>
          <a class="btn btn-danger" [routerLink]>Go Back</a>
        </div>
      </div>
    </div>

  </div>


  <div id="div-footer" class="col-md-12">
    <app-footer></app-footer>
  </div>

</div>