<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-danger">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">
                                    <h4 class="card-title">{{physicalActivity ? physicalActivity.name  : ''}}</h4>
                                    <p class="card-category">
                                            {{physicalActivity ? (physicalActivity.start_time | date) : ''}},
                                        {{'ACTIVITY.BETWEEN'|translate}} {{physicalActivity ? ((physicalActivity.start_time | date:'shortTime') + ('HABITS.SLEEP.TIME-ABBREVIATION'|translate)) : ''}}
                                        {{'SHARED.AND'|translate}}
                                        {{physicalActivity ? ((physicalActivity.end_time | date:'shortTime') + ('HABITS.SLEEP.TIME-ABBREVIATION'|translate)) : ''}}
                                    </p>
                                </span>
                            </div>
                        </div>
                        <div class="nav-tabs-navigation" style="float:right">
                            <ul class="nav nav-tabs shared" data-tabs="tabs">
                                <li class="nav-item">
                                    <button type="button"
                                            class="borderNone"
                                            [title]="'ACTIVITY.REMOVE'|translate"
                                            (click)="openModalConfirmation(physicalActivity.id)">
                                        <i class="material-icons remove-register">delete</i>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row justify-content-center">

                            <div class="divSpinner" *ngIf="loadingPhysicalActivity">
                                <spinner [message]="'ACTIVITY.PHYSICAL-ACTIVITY.LOADING'|translate"></spinner>
                            </div>
                            <!-- INTENSITY-LEVELS-->
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 row justify-content-start"
                                 style="padding-left: 0; padding-right: 0">
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"
                                     style="padding-left: 0;padding-right:0">
                                    <div style="position: absolute;left: 10%; top: 20%">
                                        <p class="text-center">{{'ACTIVITY.PHYSICAL-ACTIVITY.DISTANCE'|translate}}:</p>
                                        <h3 class="text-center"
                                            [title]="'ACTIVITY.PHYSICAL-ACTIVITY.DISTANCE'|translate"
                                            [innerHTML]="physicalActivity && physicalActivity.distance ? (physicalActivity.distance|distance) : '0<small>m</small>'">
                                        </h3>
                                    </div>
                                    <div style="position: absolute;right: 10%; top: 20%">
                                        <p class="text-center">{{'ACTIVITY.PHYSICAL-ACTIVITY.DURATION'|translate}}:</p>
                                        <h3 class="text-center"
                                            [title]="'ACTIVITY.CALORIES-BURNED-PER-MINUTES'|translate">
                                            {{physicalActivity && physicalActivity.duration ? (physicalActivity.duration|millisecond) : ''}}
                                        </h3>
                                    </div>
                                    <div style="height: 200px" echarts [options]="intensityLevelsGraph"></div>
                                </div>
                            </div>
                            <!-- CALORIC EXPENDITURE-->
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 row justify-content-start"
                                 style="padding-left: 0; padding-right: 0">
                                <div class="col-12">
                                    <h4 class="float-left">
                                        {{'ACTIVITY.CALORIC-EXPENDITURE'|translate}}
                                    </h4>
                                </div>
                                <div class="col-sm-6 col-md-2 col-lg-2 col-xl-2"
                                     style="padding: 0px 0px;margin-top: auto; margin-bottom: auto">
                                    <h3 class="text-center" [title]="'ACTIVITY.TOTAL-CALORIES-BURNED'|translate">
                                        {{physicalActivity ? physicalActivity.calories : ''}}<small>{{'TIME-SERIES.CALORIES.CALORIES'|translate}}</small>
                                    </h3>

                                    <h3 class="text-center" [title]="'ACTIVITY.CALORIES-BURNED-PER-MINUTES'|translate">
                                        {{physicalActivity ? (Math.floor(physicalActivity.calories / (physicalActivity.duration / 60000))) : ''}}<small>{{'TIME-SERIES.CALORIES.CALORIES'|translate}}/min</small>
                                    </h3>
                                </div>
                                <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10"
                                     style="padding-left: 0;padding-right:0">
                                    <div class="echarts-div-graph" echarts [options]="caloriesGraph"></div>
                                </div>
                            </div>
                            <!-- HEART RATE-->
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 row justify-content-start"
                                 style="padding-left: 0; padding-right: 0"
                                 *ngIf="physicalActivity && physicalActivity.heart_rate_average">
                                <div class="col-12">
                                    <h4 class="float-left">
                                        {{'TIME-SERIES.PIPES.TIME-SERIES.HEART-RATE'|translate}}
                                    </h4>
                                </div>
                                <div class="col-sm-6 col-md-2 col-lg-2 col-xl-2"
                                     style="padding: 0px 0px;margin-top: auto; margin-bottom: auto">
                                    <p class="text-center">
                                        {{'ACTIVITY.HEART-RATE-AVG'|translate}}
                                    </p>
                                    <h3 class="text-center" [title]="'ACTIVITY.HEART-RATE-AVG'|translate">
                                        {{physicalActivity ? physicalActivity.heart_rate_average : 0}}<small>bpm</small>
                                    </h3>
                                </div>
                                <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10"
                                     style="padding-left: 0;padding-right:0">
                                    <div class="echarts-div-graph" echarts [options]="heartRateGraph"></div>
                                </div>
                            </div>
                            <!-- IMPACT-->
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div style="display: flex; ">

                                    <div class="impact-extern" style="width: 20px; height: 20px;">
                                        <div class="impact-inner" style="width: 77%;height: 77%;"></div>
                                    </div>

                                    <label class="p-2" style="font-weight: normal;">
                                        {{'ACTIVITY.IMPACT'|translate}}
                                    </label>

                                </div>
                            </div>

                            <div class="col">
                                <div class="p-2 flex-center">
                                    <div class="impact-extern">
                                        <div class="impact-inner"
                                             [ngStyle]="{'width': impactOfSteps+'%','height': impactOfSteps+'%' }"
                                             *ngIf="physicalActivity && physicalActivity.steps && stepsValue"></div>
                                        <img src="../../../../assets/img/time-series/steps-black.svg" width="50%"
                                             style="position: absolute;">
                                    </div>
                                    <p class="text-center percent-impact">{{impactOfSteps ? impactOfSteps : 0}}%</p>
                                    <h2 class="p-2">+{{physicalActivity && physicalActivity.steps? physicalActivity.steps : '0'}}</h2>
                                    <small style="font-size: 16px;position: absolute; display: flex; bottom: 2px;">
                                        {{'PAGINATOR.OF'|translate}} {{stepsValue ? (stepsValue|number:'1.0-0') : 0}} {{'ACTIVITY.STEPS-TAKEN'|translate}}
                                    </small>
                                </div>
                            </div>

                            <div class="col">
                                <div class="p-2 flex-center">
                                    <div class="impact-extern">
                                        <div class="impact-inner"
                                             [ngStyle]="{'width': impactOfCalories+'%','height': impactOfCalories+'%' }"
                                             *ngIf="physicalActivity && physicalActivity.calories && caloriesValue"></div>
                                        <img src="../../../../assets/img/time-series/calories-black.svg" width="45%"
                                             style="position: absolute;">
                                    </div>
                                    <p class="text-center percent-impact">{{impactOfCalories ? impactOfCalories : 0}}%</p>
                                    <h2 class="p-2">+{{physicalActivity && physicalActivity.calories ? physicalActivity.calories : '0'}}</h2>
                                    <small style="font-size: 16px;position: absolute; display: flex; bottom: 2px;">
                                        {{'PAGINATOR.OF'|translate}} {{caloriesValue ? (caloriesValue|number:'1.0-0') : 0}} {{'ACTIVITY.CALORIES-BURNED'|translate}}
                                    </small>
                                </div>
                            </div>

                            <div class="col">
                                <div class="p-2 flex-center">
                                    <div class="impact-extern">
                                        <div class="impact-inner"
                                             [ngStyle]="{'width': impactOfActiveMinutes+'%','height': impactOfActiveMinutes+'%' }"
                                             *ngIf="physicalActivity && physicalActivity.duration && activeMinutesValue"></div>
                                        <img src="../../../../assets/img/time-series/active_minutes.svg" width="50%"
                                             style="position: absolute;">
                                    </div>
                                    <p class="text-center percent-impact">{{impactOfActiveMinutes ? impactOfActiveMinutes : 0}}%</p>
                                    <h2 class="p-2">
                                        +{{physicalActivity && physicalActivity.duration ? (Math.floor(physicalActivity.duration / 60000)) : '0'}}</h2>
                                    <small style="font-size: 16px;position: absolute; display: flex; bottom: 2px;">
                                        {{'PAGINATOR.OF'|translate}} {{activeMinutesValue ? (activeMinutesValue|number:'1.0-0') : 0}} {{'ACTIVITY.ACTIVE-MINUTES'|translate}}
                                    </small>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="removingActivity">
    <div class="externa">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                                <spinner
                                        [message]="'ACTIVITY.PHYSICAL-ACTIVITY.MODAL-REMOVE.SPINNER-MESSAGE'|translate"></spinner>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Fundo preto do modal-->
    <div class="modal-backdrop show">
    </div>
</div>

<modal-confirmation [message]="'ACTIVITY.PHYSICAL-ACTIVITY.MODAL-REMOVE.CONFIRM-UNIQUE-REMOVE'|translate"
                    (confirmation)="removeActivity()"
                    (close)="closeModalConfirmation()"></modal-confirmation>
