<!--
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{getMeasurementTypes()[selectedIndex].name}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2" >
      <button (click)="setSelectedIndex(i)" class="dropdown-item" type="button" *ngFor="let type of getMeasurementTypes();let i = index"> {{type.name}}</button>
    </div>

  </div>
-->


<!-- Button trigger modal -->
<button type="button" class="btn button-color" data-toggle="modal" data-target="#exampleModalCenter">
    Selecionar período
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Selecione o período</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-date-picker (outPutDate)="setRangeDate($event)"></app-date-picker>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn button-color" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>



<div class="selected-item">
  <ng-select  [multiple]="true"
              [items]="types"
              [disabled]="disabled"
              (data)="currentValues($event)"
              placeholder="Selecione o tipo de medição para mostrar"></ng-select>


</div>

<app-temperature-graph [inputRangeDate] = "selectedRangeDate" [hidden]="showMeasurementById(1)<0" [measurements]="mapMeasurementsData(1)"></app-temperature-graph>

<app-glucose-graph [hidden]="showMeasurementById(2)<0"></app-glucose-graph>