.form-control, .is-focused .form-control {
    background-image: linear-gradient(to top, #00a594 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px)!important;
}

.ui-select-choices-row.active[_ngcontent-c13] > a[_ngcontent-c13] {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #00a594;
}

/*
.ng-select.custom {
    border:0px!important;
    min-height: 0px!important;
    border-radius: 0!important;
}
.ng-select.custom .ng-select-container  {            
    min-height: 0px!important;
    border-radius: 0!important;
}

.ng-value-label.custom{
    background-color: #00a59433!important;
}

.ng-value.custom {
    
    background-color: #f5faff;
    border-radius: 2px;
    border: 1px solid #026359f1;
}
*/

.selected-item:active { 
    background-color: #00a594;
}

.center-elements{
    align-self: center!important;

}

.button-color{
    background-color: #00a594;
    border-color: #00a594;
}

.button-color:hover{
    background-color: #00a594;
    border-color: #00a594;
}

.padding-top-edit{
    padding-top: 0%!important;
}