<div class="content-wrapper">

  <section class="content-header">
    <h1>Profile</h1>
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="['/cliente/home']">
          <i class="fa fa-dashboard"></i> Dashboard</a>
      </li>
      <li class="active">Profile</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Main row -->
    <div class="row">

      <!-- left col -->
      <section class="col-lg-7 connectedSortable">

        

      </section>
      <!-- /.left col -->

      <!-- right col -->
      <section class="col-lg-5 connectedSortable">



      </section>
      <!-- /.right col -->

    </div>
    <!-- /.row (main row) -->

  </section>
  <!-- /.content -->

</div>
