<div class="logo">
    <a [routerLink]="['/app/dashboard']" id="linkLogo">
        <img src="/assets/img/haniot/silhueta-50x40.png"/>
        <span id="haniotTitle">{{'APP.TITLE' | translate}}</span>
    </a>
</div>
<div class="sidebar-wrapper">
    <div *ngIf="isMobileMenu()">
        <form class="navbar-form">
            <span class="bmd-form-group">
                <div class="input-group no-border">
                    <input type="text" value="" class="form-control" placeholder="Search...">
                    <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                </div>
            </span>
        </form>
        <ul class="nav navbar-nav nav-mobile-menu">
            <li class="nav-item dropdown">
                <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <span id="userName">{{userName}}.</span><i class="material-icons">settings</i>

                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">

                    <a class="dropdown-item background-green" href="javascript:void(0);"
                    >{{'SHARED.CONFIG' | translate}}</a>

                    <a class="dropdown-item background-green" href="javascript:void(0);"
                       (click)="logout()">{{'SHARED.LOGOUT' | translate}}</a>

                </div>
            </li>
        </ul>

    </div>
    <ul class="nav">

        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="['/app/dashboard']" *ngIf="verifyScopes('Dashboard')"
               (click)="openLoading()">
                <i class="material-icons">dashboard</i>
                <p>{{'SHARED.HOME-PAGE' | translate}}</p>
            </a>
        </li>

        <li routerLinkActive="active" class="nav-item" *ngIf="verifyScopes('Users')">
            <a class="nav-link" href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"
               (click)="onclickMenuUser()">
                <p>
                    {{'SIDEBAR.USERS' | translate}}
                    <i class="material-icons">{{iconUserMenu}}</i>
                </p>

            </a>
            <ul class="collapse list-unstyled submenu" id="pageSubmenu">
                <li routerLinkActive="active" class="nav-subitem">
                    <a class="nav-link" [routerLink]="['/app/admin/administrators']"
                       *ngIf="verifyScopes('Administrators')"
                       (click)="openLoading()">
                        <i class="material-icons">supervisor_account</i>
                        <p>{{'SIDEBAR.ADMINS' | translate}}</p>
                    </a>
                </li>
                <li routerLinkActive="active" class="nav-subitem">
                    <a class="nav-link" [routerLink]="['/app/admin/healthprofessionals']"
                       *ngIf="verifyScopes('HealthProfessionals')"
                       (click)="openLoading()">
                        <i class="material-icons">accessibility</i>
                        <p>{{'SIDEBAR.HEALTHPROFESSIONALS' | translate}}</p>
                    </a>
                </li>
            </ul>
        </li>

        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="['/app/pilotstudies']" *ngIf="verifyScopes('PilotStudies')"
               (click)="openLoading()">
                <i class="material-icons">find_replace</i>
                <p>{{'SHARED.PILOTSTUDIES' | translate}}</p>
            </a>
        </li>

        <li routerLinkActive="active" class="nav-item" *ngIf="isNotAdmin()" [ngClass]="activeMyPilots">
            <a class="nav-link"
               href="javascript:void(0)"
               *ngIf="verifyScopes('MyStudies')"
               (click)="myPilotStudies()">
                <i class="material-icons">library_books</i>
                <p>{{'SHARED.MY-STUDIES' | translate}}</p>
            </a>
        </li>

        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="['/app/patients']" *ngIf="verifyScopes('Patients')"
               (click)="openLoading()">
                <i class="material-icons">face</i>
                <p>{{'SHARED.PATIENTS' | translate}}</p>
            </a>
        </li>

        <li routerLinkActive="active" class="nav-item" *ngIf="isNotAdmin()" [ngClass]="activeMyEvaluations">
            <a class="nav-link"
               href="javascript:void(0)"
               *ngIf="verifyScopes('MyEvaluations')"
               (click)="myEvaluations()">
                <i class="material-icons">assignment</i>
                <p>{{'SHARED.MY-EVALUATIONS' | translate}}</p>
            </a>
        </li>

        <!--        <li routerLinkActive="active" class="nav-item">-->
        <!--            <a class="nav-link" href="#pageSubmenuEvaluation" data-toggle="collapse" aria-expanded="false"-->
        <!--               (click)="onClickMenuEvaluation()">-->
        <!--                <p>-->
        <!--                    Avaliações-->
        <!--                    <i class="material-icons">{{iconEvaluatioinMenu}}</i>-->
        <!--                </p>-->

        <!--            </a>-->
        <!--            <ul class="collapse list-unstyled submenu" id="pageSubmenuEvaluation">-->
        <!--                <li routerLinkActive="active" class="nav-subitem">-->
        <!--                    <a class="nav-link" [routerLink]="['/evaluations/nutritional']" *ngIf="verifyScopes('Avaliações')"-->
        <!--                       (click)="openLoading()">-->
        <!--                        <i class="material-icons">accessibility</i>-->
        <!--                        <p>Nutricionais</p>-->
        <!--                    </a>-->
        <!--                </li>-->
        <!--                <li routerLinkActive="active" class="nav-subitem">-->
        <!--                    <a class="nav-link" [routerLink]="['/evaluations/odontological']" *ngIf="verifyScopes('Avaliações')"-->
        <!--                       (click)="openLoading()">-->
        <!--                        <i class="material-icons">mood</i>-->
        <!--                        <p>Odontológicas</p>-->
        <!--                    </a>-->
        <!--                </li>-->
        <!--            </ul>-->
        <!--        </li>-->

    </ul>

</div>
