.submenu {
  position: relative;
  margin-left: 15px;
  width: 95%;
}

.nav-item {
}

#haniotTitle {
  color: #00675c;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin: 5px 5px;
}

.logo {
  display: flex;
}

#linkLogo {
  margin: auto auto;
}

.sidebar-wrapper {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}
