<div class="logo">
    <a [routerLink]="['/app/dashboard']" id="linkLogo">
        <img src="/assets/img/haniot/silhueta-50x40.png" alt="HANIoT"/>
        <span id="haniotTitle">{{'APP.TITLE' | translate}}</span>
    </a>
</div>

<div class="sidebar-wrapper">
    <div *ngIf="isMobileMenu()">
        <form class="navbar-form">
            <span class="bmd-form-group">
                <div class="input-group no-border">
                    <input type="text" value="" class="form-control" placeholder="Search...">
                    <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                </div>
            </span>
        </form>
        <ul class="nav navbar-nav nav-mobile-menu">
            <li class="nav-item dropdown">
                <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <span id="userName">{{userName}}.</span><i class="material-icons">settings</i>

                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">

                    <a class="dropdown-item background-green"
                       href="javascript:void(0);">{{'SHARED.CONFIG' | translate}}</a>

                    <a class="dropdown-item background-green" href="javascript:void(0);"
                       (click)="logout()">{{'SHARED.LOGOUT' | translate}}</a>

                </div>
            </li>
        </ul>

    </div>

    <ul class="nav">

        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="['/app/dashboard']" *ngIf="verifyScopes('Dashboard')">
                <i class="material-icons">dashboard</i>
                <p>{{'SHARED.HOME-PAGE' | translate}}</p>
            </a>
        </li>

        <li routerLinkActive="active" class="nav-item" *ngIf="verifyScopes('Users')">
            <a class="nav-link" href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"
               (click)="onClickMenuUser()">
                <p>
                    {{'SIDEBAR.USERS' | translate}}
                    <i class="material-icons">{{iconUserMenu}}</i>
                </p>

            </a>
            <ul class="collapse list-unstyled submenu" id="pageSubmenu">
                <li routerLinkActive="active" class="nav-subitem">
                    <a class="nav-link" [routerLink]="['/app/admin/administrators']"
                       *ngIf="verifyScopes('Administrators')">
                        <i class="material-icons">supervisor_account</i>
                        <p>{{'SIDEBAR.ADMINS' | translate}}</p>
                    </a>
                </li>
                <li routerLinkActive="active" class="nav-subitem">
                    <a class="nav-link" [routerLink]="['/app/admin/healthprofessionals']"
                       *ngIf="verifyScopes('HealthProfessionals')">
                        <i class="material-icons">accessibility</i>
                        <p>{{'SIDEBAR.HEALTHPROFESSIONALS' | translate}}</p>
                    </a>
                </li>
            </ul>
        </li>

        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="['/app/pilotstudies']" *ngIf="verifyScopes('PilotStudies')">
                <i class="material-icons">find_replace</i>
                <p>{{'SHARED.PILOTSTUDIES' | translate}}</p>
            </a>
        </li>

        <li routerLinkActive="active" class="nav-item" *ngIf="isNotAdmin()" [ngClass]="activeMyPilots">
            <a class="nav-link"
               href="javascript:void(0)"
               *ngIf="verifyScopes('MyStudies')"
               (click)="myPilotStudies()">
                <i class="material-icons">library_books</i>
                <p>{{'SHARED.MY-STUDIES' | translate}}</p>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#patientSubmenu" data-toggle="collapse" aria-expanded="false"
               (click)="onClickMenuPatient($event)"
               *ngIf="verifyScopes('Patients')">
                <p>
                    {{'SHARED.PATIENTS' | translate}}
                    <i class="material-icons">{{iconPatientMenu}}</i>
                </p>

            </a>
            <ul class="collapse list-unstyled submenu" [ngClass]="patientSelected?'show':''"
                id="patientSubmenu">
                <li routerLinkActive="active" class="nav-subitem">
                    <a class="nav-link" [routerLink]="['/app/patients',patientSelected,'dashboard']">
                        <i class="material-icons">dashboard</i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li routerLinkActive="active" class="nav-subitem">
                    <a class="nav-link" [routerLink]="['/app/patients',patientSelected,'measurements']">
                        <i class="material-icons">dashboard</i>
                        <p>Medições</p>
                    </a>
                </li>
                <li routerLinkActive="active" class="nav-subitem">
                    <a class="nav-link" [routerLink]="['/app/patients',patientSelected,'questionnaires']">
                        <i class="material-icons">dashboard</i>
                        <p>Questionairios</p>
                    </a>
                </li>
            </ul>
        </li>

        <li routerLinkActive="active" class="nav-item" *ngIf="isNotAdmin()" [ngClass]="activeMyEvaluations">
            <a class="nav-link"
               href="javascript:void(0)"
               *ngIf="verifyScopes('MyEvaluations')"
               (click)="myEvaluations()">
                <i class="material-icons">assignment</i>
                <p>{{'SHARED.MY-EVALUATIONS' | translate}}</p>
            </a>
        </li>

        <li routerLinkActive="active" class="nav-item" [ngClass]="activeEvaluations" *ngIf="getTypeUser()!=='patient'">
            <a class="nav-link"
               href="javascript:void(0)"
               *ngIf="verifyScopes('Evaluations')"
               (click)="nutritionalEvaluations()">
                <i class="material-icons">accessibility</i>
                <p>{{'PATIENTS.VIEW-HABITS.NUTRITION-EVALUATIONS' | translate}}</p>
            </a>
        </li>

    </ul>


    <div class="card card-stats card-studies"
         style="cursor: pointer"
         (click)="collapse()"
         [title]="'SIDEBAR.SELECTED-STUDY'|translate"
         *ngIf="study.id">
        <div class="card-header text-left" style="padding: 5px 10px">
            <p class="card-category text-left ellipsis" style="max-width: 300px">
                <i class=" material-icons">{{iconCollapse}}</i>
                {{study.name}}
            </p>
        </div>

        <div class="collapse show" id="collapseStudy" style="padding: 5px 10px">
            <hr style="margin: 0px 0px">
            <p class="card-title">{{'SIDEBAR.TOTAL-OF-PROFESSIONALS'|translate}}
                : {{study.total_health_professionals}}</p>
            <p class="card-title">{{'SIDEBAR.TOTAL-OF-PATIENTS'|translate}}: {{study.total_patients}}</p>
            <p class="card-title" style="margin-top: 5px; font-size: 12px">{{study.start|date:'shortDate'}}
                - {{study.end|date:'shortDate'}}</p>
        </div>
    </div>


</div>
