@import '../../../../assets/scss/template-colors';
.card .card-header-danger:not(.card-header-icon):not(.card-header-text), .card.bg-danger, .card.card-rotate.bg-danger .front, .card.card-rotate.bg-danger .back {
  background: $primary-color !important;
}

.card-title{
  margin-left: 5px !important;
  color: white !important;
}
