<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">

                <div class="card">
                    <div class="card-header card-header-tabs card-header-danger">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">
                                    <h4 class="card-title">{{'ACTIVITY.SLEEP.TITLE'|translate}}</h4>
                                    <p class="card-category">
                                            {{sleepSelected ? (sleepSelected.start_time | date) : ''}},
                                        {{'ACTIVITY.BETWEEN'|translate}} {{sleepSelected ? (sleepSelected.start_time | date:'shortTime') + ('HABITS.SLEEP.TIME-ABBREVIATION'|translate) : ''}}
                                        {{'SHARED.AND'|translate}}
                                        {{sleepSelected ? (sleepSelected.end_time | date:'shortTime') + ('HABITS.SLEEP.TIME-ABBREVIATION'|translate) : ''}}
                                    </p>
                                </span>
                            </div>
                        </div>
                        <div class="nav-tabs-navigation" style="float:right">
                            <span class="nav-tabs-title">
                                        <h4 class="card-title text-center" title="Duração e eficiência do sono...">
                                            {{sleepSelected ? (sleepSelected.duration|millisecond) : '- -'}} - {{(sleepEfficiency| number:'1.0-0') + '%'}}
                                        </h4>
                                <span *ngIf="sleepSelected && (sleepSelected.duration / 3600000)>=IDEAL_SLEEP_VALUE"
                                      class="text-center">
                                        <p class="card-category">
                                            <i class="material-icons"
                                               [title]="'ACTIVITY.SLEEP.REACHED-THE-IDEAL'|translate"
                                               style="color: white">star</i> {{'ACTIVITY.SLEEP.GOAL-ACHIEVED'|translate}}</p>
                                    </span>
                                    </span>
                            <ul class="nav nav-tabs shared" data-tabs="tabs">
                                <li class="nav-item">
                                    <button type="button"
                                            class="borderNone"
                                            [title]="'ACTIVITY.REMOVE'|translate" (click)="openModalConfirmation()">
                                        <i class="material-icons remove-register">delete</i>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="container-fluid">
                        <div class="row fadeIn">

                            <div class="divSpinner" *ngIf="loadingSleep">
                                <spinner [message]="'ACTIVITY.SLEEP.LOADING'|translate"></spinner>
                            </div>

                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 row justify-content-center"
                                 *ngIf="sleepSelected && sleepSelected.type===sleepTypes.classic">
                                <!-- AWAKE -->
                                <div class="col-sm col-md-4 col-lg-4 col-xl-4">
                                    <div class="card card-stats">
                                        <div class="card-header card-header-timer card-header-icon">
                                            <div class="card-icon">
                                                <!--                                            <div class="bg-height"></div>-->
                                                <img src="../../../../assets/img/time-series/awake-white.svg" width="40"
                                                     height="40">
                                            </div>
                                            <h4 class="card-title">
                                                {{'ACTIVITY.PIPES.SLEEP.AWAKE'|translate}}
                                            </h4>
                                        </div>
                                        <div class="card-footer justify-content-center">
                                            <h3 class="card-title">
                                                {{Math.floor((sleepSelected.pattern.summary.awake.duration / 3600000)) + ('HABITS.SLEEP.TIME-ABBREVIATION'|translate) }}
                                                {{(sleepSelected.pattern.summary.awake.duration % 3600000) ?
                                                ('SHARED.AND'|translate) + ' ' + Math.floor((sleepSelected.pattern.summary.awake.duration % 3600000) / 60000) +
                                                ('HABITS.SLEEP.MINUTES-ABBREVIATION'|translate) : undefined
                                                }}
                                            </h3>
                                        </div>
                                    </div>

                                </div>
                                <!-- RESTLESS -->
                                <div class="col-sm col-md-4 col-lg-4 col-xl-4">
                                    <div class="card card-stats">
                                        <div class="card-header card-header-timer card-header-icon">
                                            <div class="card-icon">
                                                <!--                                            <div class="bg-height"></div>-->
                                                <img src="../../../../assets/img/time-series/restless-white.svg"
                                                     width="40"
                                                     height="40">
                                            </div>
                                            <h4 class="card-title">
                                                {{'ACTIVITY.PIPES.SLEEP.RESTLESS'|translate}}
                                            </h4>
                                        </div>
                                        <div class="card-footer justify-content-center">
                                            <h3 class="card-title">
                                                {{Math.floor((sleepSelected.pattern.summary.restless.duration / 3600000)) + ('HABITS.SLEEP.TIME-ABBREVIATION'|translate) }}
                                                {{(sleepSelected.pattern.summary.restless.duration % 3600000) ?
                                                ('SHARED.AND'|translate) + ' ' + Math.floor((sleepSelected.pattern.summary.restless.duration % 3600000) / 60000) +
                                                ('HABITS.SLEEP.MINUTES-ABBREVIATION'|translate) : undefined
                                                }}
                                            </h3>
                                        </div>
                                    </div>

                                </div>
                                <!-- ASLEEP -->
                                <div class="col-sm col-md-4 col-lg-4 col-xl-4">
                                    <div class="card card-stats">
                                        <div class="card-header card-header-timer card-header-icon">
                                            <div class="card-icon">
                                                <!--                                            <div class="bg-height"></div>-->
                                                <img src="../../../../assets/img/time-series/asleep-white.svg"
                                                     width="40"
                                                     height="40">
                                            </div>
                                            <h4 class="card-title">
                                                {{'ACTIVITY.PIPES.SLEEP.ASLEEP'|translate}}
                                            </h4>
                                        </div>
                                        <div class="card-footer justify-content-center">
                                            <h3 class="card-title">
                                                {{Math.floor((sleepSelected.pattern.summary.asleep.duration / 3600000)) + ('HABITS.SLEEP.TIME-ABBREVIATION'|translate) }}
                                                {{(sleepSelected.pattern.summary.asleep.duration % 3600000) ?
                                                ('SHARED.AND'|translate) + ' ' + Math.floor((sleepSelected.pattern.summary.asleep.duration % 3600000) / 60000) +
                                                ('HABITS.SLEEP.MINUTES-ABBREVIATION'|translate) : undefined
                                                }}
                                            </h3>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 row justify-content-center"
                                 *ngIf="sleepSelected && sleepSelected.type===sleepTypes.stages">
                                <!-- AWAKE -->
                                <div class="col-sm col-md-3 col-lg-3 col-xl-3">
                                    <div class="card card-stats">
                                        <div class="card-header card-header-timer card-header-icon">
                                            <div class="card-icon">
                                                <!--                                            <div class="bg-height"></div>-->
                                                <img src="../../../../assets/img/time-series/awake-white.svg" width="40"
                                                     height="40">
                                            </div>
                                            <h4 class="card-title">
                                                {{'ACTIVITY.PIPES.SLEEP.AWAKE'|translate}}
                                            </h4>
                                        </div>
                                        <div class="card-footer justify-content-center">
                                            <h3 class="card-title">
                                                {{Math.floor((sleepSelected.pattern.summary.awake.duration / 3600000)) + ('HABITS.SLEEP.TIME-ABBREVIATION'|translate) }}
                                                {{(sleepSelected.pattern.summary.awake.duration % 3600000) ?
                                                ('SHARED.AND'|translate) + ' ' + Math.floor((sleepSelected.pattern.summary.awake.duration % 3600000) / 60000) +
                                                ('HABITS.SLEEP.MINUTES-ABBREVIATION'|translate) : undefined
                                                }}
                                            </h3>
                                        </div>
                                    </div>

                                </div>
                                <!-- REM -->
                                <div class="col-sm col-md-3 col-lg-3 col-xl-3">
                                    <div class="card card-stats">
                                        <div class="card-header card-header-timer card-header-icon">
                                            <div class="card-icon">
                                                <!--                                            <div class="bg-height"></div>-->
                                                <img src="../../../../assets/img/time-series/rem-white.svg" width="40"
                                                     height="40">
                                            </div>
                                            <h4 class="card-title">
                                                {{'ACTIVITY.PIPES.SLEEP.REM'|translate}}
                                            </h4>
                                        </div>
                                        <div class="card-footer justify-content-center">
                                            <h3 class="card-title">
                                                {{Math.floor((sleepSelected.pattern.summary.rem.duration / 3600000)) + ('HABITS.SLEEP.TIME-ABBREVIATION'|translate) }}
                                                {{(sleepSelected.pattern.summary.rem.duration % 3600000) ?
                                                ('SHARED.AND'|translate) + ' ' + Math.floor((sleepSelected.pattern.summary.rem.duration % 3600000) / 60000) +
                                                ('HABITS.SLEEP.MINUTES-ABBREVIATION'|translate) : undefined
                                                }}
                                            </h3>
                                        </div>
                                    </div>

                                </div>
                                <!-- LIGHT -->
                                <div class="col-sm col-md-3 col-lg-3 col-xl-3">
                                    <div class="card card-stats">
                                        <div class="card-header card-header-timer card-header-icon">
                                            <div class="card-icon">
                                                <!--                                            <div class="bg-height"></div>-->
                                                <img src="../../../../assets/img/time-series/light-white.svg" width="40"
                                                     height="40">
                                            </div>
                                            <h4 class="card-title">
                                                {{'ACTIVITY.PIPES.SLEEP.LIGHT'|translate}}
                                            </h4>
                                        </div>
                                        <div class="card-footer justify-content-center">
                                            <h3 class="card-title">
                                                {{Math.floor((sleepSelected.pattern.summary.light.duration / 3600000)) + ('HABITS.SLEEP.TIME-ABBREVIATION'|translate) }}
                                                {{(sleepSelected.pattern.summary.light.duration % 3600000) ?
                                                ('SHARED.AND'|translate) + ' ' + Math.floor((sleepSelected.pattern.summary.light.duration % 3600000) / 60000) +
                                                ('HABITS.SLEEP.MINUTES-ABBREVIATION'|translate) : undefined
                                                }}
                                            </h3>
                                        </div>
                                    </div>

                                </div>
                                <!-- DEEP -->
                                <div class="col-sm col-md-3 col-lg-3 col-xl-3">
                                    <div class="card card-stats">
                                        <div class="card-header card-header-timer card-header-icon">
                                            <div class="card-icon">
                                                <!--                                            <div class="bg-height"></div>-->
                                                <img src="../../../../assets/img/time-series/deep-white.svg" width="40"
                                                     height="40">
                                            </div>
                                            <h4 class="card-title">
                                                {{'ACTIVITY.PIPES.SLEEP.DEEP'|translate}}
                                            </h4>
                                        </div>
                                        <div class="card-footer justify-content-center">
                                            <h3 class="card-title">
                                                {{Math.floor((sleepSelected.pattern.summary.deep.duration / 3600000)) + ('HABITS.SLEEP.TIME-ABBREVIATION'|translate) }}
                                                {{(sleepSelected.pattern.summary.deep.duration % 3600000) ?
                                                ('SHARED.AND'|translate) + ' ' + Math.floor((sleepSelected.pattern.summary.deep.duration % 3600000) / 60000) +
                                                ('HABITS.SLEEP.MINUTES-ABBREVIATION'|translate) : undefined
                                                }}
                                            </h3>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 align-self-center echarts-div-graph"
                                 echarts
                                 [options]="sleepStages"
                                 (chartInit)="onStagesChartInit($event)"></div>

                            <!-- LEGEND -->
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"
                                 *ngIf="sleepSelected && sleepSelected.type===sleepTypes.classic">
                                <div class="d-flex justify-content-around">
                                    <div class="p-2">
                                        <div style="display: flex;flex-direction: column">
                                            <div style="display: flex;">
                                                <div class="card-legend"
                                                     [ngStyle]="{'background-color':'#FF1114'}"></div>
                                                <h4 style="padding-left: 5px">
                                                    {{'ACTIVITY.PIPES.SLEEP.AWAKE'|translate}}
                                                    - {{(((sleepSelected.pattern.summary.awake.duration * 100) / sleepSelected.duration)|number:'1.0-0') + '%'}}
                                                </h4>
                                            </div>
                                            <label class="text-center" style="font-weight: normal; color:unset">
                                                {{
                                                sleepSelected.pattern.summary.awake.count > 1 ?
                                                    sleepSelected.pattern.summary.awake.count + ' ' + ('SHARED.TIMES'|translate)
                                                    :
                                                    ('SHARED.ONLY'|translate) + ' ' + sleepSelected.pattern.summary.awake.count + ' ' + ('SHARED.TURN'|translate)
                                                }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="p-2" style="display: flex">
                                        <div style="display: flex;flex-direction: column">
                                            <div style="display: flex;">
                                                <div class="card-legend"
                                                     [ngStyle]="{'background-color':'#1982C8'}"></div>
                                                <h4 style="padding-left: 5px">
                                                    {{'ACTIVITY.PIPES.SLEEP.RESTLESS'|translate}}
                                                    - {{(((sleepSelected.pattern.summary.restless.duration * 100) / sleepSelected.duration)|number:'1.0-0') + '%'}}
                                                </h4>
                                            </div>
                                            <label class="text-center"
                                                   style="font-weight: normal; color:unset">
                                                {{
                                                sleepSelected.pattern.summary.restless.count > 1 ?
                                                    sleepSelected.pattern.summary.restless.count + ' ' + ('SHARED.TIMES'|translate)
                                                    :
                                                    ('SHARED.ONLY'|translate) + ' ' + sleepSelected.pattern.summary.restless.count + ' ' + ('SHARED.TURN'|translate)
                                                }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="p-2" style="display: flex">
                                        <div style="display: flex;flex-direction: column">
                                            <div style="display: flex;">
                                                <div class="card-legend"
                                                     [ngStyle]="{'background-color':'#6C8A80'}"></div>
                                                <h4 style="padding-left: 5px">
                                                    {{'ACTIVITY.PIPES.SLEEP.ASLEEP'|translate}}
                                                    - {{(((sleepSelected.pattern.summary.asleep.duration * 100) / sleepSelected.duration)|number:'1.0-0') + '%'}}
                                                </h4>
                                            </div>
                                            <label class="text-center"
                                                   style="font-weight: normal; color:unset">
                                                {{
                                                sleepSelected.pattern.summary.asleep.count > 1 ?
                                                    sleepSelected.pattern.summary.asleep.count + ' ' + ('SHARED.TIMES'|translate)
                                                    :
                                                    ('SHARED.ONLY'|translate) + ' ' + sleepSelected.pattern.summary.asleep.count + ' ' + ('SHARED.TURN'|translate)
                                                }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- LEGEND -->
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"
                                 *ngIf="sleepSelected && sleepSelected.type===sleepTypes.stages">
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="d-flex justify-content-around">
                                        <div class="p-2">
                                            <div style="display: flex;flex-direction: column">
                                                <div style="display: flex;">
                                                    <div class="card-legend"
                                                         [ngStyle]="{'background-color':'#FF1114'}"></div>
                                                    <h4 style="padding-left: 5px">
                                                        {{'ACTIVITY.PIPES.SLEEP.AWAKE'|translate}}
                                                        - {{(((sleepSelected.pattern.summary.awake.duration * 100) / sleepSelected.duration)|number:'1.0-0') + '%'}}
                                                    </h4>
                                                </div>
                                                <label class="text-center" style="font-weight: normal; color:unset">
                                                    {{
                                                    sleepSelected.pattern.summary.awake.count > 1 ?
                                                        sleepSelected.pattern.summary.awake.count + ' ' + ('SHARED.TIMES'|translate)
                                                        :
                                                        ('SHARED.ONLY'|translate) + ' ' + sleepSelected.pattern.summary.awake.count + ' ' + ('SHARED.TURN'|translate)
                                                    }}
                                                </label>
                                            </div>
                                        </div>
                                        <div class="p-2">
                                            <div style="display: flex;flex-direction: column">
                                                <div style="display: flex;">
                                                    <div class="card-legend"
                                                         [ngStyle]="{'background-color':'#9F95C1'}"></div>
                                                    <h4 style="padding-left: 5px">
                                                        {{'ACTIVITY.PIPES.SLEEP.REM'|translate}}
                                                        - {{(((sleepSelected.pattern.summary.rem.duration * 100) / sleepSelected.duration)|number:'1.0-0') + '%'}}
                                                    </h4>
                                                </div>
                                                <label class="text-center" style="font-weight: normal; color:unset">
                                                    {{
                                                    sleepSelected.pattern.summary.rem.count > 1 ?
                                                        sleepSelected.pattern.summary.rem.count + ' ' + ('SHARED.TIMES'|translate)
                                                        :
                                                        ('SHARED.ONLY'|translate) + ' ' + sleepSelected.pattern.summary.rem.count + ' ' + ('SHARED.TURN'|translate)
                                                    }}
                                                </label>
                                            </div>
                                        </div>
                                        <div class="p-2">
                                            <div style="display: flex;flex-direction: column">
                                                <div style="display: flex;">
                                                    <div class="card-legend"
                                                         [ngStyle]="{'background-color':'#51C5D9'}"></div>
                                                    <h4 style="padding-left: 5px">
                                                        {{'ACTIVITY.PIPES.SLEEP.LIGHT'|translate}}
                                                        - {{(((sleepSelected.pattern.summary.light.duration * 100) / sleepSelected.duration)|number:'1.0-0') + '%'}}
                                                    </h4>
                                                </div>
                                                <label class="text-center" style="font-weight: normal; color:unset">
                                                    {{
                                                    sleepSelected.pattern.summary.light.count > 1 ?
                                                        sleepSelected.pattern.summary.light.count + ' ' + ('SHARED.TIMES'|translate)
                                                        :
                                                        ('SHARED.ONLY'|translate) + ' ' + sleepSelected.pattern.summary.light.count + ' ' + ('SHARED.TURN'|translate)
                                                    }}
                                                </label>
                                            </div>
                                        </div>
                                        <div class="p-2">
                                            <div style="display: flex;flex-direction: column">
                                                <div style="display: flex;">
                                                    <div class="card-legend"
                                                         [ngStyle]="{'background-color':'#1C91C4'}"></div>
                                                    <h4 style="padding-left: 5px">
                                                        {{'ACTIVITY.PIPES.SLEEP.DEEP'|translate}}
                                                        - {{(((sleepSelected.pattern.summary.deep.duration * 100) / sleepSelected.duration)|number:'1.0-0') + '%'}}
                                                    </h4>
                                                </div>
                                                <label class="text-center" style="font-weight: normal; color:unset">
                                                    {{
                                                    sleepSelected.pattern.summary.deep.count > 1 ?
                                                        sleepSelected.pattern.summary.deep.count + ' ' + ('SHARED.TIMES'|translate)
                                                        :
                                                        ('SHARED.ONLY'|translate) + ' ' + sleepSelected.pattern.summary.deep.count + ' ' + ('SHARED.TURN'|translate)
                                                    }}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="row fadeIn" *ngIf="!includeCard">
                    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-3 row justify-content-center">

                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="card card-stats">
                                <div class="card-header card-header-timer card-header-icon">
                                    <div class="card-icon">
                                        <div class="bg-height"></div>
                                    </div>
                                    <p class="card-category">{{'ACTIVITY.PIPES.SLEEP.AWAKE'|translate}}: </p>
                                    <h3 class="card-title">
                                        {{sleepSelected.pattern.summary.awake.count + '%'}}
                                    </h3>
                                    <!--                    <h3 class="card-title" *ngIf="lastData && lastData.value">-->
                                    <!--                        {{lastData.value + '' + lastData.unit}}-->
                                    <!--                    </h3>-->
                                    <!--                    <h3 class="card-title" *ngIf="!lastData || !lastData.value">-->
                                    <!--                        {{'MEASUREMENTS.VALUE'|translate}}-->
                                    <!--                    </h3>-->
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="card card-stats">
                                <div class="card-header card-header-timer card-header-icon">
                                    <div class="card-icon">
                                        <div class="bg-height"></div>
                                    </div>
                                    <p class="card-category">{{'ACTIVITY.PIPES.SLEEP.RESTLESS'|translate}}: </p>
                                    <h3 class="card-title">
                                        {{sleepSelected.pattern.summary.restless.count + '%'}}
                                    </h3>
                                    <!--                    <h3 class="card-title" *ngIf="lastData && lastData.value">-->
                                    <!--                        {{lastData.value + '' + lastData.unit}}-->
                                    <!--                    </h3>-->
                                    <!--                    <h3 class="card-title" *ngIf="!lastData || !lastData.value">-->
                                    <!--                        {{'MEASUREMENTS.VALUE'|translate}}-->
                                    <!--                    </h3>-->
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="card card-stats">
                                <div class="card-header card-header-timer card-header-icon">
                                    <div class="card-icon">
                                        <div class="bg-height"></div>
                                    </div>
                                    <p class="card-category">{{'ACTIVITY.PIPES.SLEEP.ASLEEP'|translate}}: </p>
                                    <h3 class="card-title">
                                        {{sleepSelected.pattern.summary.asleep.count + '%'}}
                                    </h3>
                                    <!--                    <h3 class="card-title" *ngIf="lastData && lastData.value">-->
                                    <!--                        {{lastData.value + '' + lastData.unit}}-->
                                    <!--                    </h3>-->
                                    <!--                    <h3 class="card-title" *ngIf="!lastData || !lastData.value">-->
                                    <!--                        {{'MEASUREMENTS.VALUE'|translate}}-->
                                    <!--                    </h3>-->
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-9 align-self-center echarts-div-graph"
                         echarts
                         [options]="sleepStages"
                         (chartInit)="onStagesChartInit($event)"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="removingSleep">
    <div class="externa">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                                <spinner [message]="'ACTIVITY.SLEEP.SPINNER-MESSAGE'|translate"></spinner>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Fundo preto do modal-->
    <div class="modal-backdrop show">
    </div>
</div>

<modal-confirmation [message]="'ACTIVITY.SLEEP.DELETE-CONFIRMATION'|translate"
                    (confirmation)="removeSleep()"
                    (noconfirmation)="closeModalConfirmation()"></modal-confirmation>