$primary-color: #00a594 !default;
$primary-color-light: #25c5b5 !default;

$background-color: #ececec !default;

$app-title-color:  #00675c !default;

$sidebar-bg-color: #ececec !default;
$sidebar-active-color: #00a594 !default;
