<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <haniot-card [title]="patientId && pilotStudyId?'Editar paciente':'Criar um paciente'" subtitle=''>
          <form [formGroup]="patientForm">

            <div class="row">
              <div class="form-group has-feedback col-md"
                [ngClass]="{'has-success': patientForm.controls.first_name.valid,
              'has-error': patientForm.controls.first_name.invalid && (patientForm.controls.first_name.touched || patientForm.controls.first_name.dirty)}">
                <label for="first_name">
                  Nome:
                </label>
                <input class="form-control" type="text" formControlName="first_name" id="first_name">
                <span *ngIf="patientForm.controls.first_name.valid" class="glyphicon glyphicon-ok form-control-feedback"
                  aria-hidden="true"></span>
                <span
                  *ngIf="patientForm.controls.first_name.invalid && (patientForm.controls.first_name.touched || patientForm.controls.first_name.dirty)">
                  <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                  <span class="text-danger">Nome inválido.</span>
                </span>
              </div>

              <div class="form-group has-feedback col-md"
                [ngClass]="{'has-success': patientForm.controls.last_name.valid,
              'has-error': patientForm.controls.last_name.invalid && (patientForm.controls.last_name.touched || patientForm.controls.last_name.dirty)}">
                <label for="last_name">
                  Sobrenome:
                </label>
                <input class="form-control" type="text" formControlName="last_name" id="last_name">
                <span *ngIf="patientForm.controls.last_name.valid" class="glyphicon glyphicon-ok form-control-feedback"
                  aria-hidden="true"></span>
                <span
                  *ngIf="patientForm.controls.last_name.invalid && (patientForm.controls.last_name.touched || patientForm.controls.last_name.dirty)">
                  <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                  <span class="text-danger">Sobrenome inválido.</span>
                </span>
              </div>

            </div>


            <div class="row">

              <div class="form-group has-feedback col-md"
                [ngClass]="{'has-success': patientForm.controls.gender.valid,
                'has-error': patientForm.controls.gender.invalid && (patientForm.controls.gender.touched || patientForm.controls.gender.dirty)}">
                <label for="gender">
                  Gênero:
                </label>
                <select class="form-control" formControlName="gender" name="gender" id="gender">
                  <option *ngFor="let itemGender of optionsGender" [value]="itemGender">{{itemGender | gender}}</option>
                </select>
                <span *ngIf="patientForm.controls.gender.valid" class="glyphicon glyphicon-ok form-control-feedback"
                  aria-hidden="true"></span>
                <span
                  *ngIf="patientForm.controls.gender.invalid && (patientForm.controls.gender.touched || patientForm.controls.gender.dirty)">
                  <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                  <span class="text-danger">Gênero inválido.</span>
                </span>
              </div>

              <div class="form-group has-feedback col-md"
                [ngClass]="{'has-success': patientForm.controls.birth_date.valid,
            'has-error': patientForm.controls.birth_date.invalid && (patientForm.controls.birth_date.touched || patientForm.controls.birth_date.dirty)}">
                <label for="end">
                  Date de nascimento:
                </label>
                <div class="row">
                  <div class="col-md-10">
                    <input matInput class="form-control" [matDatepicker]="pickerBirthDate" formControlName="birth_date"
                      name="birth_date" data-date-format="yyyy-MM-dd" placeholder="Selecione a data de nascimento">
                  </div>
                  <div class="col-md-2">
                    <mat-datepicker-toggle matSuffix [for]="pickerBirthDate"></mat-datepicker-toggle>
                    <mat-datepicker #pickerBirthDate></mat-datepicker>
                  </div>
                </div>
                <span *ngIf="patientForm.controls.birth_date.valid" class="glyphicon glyphicon-ok form-control-feedback"
                  aria-hidden="true"></span>
                <span
                  *ngIf="patientForm.controls.birth_date.invalid && (patientForm.controls.birth_date.touched || patientForm.controls.birth_date.dirty)">
                  <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                  <span class="text-danger">Data de nascimento inválida.</span>
                </span>
              </div>



            </div>

            <div class="row">


              <div class="form-group has-feedback col-md"
                [ngClass]="{'has-success': patientForm.controls.gender.valid,
                  'has-error': patientForm.controls.gender.invalid && (patientForm.controls.gender.touched || patientForm.controls.gender.dirty)}">
                <label for="pilotstudy_id">
                  Estudo associado:
                </label>
                <select class="form-control" formControlName="pilotstudy_id" name="pilotstudy_id" id="pilotstudy_id">
                  <option value="undefined">- - - - selecione um estudo - - - -</option>
                  <option *ngFor="let pilot of listPilots" [value]="pilot.id">{{pilot.name}}</option>
                </select>
                <span *ngIf="patientForm.controls.pilotstudy_id.valid"
                  class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                <span
                  *ngIf="patientForm.controls.pilotstudy_id.invalid && (patientForm.controls.pilotstudy_id.touched || patientForm.controls.pilotstudy_id.dirty)">
                  <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                  <span class="text-danger">Estudo inválido.</span>
                </span>
              </div>


            </div>



            <div class="row container">
              <div class="col-md">
                <button type="button" class="btn btn-haniot-primary" (click)="onSubimt()" [disabled]="!patientForm.valid">
                  Salvar </button>
              </div>

              <div class="col-md">
                <button type="button" class="btn btn-haniot-secondary" (click)="onBack()">
                  <i class="material-icons">arrow_back</i>
                  Voltar
                </button>
              </div>
            </div>

          </form>
        </haniot-card>
      </div>
    </div>
  </div>
</div>