<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <weight [data]="listWeight"></weight>
    </div>
    
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <height [data]="listHeight"></height>
    </div>
    
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <waist-circunference [data]="listWaistCircunference"></waist-circunference>
    </div>
    
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <body-temperature [data]="listBodyTemperature"></body-temperature>
    </div>
    
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <blood-glucose [data]="listBloodGlucose"></blood-glucose>
    </div>
    
  </div>
</div>