<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Configurar gráficos visíveis
                    </mat-panel-title>
                    <mat-panel-description>
                        Clique para expandir/retrair...
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row justify-content-center" id="config-graph">

                    <div class="col-sm col-md col-lg col-xl d-flex flex-row-reverse border-config">
                        <div class="p-2">
                            <mat-slide-toggle class="paddin55" [color]="'accent'" [(ngModel)]="configVisibility.weight">
                            </mat-slide-toggle>
                        </div>
                        <div class="p-2"><label> Peso: </label></div>
                    </div>

                    <div class="col-sm col-md col-lg col-xl d-flex flex-row-reverse border-config">
                        <div class="p-2">
                            <mat-slide-toggle class="paddin55" [color]="'accent'" [(ngModel)]="configVisibility.height">
                            </mat-slide-toggle>
                        </div>
                        <div class="p-2"><label> Altura: </label></div>
                    </div>

                    <div class="col-sm col-md col-lg col-xl d-flex flex-row-reverse border-config"
                         *ngIf="userHealthArea === 'nutrition' || userHealthArea === 'admin'">
                        <div class="p-2">
                            <mat-slide-toggle class="paddin55" [color]="'accent'"
                                              [(ngModel)]="configVisibility.fat"></mat-slide-toggle>
                        </div>
                        <div class="p-2"><label> Gordura corporal: </label></div>
                    </div>

                    <div class="col-sm col-md col-lg col-xl d-flex flex-row-reverse border-config">
                        <div class="p-2">
                            <mat-slide-toggle class="paddin55" [color]="'accent'"
                                              [(ngModel)]="configVisibility.circumference"></mat-slide-toggle>
                        </div>
                        <div class="p-2"><label> Circunferência da cintura: </label></div>
                    </div>

                    <div class="col-sm col-md col-lg col-xl d-flex flex-row-reverse border-config"
                         *ngIf="userHealthArea === 'nutrition' || userHealthArea === 'admin'">
                        <div class="p-2">
                            <mat-slide-toggle class="paddin55" [color]="'accent'"
                                              [(ngModel)]="configVisibility.temperature"></mat-slide-toggle>
                        </div>
                        <div class="p-2"><label> Temperatura corporal: </label></div>
                    </div>

                    <div class="col-sm col-md col-lg col-xl d-flex flex-row-reverse border-config">
                        <div class="p-2">
                            <mat-slide-toggle class="paddin55" [color]="'accent'"
                                              [(ngModel)]="configVisibility.glucose">
                            </mat-slide-toggle>
                        </div>
                        <div class="p-2"><label> Glicose no sangue: </label></div>
                    </div>

                    <div class="col-sm col-md col-lg col-xl d-flex flex-row-reverse border-config"
                         *ngIf="userHealthArea === 'nutrition' || userHealthArea === 'admin'">
                        <div class="p-2">
                            <mat-slide-toggle class="paddin55" [color]="'accent'"
                                              [(ngModel)]="configVisibility.pressure">
                            </mat-slide-toggle>
                        </div>
                        <div class="p-2"><label> Pressão sanguínea: </label></div>
                    </div>


                    <div class="col-sm col-md col-lg col-xl d-flex flex-row-reverse border-config"
                         *ngIf="userHealthArea === 'nutrition' || userHealthArea === 'admin'">
                        <div class="p-2">
                            <mat-slide-toggle class="paddin55" [color]="'accent'"
                                              [(ngModel)]="configVisibility.heartRate"></mat-slide-toggle>
                        </div>
                        <div class="p-2"><label> Frequência cardíaca: </label></div>
                    </div>

                </div>
            </mat-expansion-panel>

        </div>
    </div>

    <div class="row">


        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" *ngIf="configVisibility.weight">
            <weight [data]="listWeight"></weight>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" *ngIf="configVisibility.height">
            <height [data]="listHeight"></height>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"
             *ngIf="configVisibility.fat && userHealthArea === 'nutrition' || userHealthArea === 'admin'">
            <fat [data]="listFat"></fat>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" *ngIf="configVisibility.circumference">
            <waist-circunference [data]="listWaistCircunference"></waist-circunference>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"
             *ngIf="configVisibility.temperature && userHealthArea === 'nutrition' || userHealthArea === 'admin'">
            <body-temperature [data]="listBodyTemperature"></body-temperature>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" *ngIf="configVisibility.glucose">
            <blood-glucose [data]="listBloodGlucose"></blood-glucose>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"
             *ngIf="configVisibility.pressure && userHealthArea === 'nutrition' || userHealthArea === 'admin'">
            <blood-pressure [data]="listBloodPressure"></blood-pressure>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"
             *ngIf="configVisibility.heartRate && userHealthArea === 'nutrition' || userHealthArea === 'admin'">
            <heart-rate [data]="listHeartRate"></heart-rate>
        </div>

    </div>
</div>
