<article class="card">
    <span class="card__link" [ngClass]="urlAction?'cursorPointer':'cursorNormal'">

        <!-- Header -->
        <div class="card__header" [routerLink]="urlAction">
            <h3 class="card__header-title">{{title}}</h3>
            <p class="card__header-meta">{{subtitle}}</p>

            <div class="card__header-icon" *ngIf="urlAction"
                 [title]="'SHARED.VIEW-MORE'|translate">
                <svg viewbox="0 0 28 25">
                    <path fill="#000000"
                          d="M13.145 2.13l1.94-1.867 12.178 12-12.178 12-1.94-1.867 8.931-8.8H.737V10.93h21.339z"/>
                </svg>
            </div>
        </div>

        <!-- Icon -->
        <div class="card__icon" *ngIf="icon && iconTitle" [routerLink]="urlAction">
            <i class="material-icons" style="font-size: 50px" [title]="iconTitle">{{icon}}</i>
        </div>


        <!-- Media
        <div class="card__media" style="border: 1px solid black;">

            <ng-content></ng-content>

        </div>
         -->

        <ng-content>

        </ng-content>

    </span>
</article>

