<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <haniot-card title="Lista de pacientes" [subtitle]="subtitle">
          <patient-table [pilotStudyId]="pilotStudyId"></patient-table>
        </haniot-card>
      </div>
      <div class="row container">
        <div class="col-md-6">
          <button type="submit" class="btn btn-default" (click)="newPatient()">
            Adicionar
            <i class="material-icons">add</i>
          </button>
        </div>
        <div class="col-md-6">
          <button type="button" class="btn btn-danger" (click)="onBack()">
            <i class="material-icons">arrow_back</i>
            Voltar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>