<div *ngIf="typeOfMeasurement === allTypesOfMeasurement.weight">
    <weight [dataForGraph]="list" [filterVisibility]="true" [patientId]="patientId"
            [showSpinner]="!list.length && !listIsEmpty"></weight>
</div>

<div *ngIf="typeOfMeasurement === allTypesOfMeasurement.body_fat">
    <fat [dataForGraph]="list" [filterVisibility]="true" [patientId]="patientId"
         [showSpinner]="!list.length && !listIsEmpty"></fat>
</div>

<div *ngIf="typeOfMeasurement === allTypesOfMeasurement.height">
    <height [dataForGraph]="list" [filterVisibility]="true" [patientId]="patientId"
            [showSpinner]="!list.length && !listIsEmpty"></height>
</div>

<div *ngIf="typeOfMeasurement === allTypesOfMeasurement.waist_circumference">
    <waist-circunference [dataForGraph]="list" [filterVisibility]="true" [patientId]="patientId"
                         [showSpinner]="!list.length && !listIsEmpty"></waist-circunference>
</div>

<div *ngIf="typeOfMeasurement === allTypesOfMeasurement.body_temperature">
    <body-temperature [dataForGraph]="list" [filterVisibility]="true" [patientId]="patientId"
                      [showSpinner]="!list.length && !listIsEmpty"></body-temperature>
</div>

<div *ngIf="typeOfMeasurement === allTypesOfMeasurement.blood_glucose">
    <blood-glucose [dataForGraph]="list" [filterVisibility]="true" [patientId]="patientId"
                   [showSpinner]="!list.length && !listIsEmpty"></blood-glucose>
</div>

<div *ngIf="typeOfMeasurement === allTypesOfMeasurement.blood_pressure">
    <blood-pressure [dataForGraph]="list" [filterVisibility]="true" [patientId]="patientId"
                    [showSpinner]="!list.length && !listIsEmpty"></blood-pressure>
</div>
