<div *ngIf="typeOfMeasurement === allTypesOfMeasurement.WEIGHT">
    <weight [data]="list" [filterVisibility]="true" [patientId]="patientId"
            [showSpinner]="!list.length && !listIsEmpty"></weight>
</div>

<div *ngIf="typeOfMeasurement === allTypesOfMeasurement.BODY_FAT">
    <fat [data]="list" [filterVisibility]="true" [patientId]="patientId"
         [showSpinner]="!list.length && !listIsEmpty"></fat>
</div>

<div *ngIf="typeOfMeasurement === allTypesOfMeasurement.HEIGHT">
    <height [data]="list" [filterVisibility]="true" [patientId]="patientId"
            [showSpinner]="!list.length && !listIsEmpty"></height>
</div>

<div *ngIf="typeOfMeasurement === allTypesOfMeasurement.WAIST_CIRCUMFERENCE">
    <waist-circunference [data]="list" [filterVisibility]="true" [patientId]="patientId"
                         [showSpinner]="!list.length && !listIsEmpty"></waist-circunference>
</div>

<div *ngIf="typeOfMeasurement === allTypesOfMeasurement.BODY_TEMPERATURE">
    <body-temperature [data]="list" [filterVisibility]="true" [patientId]="patientId"
                      [showSpinner]="!list.length && !listIsEmpty"></body-temperature>
</div>

<div *ngIf="typeOfMeasurement === allTypesOfMeasurement.BLOOD_GLUCOSE">
    <blood-glucose [data]="list" [filterVisibility]="true" [patientId]="patientId"
                   [showSpinner]="!list.length && !listIsEmpty"></blood-glucose>
</div>

<div *ngIf="typeOfMeasurement === allTypesOfMeasurement.BLOOD_PRESSURE">
    <blood-pressure [data]="list" [filterVisibility]="true" [patientId]="patientId"
                    [showSpinner]="!list.length && !listIsEmpty"></blood-pressure>
</div>
