<div class="patientDashboard">

    <div class="container-fluid">

        <div class="row" style="padding: 0px 7px;">

            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 navigation"
                 style="padding: 0px 0px; z-index: 1030;">
                <i class="material-icons float-left" (click)="previousDate()"
                   [title]="'ACTIVITY.PREVIOUS-DAY'|translate">keyboard_arrow_left</i>

                <i class="material-icons float-left" [ngClass]="isToday(currentDate)?'disabled':''" (click)="nextDate()"
                   [title]="'ACTIVITY.NEXT-DAY'|translate">keyboard_arrow_right</i>

                <label class="float-left" (click)="pickerBirthDate.open()"
                       style="color: unset; font-weight: normal; cursor:pointer;">{{isToday(currentDate) ? ('MEASUREMENTS.MEASUREMENT-CARD.TODAY'|translate) + ' - ' : (currentDate|date:'EEEE') + ' - '}}{{currentDate | date}}</label>
                <input matInput class="form-control" [matDatepicker]="pickerBirthDate"
                       name="currentDate"
                       data-date-format="yyyy-MM-dd"
                       [max]="today"
                       [(ngModel)]="currentDate"
                       (dateChange)="changeDate()"
                       style="visibility: hidden; position: absolute">
                <mat-datepicker #pickerBirthDate>
                </mat-datepicker>

            </div>

            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 navigation"
                 style="display: flex; align-items: center; justify-content: flex-end; padding: 0px 0px;"
                 *ngIf="visibilityFitBitSync">
                <label style="padding-right:10px;font-weight: normal; font-size: 12px;">
                    {{'ACTIVITY.LAST-SYNC'|translate}}
                    : {{patient && patient.external_services && patient.external_services.fitbit_last_sync ? (patient.external_services.fitbit_last_sync | date) : ' - - '}}
                    {{'SHARED.AT'|translate}} {{patient && patient.external_services && patient.external_services.fitbit_last_sync ? (patient.external_services.fitbit_last_sync | date : 'mediumTime') : ' - - '}}
                </label>
                <a class="nav-link" [title]="'PATIENTS.EXTERNAL-SERVICES.SYNCHRONIZE'|translate"
                   [ngClass]="(!patient || !patient.external_services || (patient.external_services.fitbit_status!==AccessStatus.valid_token && patient.external_services.fitbit_status!==AccessStatus.too_many_requests))?'disabled':''"
                   (click)="synchronize()">
                    <i class="material-icons">cached</i>
                </a>
            </div>

        </div>

        <div class="row" style="padding-top: 0px;">
            <!-- Activities -->
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4" id="activitiesDiv">
                <dashboard-card [title]="'ACTIVITY.RECENT-ACTIVITY'|translate"
                                [urlAction]="['/app/activities',patientId,'physical_activity']">
                    <div class="row physicalActivity" [title]="'ACTIVITY.VIEW-DETAILS'|translate"
                         *ngFor="let activity of listActivities;index as i;trackBy: trackById"
                         [routerLink]="['/app/activities',patientId,'physical_activity', activity.id]">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding-left: 0px">
                            <label class="float-left"
                                   style="font-weight: normal;font-size: 20px; color: unset">{{activity.name|physicalActivity|translate}}</label>
                            <i class="material-icons float-right">keyboard_arrow_right</i>
                            <small class="float-right">{{activity.start_time|date:'mediumDate'}}</small>
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"
                             style="padding: 0px 0px">

                            <div class="d-flex justify-content-around">
                                <label class="float-left" style="font-weight: normal; color: unset"
                                       *ngIf="activity.duration">
                                    {{(activity.duration / 60000)|number:'1.0-0'}}<small>min</small>
                                </label>

                                <label class="float-right" style="font-weight: normal; color: unset"
                                       *ngIf="activity.steps">
                                    {{activity.steps|number:'1.0-0'}}
                                    <small>{{'TIME-SERIES.STEPS.STEPS'|translate}}</small>
                                </label>

                                <label class="float-right" style="font-weight: normal; color: unset"
                                       *ngIf="activity.calories">
                                    {{activity.calories|number:'1.0-0'}}<small>cals</small>
                                </label>

                                <label class="float-right" style="font-weight: normal; color: unset"
                                       *ngIf="activity.heart_rate_average">
                                    {{activity.heart_rate_average}}<small>bpm</small>
                                </label>
                            </div>

                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"
                             style="padding: 0px 0px; margin: 0px 0px;">
                            <div class="echarts-div-graph" echarts [options]="activityGraph[i]"
                                 style="padding: 0px 0px; margin: 0px 0px;border: 1px solid #c3c3c3"></div>
                        </div>

                    </div>

                    <div class="row justify-content-center" *ngIf="!listActivities.length && listActivitiesIsEmpty"
                         style="height: 620px;">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 row justify-content-center"
                             style="margin: 15px 15px; margin-top: 50px;max-width: 150px;max-height: 150px;border: 1px dashed black; border-radius: 70px">
                            <img src="../../../../assets/img/time-series/running-man.svg" width="80">
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="height: 300px">
                            <h3 class="text-center">{{'ACTIVITY.NO-RECENT-EXERCISES'|translate}}</h3>
                            <p class="text-center"
                               style="font-size: 16px">{{'ACTIVITY.NO-RECENT-EXERCISES-MESSAGE'|translate}}</p>
                        </div>


                    </div>

                    <div class="row justify-content-center" *ngIf="!listActivities.length && !listActivitiesIsEmpty"
                         style="height: 620px;">

                        <div class="divSpinner">
                            <spinner [title]="'ACTIVITY.SPINNER'|translate"
                                     [message]="'ACTIVITY.SPINNER'|translate"></spinner>
                        </div>

                    </div>

                </dashboard-card>
            </div>

            <div class="col-sm-12 col-md-8 col-lg col-xl patientDashboard"
                 style="padding-top: 0px; padding-bottom: 0px; padding-left: 0px;padding-right: 7px">

                <div class="row" style="padding-top:7px">
                    <!-- Sleep -->
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6" style="padding-top:0px;">
                        <dashboard-card [title]="'ACTIVITY.SLEEP.SLEEP'|translate"
                                        [urlAction]="['/app/activities',patientId,'sleep']"
                                        (mouseenter)="sleepEnterAndLeave(true)"
                                        (mouseleave)="sleepEnterAndLeave(false)">

                            <div class="row justify-content-center" *ngIf="sleepSelected && !loadingSleep" #sleepDiv>

                                <div class="col justify-content-center container-flex"
                                     style="min-height: 250px; padding: 0px 0px; margin: auto; margin-top: 0px;">
                                    <ngx-gauge
                                            [size]="sleepSize"
                                            [type]="'semi'"
                                            [min]="0"
                                            [max]="sleepMax"
                                            [foregroundColor]="'#2B4A77'"
                                            [thick]="15"
                                            [value]="sleepHover?sleepMax:sleepValue"
                                            [duration]="500"
                                            [cap]="'round'"
                                            id="graphSleep">
                                        <ngx-gauge-label>

                                        </ngx-gauge-label>
                                        <ngx-gauge-value>

                                        </ngx-gauge-value>
                                    </ngx-gauge>
                                    <div class="container-flex" style="position: absolute;width:100%; height: 100%;">
                                        <img src="../../../../assets/img/time-series/moon.svg" width="25%"
                                             style="margin-bottom: 60px">
                                    </div>
                                    <div style="position: absolute;top:35%;width: 85%">
                                        <div *ngIf="!sleepHover">
                                            <span class="float-left">{{sleepSelected.start_time|date:'shortTime'}}</span>
                                            <span class="float-right">{{sleepSelected.end_time|date:'shortTime'}}</span>
                                        </div>
                                        <div *ngIf="sleepHover">
                                            <span class="float-left">0h</span>
                                            <span class="float-right">{{Math.floor(goal.sleep / 60)}}h</span>
                                        </div>
                                    </div>
                                    <div class="container-flex" style="position: absolute;bottom:15%;width: 85%;">
                                        <label style="font-weight: normal; font-size: 35px; color: unset"
                                               [innerHTML]="sleepSelected && sleepSelected.duration?(sleepSelected.duration|duration):'0<small>min</small>'">
                                        </label>
                                    </div>
                                    <div class="text-center container-flex"
                                         style="position: absolute;bottom:0%;width: 85%;">
                                        <label class="label-time-series"
                                               *ngIf="!sleepHover">
                                            <span *ngIf="Math.floor((sleepSelected.pattern.summary.awake.duration / 3600000))">
                                                {{Math.floor((sleepSelected.pattern.summary.awake.duration / 3600000))}}
                                                {{'HABITS.SLEEP.TIME-ABBREVIATION'|translate}}
                                            </span>
                                            <span *ngIf="Math.floor((sleepSelected.pattern.summary.awake.duration % 3600000) / 60000)">
                                                {{Math.floor((sleepSelected.pattern.summary.awake.duration % 3600000) / 60000)}}{{'HABITS.SLEEP.MINUTES-ABBREVIATION'|translate}}
                                                {{'ACTIVITY.PIPES.SLEEP.AWAKE'|translate}}
                                            </span>
                                        </label>
                                        <label class="ellipsis label-time-series"
                                               *ngIf="sleepHover && goal.sleep > (sleepSelected.duration / 60000)">
                                            {{
                                            Math.floor((goal.sleep - (sleepSelected.duration / 60000)) / 60) ?
                                                Math.floor((goal.sleep - (sleepSelected.duration / 60000)) / 60)
                                                + ('HABITS.SLEEP.TIME-ABBREVIATION'|translate) + ' ' + ('SHARED.AND'|translate)
                                                : ''
                                            }}
                                            {{Math.floor((goal.sleep - (sleepSelected.duration / 60000)) % 60)}}{{'HABITS.SLEEP.MINUTES-ABBREVIATION'|translate}}
                                            {{'TIME-SERIES.OF-THE-GOAL'|translate}}</label>
                                        <label class="label-time-series"
                                               *ngIf="sleepHover && goal.sleep <= (sleepSelected.duration / 60000)">
                                            {{'ACTIVITY.SLEEP.GOAL-ACHIEVED'|translate}}
                                        </label>
                                    </div>
                                </div>

                            </div>

                            <div class="row justify-content-center container-flex"
                                 style="min-height: 263px; padding: 0px 0px; margin: auto"
                                 *ngIf="!sleepSelected && !loadingSleep">
                                <div>
                                    <img class="text-center"
                                         src="../../../../assets/img/time-series/no-sleep.svg" width="95%">
                                </div>
                                <div>
                                    <label class="text-center"
                                           style="color: unset">{{'ACTIVITY.SLEEP.UNAVAILABLE-DATA'|translate}}</label>
                                </div>
                            </div>

                            <div class="row justify-content-center container-flex"
                                 style="height: 264px; padding: 0px 0px; margin: auto"
                                 *ngIf="loadingSleep">
                                <spinner [message]="'SHARED.LOADING'|translate"></spinner>
                            </div>

                        </dashboard-card>
                    </div>
                    <!-- Steps -->
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6"
                         style="padding: 0px 0px; padding-right: 7px; min-height: 332px;max-height: 332px"
                         (mouseenter)="stepEnterAndLeave(true)"
                         (mouseleave)="stepEnterAndLeave(false)">

                        <dashboard-card [title]="'TIME-SERIES.STEPS.TITLE'|translate">
                            <div class="row justify-content-center" *ngIf="!loadingTimeSeries" #stepsDiv>
                                <ngx-gauge
                                        [size]="stepSize"
                                        [type]="'full'"
                                        [thick]="10"
                                        [min]="goal && goal.steps?0:-1"
                                        [max]="goal && goal.steps?goal.steps:0"
                                        [cap]="'round'"
                                        [foregroundColor]="'#00a594'"
                                        [duration]="500"
                                        [value]="Math.max(0,stepsValue)">
                                    <ngx-gauge-append *ngIf="!stepsHover">
                                        <img class="fadeIn" src="../../../../assets/img/time-series/steps-black.svg"
                                             width="30%"
                                             style="position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto">
                                    </ngx-gauge-append>
                                    <ngx-gauge-append *ngIf="stepsHover">
                                        <div class="container-flex-columm centralized-container">
                                            <label class="label-time-series-percent">
                                                {{goal && goal.steps ? (Math.min(Math.round((stepsValue * 100) / goal.steps), 100)) : 100}}
                                                %
                                            </label>
                                            <label class="label-time-series-goal">
                                                {{'SHARED.OF'|translate}}
                                                {{goal && goal.steps ? (goal.steps| number:'1.0-0') : 0}}
                                                <small>pas</small>
                                            </label>
                                        </div>
                                    </ngx-gauge-append>
                                    <ngx-gauge-value>
                                    </ngx-gauge-value>
                                </ngx-gauge>
                                <div class="text-center container-flex"
                                     style="position: absolute;bottom:0%;width: 85%;">
                                    <label class="ellipsis label-time-series">
                                        {{stepsValue | number:'1.0-0'}}
                                        <small>{{'TIME-SERIES.STEPS.STEPS'|translate}}</small>
                                    </label>
                                </div>
                            </div>

                            <div class="row justify-content-center container-flex"
                                 style="height: 264px; padding: 0px 0px; margin: auto"
                                 *ngIf="loadingTimeSeries">
                                <spinner [message]="'SHARED.LOADING'|translate"></spinner>
                            </div>

                        </dashboard-card>

                    </div>
                    <!-- Calories -->
                    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4"
                         style="padding: 0px 7px;min-height: 350px"
                         (mouseenter)="caloriesEnterAndLeave(true)"
                         (mouseleave)="caloriesEnterAndLeave(false)">

                        <dashboard-card [title]="'TIME-SERIES.CALORIES.TITLE'|translate">

                            <div class="row justify-content-center" *ngIf="!loadingTimeSeries" #caloriesDiv>
                                <ngx-gauge
                                        [size]="caloriesSize"
                                        [type]="'full'"
                                        [thick]="10"
                                        [min]="goal && goal.calories?0:-1"
                                        [cap]="'round'"
                                        [max]="goal && goal.calories?goal.calories:0"
                                        [foregroundColor]="'#fba53e'"
                                        [duration]="200"
                                        [value]="Math.max(0,caloriesValue)"
                                        style="width: 100px; height: 100px">
                                    <ngx-gauge-append *ngIf="!caloriesHover">
                                        <img class="fadeIn" src="../../../../assets/img/time-series/calories-black.svg"
                                             width="20%"
                                             style="position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto">
                                    </ngx-gauge-append>
                                    <ngx-gauge-append *ngIf="caloriesHover">
                                        <div class="container-flex-columm centralized-container">
                                            <label class="label-time-series-percent">
                                                {{goal && goal.calories ? (Math.min(Math.round((caloriesValue * 100) / goal.calories), 100)) : 100}}
                                                %
                                            </label>
                                            <label class="label-time-series-goal">
                                                {{'SHARED.OF'|translate}} {{goal && goal.calories ? (goal.calories|number:'1.0-0') : 0}}
                                                <small>cals</small>
                                            </label>
                                        </div>
                                    </ngx-gauge-append>
                                    <ngx-gauge-value>
                                    </ngx-gauge-value>
                                </ngx-gauge>
                                <div class="text-center container-flex"
                                     style="position: absolute;bottom:0%;width: 85%;">
                                    <label class="label-time-series">
                                        {{caloriesValue | number:'1.0-0'}}
                                        <small>{{'TIME-SERIES.CALORIES.CALORIES'|translate}}</small>
                                    </label>
                                </div>
                            </div>

                            <div class="row justify-content-center container-flex"
                                 style="height: 264px; padding: 0px 0px; margin: auto"
                                 *ngIf="loadingTimeSeries">
                                <spinner [message]="'SHARED.LOADING'|translate"></spinner>
                            </div>

                        </dashboard-card>

                    </div>
                    <!-- Active Minutes -->
                    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4"
                         style="padding:0px 0px; padding-right: 7px;min-height: 350px"
                         (mouseenter)="activeMinutesEnterAndLeave(true)"
                         (mouseleave)="activeMinutesEnterAndLeave(false)">

                        <dashboard-card [title]="'TIME-SERIES.ACTIVE-MINUTES.TITLE'|translate">

                            <div class="row justify-content-center" *ngIf="!loadingTimeSeries" #activeMinutesDiv>
                                <ngx-gauge
                                        [size]="activeMinutesSize"
                                        [type]="'full'"
                                        [thick]="10"
                                        [min]="goal && goal.active_minutes?0:-1"
                                        [cap]="'round'"
                                        [max]="goal && goal.active_minutes?goal.active_minutes:0"
                                        [foregroundColor]="'#A6F355'"
                                        [duration]="200"
                                        [value]="Math.max(0,activeMinutesValue)">
                                    <ngx-gauge-append *ngIf="!activeMinutesHover">
                                        <img class="fadeIn" src="../../../../assets/img/time-series/active_minutes.svg"
                                             width="30%"
                                             style="position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto">
                                    </ngx-gauge-append>
                                    <ngx-gauge-append *ngIf="activeMinutesHover">
                                        <div class="container-flex-columm centralized-container">
                                            <label class="label-time-series-percent">
                                                {{goal && goal.active_minutes ? (Math.min(Math.round((activeMinutesValue * 100) / goal.active_minutes), 100)) : 100}}
                                                %
                                            </label>
                                            <div style="display: flex; align-items: baseline; justify-content: center">
                                                <label class="label-time-series-goal" style="padding: 0px 5px">
                                                    {{'SHARED.OF'|translate}}
                                                </label>
                                                <label class="label-time-series" style="max-width: 100%;"
                                                       [innerHTML]="goal && goal.active_minutes ? (goal.active_minutes|activeMinutes) : '0<small>min</small>'">
                                                </label>
                                            </div>
                                        </div>
                                    </ngx-gauge-append>
                                    <ngx-gauge-value>
                                    </ngx-gauge-value>
                                </ngx-gauge>
                                <div class="text-center" style="position: absolute;bottom:0%;width: 85%;">
                                    <label class="label-time-series" style="max-width: 100%"
                                           [innerHTML]="activeMinutesValue ? (activeMinutesValue|activeMinutes) : '0<small>min</small>'">
                                    </label>
                                </div>
                            </div>

                            <div class="row justify-content-center container-flex"
                                 style="height: 264px; padding: 0px 0px; margin: auto"
                                 *ngIf="loadingTimeSeries">
                                <spinner [message]="'SHARED.LOADING'|translate"></spinner>
                            </div>

                        </dashboard-card>

                    </div>
                    <!-- Distance -->
                    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4"
                         style="padding:0px 0px; padding-right: 7px;min-height: 350px"
                         (mouseenter)="distanceEnterAndLeave(true)"
                         (mouseleave)="distanceEnterAndLeave(false)">

                        <dashboard-card [title]="'TIME-SERIES.DISTANCE.TITLE'|translate">
                            <div class="row justify-content-center" *ngIf="!loadingTimeSeries" #distanceDiv>
                                <ngx-gauge
                                        [size]="distanceSize"
                                        [type]="'full'"
                                        [thick]="10"
                                        [min]="goal && goal.distance?0:-1"
                                        [cap]="'round'"
                                        [max]="goal && goal.distance?goal.distance:0"
                                        [foregroundColor]="'#5FCCCB'"
                                        [duration]="200"
                                        [value]="Math.max(0,distanceValue)">
                                    <ngx-gauge-append *ngIf="!distanceHover">
                                        <img class="fadeIn" src="../../../../assets/img/time-series/distance.svg"
                                             width="30%"
                                             style="position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto">
                                    </ngx-gauge-append>
                                    <ngx-gauge-append *ngIf="distanceHover">
                                        <div class="container-flex-columm centralized-container">
                                            <label class="label-time-series-percent">
                                                {{goal && goal.distance ? (Math.min(Math.round((distanceValue * 100) / goal.distance), 100)) : 100}}
                                                %
                                            </label>
                                            <div style="display: flex; align-items: baseline; justify-content: center">
                                                <label class="label-time-series-goal" style="padding: 0px 5px">
                                                    {{'SHARED.OF'|translate}}
                                                </label>
                                                <label class="label-time-series" style="max-width: 100%;"
                                                       [innerHTML]="goal && goal.distance ? (goal.distance|distance) : '0<small>m</small>'">
                                                </label>
                                            </div>
                                        </div>
                                    </ngx-gauge-append>
                                    <ngx-gauge-value>
                                    </ngx-gauge-value>
                                </ngx-gauge>
                                <div class="container-flex" style="position: absolute;bottom:0%;width: 85%;">
                                    <label class="label-time-series"
                                           [innerHTML]="distanceValue ? (distanceValue|distance) : '0<small>m</small>'">
                                    </label>
                                </div>
                            </div>
                            <div class="row justify-content-center container-flex"
                                 style="height: 264px; padding: 0px 0px; margin: auto"
                                 *ngIf="loadingTimeSeries">
                                <spinner [message]="'SHARED.LOADING'|translate"></spinner>
                            </div>
                        </dashboard-card>

                    </div>
                </div>

            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding-top:0px;">

                <dashboard-card [title]="measurementSelected | timeSeries | translate"
                                [urlAction]="['/app/patients/', patientId, measurementSelected]">

                    <div class="container-fluid">

                        <div class="row justify-content-end" *ngIf="!loadingTimeSeries">

                            <div class="col" style="max-width: 50px; padding: 0px 0px; margin: 0px 0px">
                                <mat-select class="form-control form-control-sm" style="border-radius: 10px"
                                            id="selectMeasurement"
                                            [(ngModel)]="measurementSelected">
                                    <mat-select-trigger>
                                        <mat-icon>
                                            <img [src]="'../../../../assets/img/time-series/'+measurementSelected+'.png'">
                                        </mat-icon>
                                    </mat-select-trigger>
                                    <mat-option *ngFor="let type of timeSeriesTypes" [value]="type"
                                                [title]="type | timeSeries | translate">
                                        <img [src]="'../../../../assets/img/time-series/'+type+'.png'">
                                    </mat-option>
                                </mat-select>

                            </div>

                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"
                                 style="padding: 0px 0px; margin: 0px 0px">
                                <view-time-series [patientId]="patientId"
                                                  [typeOfTimeSeries]="measurementSelected"
                                                  [filter]="currentFilter"></view-time-series>
                            </div>
                        </div>

                        <div class="row justify-content-center"
                             style="height: 528px; padding: 0px 0px; display: flex; align-items: center; margin: auto"
                             *ngIf="loadingTimeSeries">
                            <spinner [message]="'SHARED.LOADING'|translate"></spinner>
                        </div>

                    </div>
                </dashboard-card>

            </div>

        </div>

    </div>

</div>

<haniot-modal [modalId]="'synchronized'" [styleDialog]="'modal-dialog'" (close)="closeModalSynchronized()">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                {{'PATIENTS.EXTERNAL-SERVICES.SYNCHRONIZE-SUCCESSFULLY'|translate}}
            </h5>
            <button type="button" class="close" aria-label="Close" (click)="closeModalSynchronized()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <hr class="separator"
                            [attr.data-label]="'PATIENTS.EXTERNAL-SERVICES.SUMMARY-UPDATED'|translate">
                    </div>
                    <div class="form-group col-4 text-center">
                        <label style="font-weight: normal">
                            {{'ACTIVITY.ACTIVITIES'|translate}}
                        </label>
                        <h4>{{(synchronizeData.activities|number:'1.0-0')}}</h4>
                    </div>
                    <div class="form-group col-4 text-center">
                        <label style="font-weight: normal">
                            {{'ACTIVITY.SLEEP.SLEEP'|translate}}
                        </label>
                        <h4>{{(synchronizeData.sleep|number:'1.0-0')}}</h4>
                    </div>
                    <div class="form-group col-4 text-center">
                        <label style="font-weight: normal">
                            {{'MEASUREMENTS.WEIGHT.TITLE'|translate}}
                        </label>
                        <h4>{{(synchronizeData.weights|number:'1.0-0')}}</h4>
                    </div>
                </div>
            </div>
        </div>

    </div>
</haniot-modal>

<div id="synchronizing" *ngIf="synchronizing">
    <div class="externa">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                                <spinner [message]="'PATIENTS.EXTERNAL-SERVICES.SYNCHRONIZING'|translate"
                                         *ngIf="synchronizing">
                                </spinner>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop show">
    </div>
</div>
