<form [formGroup]="oralHealthForm" *ngIf="oralHealthRecord">

    <div class="row justify-content-md-start">

        <div class="col-sm-12 col-md-8 col-lg-4 col-xl-4">
            <div class="card card-stats">
                <div class="card-header card-header-timer card-header-icon">
                    <div class="card-icon">
                        <div class="bg-oral_health"
                             [title]="'HABITS.ORAL-HEALTH.FREQUENCY-ORAL-HEALTH'|translate"></div>
                    </div>
                    <p class="label">{{'HABITS.ORAL-HEALTH.FREQUENCY-ORAL-HEALTH'|translate}}:</p>
                    <h3 class="card-title">{{oralHealthForm.get('teeth_brushing_freq').value | teethBushing | translate}}</h3>
                </div>
            </div>
        </div>


        <!-- List of lesions -->
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card card-stats">
                <div class="card-header card-header-timer card-header-icon text-center">
                    <h3 class="card-title">{{'HABITS.ORAL-HEALTH.LIST-OF-LESIONS'|translate}}</h3>
                </div>
                <div class="card-footer" *ngIf="!oralHealthForm.get('teeth_lesions').value">
                    <span class="badge badge-warning badge-12 ellipsis">{{'HABITS.ORAL-HEALTH.TEETH-LESIONS-UNAVAILABLE-DATA'|translate}}</span>
                </div>
                <div class="card-footer">
                    <div class="row  justify-content-md-center">
                        <div *ngIf="oralHealthForm.get('teeth_lesions').value && oralHealthForm.get('teeth_lesions').value.length==0">
                            <span class="badge badge-warning badge-12">{{'HABITS.ORAL-HEALTH.NONE-LESION'|translate}}</span>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6" class="diseases"
                             *ngFor="let disease of oralHealthForm.get('teeth_lesions').value">
                            <div class="card card-stats diseaseHistory">
                                <div class="row container">
                                    <div class="col-md-2 d-flex justify-content-center d-flex align-items-center">
                                        <div class="card-icon-disease">
                                            <div class="bg-oral_lesion" [title]=""></div>
                                        </div>
                                    </div>
                                    <div class="col-md row">
                                        <div class="col-sm">
                                            <label for="">
                                                {{'HABITS.ORAL-HEALTH.TYPE-TEETH'|translate}}:
                                            </label>
                                            <h4 class="card-category">{{disease.tooth_type | toothType | translate}}</h4>
                                        </div>
                                        <div class="col-sm">
                                            <label for="">
                                                {{'HABITS.ORAL-HEALTH.TYPE-LESION'|translate}}:
                                            </label>
                                            <h4 class="card-category">{{disease.lesion_type | lesionType | translate}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

<div *ngIf="!oralHealthRecord">
    <span class="badge badge-warning badge-12 ellipsis">{{'HABITS.ORAL-HEALTH.UNAVAILABLE-DATA'|translate}}</span>
</div>
