<div class="input-group no-border">
    <input type="text" class="form-control" id="searchUser" name="searchUser" [(ngModel)]="search"
           [placeholder]="'TABLE-USER.PLACEHOLDER-SEARCH'|translate" (keyup)="searchOnSubmit()">
    <button mat-raised-button type="button" class="btn btn-white btn-round btn-just-icon" (click)="searchOnSubmit()">
        <i class="material-icons">search</i>
        <div class="ripple-container"></div>
    </button>
</div>
<div class="table-responsive">
    <table class="table table-sm table-hover rwd-table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{'SHARED.NAME'| translate}}</th>
            <th scope="col">{{'SHARED.EMAIL'| translate}}</th>
            <th scope="col" *ngIf="userType == 'HealthProfessional'">{{'SHARED.AREA'| translate}}</th>
            <th scope="col" colspan="2" id="thAction">{{'SHARED.ACTIONS'| translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="list.length==0">
            <td colspan="6" *ngIf="!listOfUserIsEmpty">
                <spinner [message]="'TABLE-USER.SPINNER-MESSAGE'|translate"></spinner>
            </td>
            <td colspan="6" *ngIf="listOfUserIsEmpty">{{'TABLE-USER.LIST-EMPTY'|translate}}.</td>
        </tr>
        <tr *ngFor="let user of list; index as i;trackBy: trackById">
            <td [attr.data-th]="'SHARED.POSITION'|translate"
                (click)="editUser(user.id)" class="max-width-60">{{getIndex(i)}}</td>
            <td [attr.data-th]="'SHARED.NAME'|translate"
                (click)="editUser(user.id)">{{user.name}}</td>
            <td [attr.data-th]="'SHARED.EMAIL'|translate"
                (click)="editUser(user.id)">{{user.email}}</td>
            <td [attr.data-th]="'SHARED.AREA'|translate"
                (click)="editUser(user.id)" class="max-width-150"
                *ngIf="userType == 'HealthProfessional'">{{user.health_area | healthArea | translate}}</td>
            <td [attr.data-th]="'SHARED.ACTIONS'|translate" class="max-width-200">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <a class="nav-link" (click)="editUser(user.id)"
                               [title]="'TABLE-USER.EDIT'|translate">
                                <i class="material-icons">edit</i></a>
                        </div>
                        <div class="col" *ngIf="!verifySameUser(user)">
                            <a class="nav-link" (click)="openModalConfirmRemove(user.id)"
                               [title]="'TABLE-USER.DELETE'|translate">
                                <i class="material-icons">delete</i></a>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
               (page)="clickPagination($event)">
</mat-paginator>

<modal-confirmation [message]="'TABLE-USER.DELETE-CONFIRMATION'|translate" (confirmation)="removeUser()"
                    (close)="closeModalConfirmRemove()"></modal-confirmation>
