<div class="main-content">
    <div class="container-fluid">
        <div class="d-flex flex-row-reverse shared" style="height: 50px;"
             *ngIf="userHealthArea === 'nutrition' || userHealthArea === 'admin'">

            <div class="p-2">
                <i class="material-icons" [title]="'PATIENTS.VIEW-HABITS.TOVIEW-EVALUATIONS'|translate"
                   [routerLink]="['/app/evaluations/nutritional',patientId]">assignment</i>
            </div>
            <div class="p-2">
                {{'PATIENTS.VIEW-HABITS.NUTRITION-EVALUATIONS'|translate}}:
            </div>
        </div>

        <div class="row">

            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <haniot-card [title]="'PATIENTS.VIEW-HABITS.CARD-PERSONAL-INFO.TITLE'|translate"
                             [subtitle]="'PATIENTS.VIEW-HABITS.CARD-PERSONAL-INFO.SUBTITLE'|translate">
                    <form [formGroup]="patientForm">

                        <div class="row">

                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"
                                 *ngIf="patientForm.get('created_at').value" style="position: absolute; top: 0px;">
                                <div class="d-flex justify-content-end">
                                    <div class="p-2">
                                        <small style="font-size: 12px">{{'SHARED.CREATED-AT'|translate}}
                                            : {{patientForm.get('created_at').value|date:'shortDate'}}
                                        </small>
                                    </div>
                                </div>
                                <!--                                <div class="d-flex justify-content-end">-->
                                <!--                                    <div class="p-2" *ngIf="patientForm.get('last_login').value">-->
                                <!--                                        <small style="font-size: 12px">{{'SHARED.LAST-LOGIN'|translate}}-->
                                <!--                                            : {{patientForm.get('last_login').value|date:'fullDate'}}-->
                                <!--                                            {{'SHARED.AT'|translate}}-->
                                <!--                                            {{patientForm.get('last_login').value|date:'mediumTime'}}</small>-->
                                <!--                                    </div>-->
                                <!--                                </div>-->
                            </div>

                            <div class="form-group has-feedback col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <label for="name">
                                    {{'SHARED.NAME'|translate}}:
                                </label>
                                <input class="form-control" type="text" formControlName="name" id="name">
                            </div>

                            <div class="form-group has-feedback col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <label for="phone_number">
                                    {{'SHARED.PHONE'|translate}}:
                                </label>
                                <input class="form-control" type="text" formControlName="phone_number"
                                       id="phone_number">
                            </div>

                        </div>
                        <div class="row">
                            <div class="form-group has-feedback col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <label for="email">
                                    {{'SHARED.EMAIL'|translate}}:
                                </label>
                                <input class="form-control" type="text" formControlName="email" id="email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group has-feedback col-md">
                                <label for="gender">
                                    {{'SHARED.GENDER'|translate}}:
                                </label>
                                <select class="form-control" formControlName="gender" name="gender" id="gender">
                                    <option *ngFor="let itemGender of optionsGender"
                                            [value]="itemGender">{{itemGender | gender | translate}}</option>
                                </select>

                            </div>

                            <div class="form-group has-feedback col-md">
                                <label for="birth_date">
                                    {{'SHARED.BIRTH-DATE'|translate}}:
                                </label>
                                <div class="row">
                                    <div class="col-md-10">
                                        <input matInput class="form-control" [matDatepicker]="pickerBirthDate"
                                               formControlName="birth_date" name="birth_date"
                                               data-date-format="yyyy-MM-dd"
                                               [placeholder]="'PATIENTS.PATIENTS-FORM.SELECT-BIRTH-DATE'|translate"
                                               id="birth_date">
                                        <mat-datepicker #pickerBirthDate></mat-datepicker>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group has-feedback col-md" *ngIf="associatedStudies.length">
                                <label>
                                    {{'PATIENTS.VIEW-HABITS.ASSOCIATED-STUDIES'|translate}}:
                                </label>
                                <ul class="list-inline ellipsis" style="width: 100%;display: inline-block;">
                                    <li class="list-inline-item ellipsis"
                                        *ngFor="let pilotStudy of associatedStudies;let i=index">
                                        {{pilotStudy.name}}<span *ngIf="i!==associatedStudies.length-1">,</span><span
                                            *ngIf="i===associatedStudies.length-1">.</span>
                                    </li>
                                </ul>
                            </div>

                        </div>


                    </form>
                </haniot-card>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <mat-tab-group mat-align-tabs="center" (selectedTabChange)="clickOnMatTab($event)">

                <mat-tab [label]="'PATIENTS.VIEW-HABITS.TAB-NUTRITIONAL-QUESTIONNAIRE'|translate">
                    <!--Fundo preto do modal-->
                    <div class="modal-backdrop show backdropLoadingQuestionnaire"
                         *ngIf="loadingNutritionalQuestionnaire">
                    </div>
                    <!--  Nutritional Questionnaires -->
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 loadingQuestionnaire"
                                 *ngIf="loadingNutritionalQuestionnaire">
                                <div class="d-flex justify-content-center">
                                    <div class="p-2">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <div class="container">
                                                        <div class="row justify-content-center">
                                                            <div class="col-sm-12 col-md-8 col-lg-6 col-xl-6 text-center">
                                                                <spinner
                                                                        [message]="'PATIENTS.VIEW-HABITS.LOADING-QUESTIONNAIRES'|translate"></spinner>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="card">
                                    <div class="card-header card-header-tabs card-header-danger">
                                        <div class="nav-tabs-navigation">
                                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">
                                    <h4 class="card-title">{{'PATIENTS.VIEW-HABITS.NUTRITIONAL-QUESTIONNAIRE'|translate}}</h4>
                                </span>
                                                <ul class="nav nav-tabs shared right" data-tabs="tabs">
                                                    <li class="nav-item"
                                                        [ngClass]="nutritionalQuestionnaireOptions.length?'actived':'disabled'">
                                                        <button type="button"
                                                                class="borderNone"
                                                                [title]="'HABITS.DELETE-NUTRITIONAL-QUESTIONNAIRE'|translate"
                                                                [disabled]="!nutritionalQuestionnaireOptions.length"
                                                                (click)="openModalConfirmationRemoveNutritionalQuestionnaire()">
                                                            <i class="material-icons remove-questionnaire disabled">delete</i>
                                                        </button>
                                                    </li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">

                                        <div class="row justify-content-center">

                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                <haniot-subcard [title]="'HABITS.FEEDING.TITLE'|translate">
                                                    <feeding-habits
                                                            [feedingHabitsRecord]="nutritionalQuestionnaire.feeding_habits_record"></feeding-habits>
                                                </haniot-subcard>
                                            </div>

                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"
                                                 *ngIf="userHealthArea === 'nutrition' || userHealthArea === 'admin'">
                                                <haniot-subcard [title]="'HABITS.PHYSICAL-ACTIVITY.TITLE'|translate">
                                                    <physical-activity-habits
                                                            [physicalRecord]="nutritionalQuestionnaire.physical_activity_habits"></physical-activity-habits>
                                                </haniot-subcard>
                                            </div>

                                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                <haniot-subcard [title]="'HABITS.SLEEP.TITLE'|translate">
                                                    <sleep-habits
                                                            [sleepHabit]="nutritionalQuestionnaire.sleep_habit"></sleep-habits>
                                                </haniot-subcard>
                                            </div>

                                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6"
                                                 *ngIf="userHealthArea === 'nutrition' || userHealthArea === 'admin'">
                                                <haniot-subcard [title]="'HABITS.MEDICAL-RECORD.TITLE'|translate">
                                                    <medical-record
                                                            [medicalRecord]="nutritionalQuestionnaire.medical_record"></medical-record>
                                                </haniot-subcard>
                                            </div>

                                        </div>

                                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                            <small class="pull-right"
                                                   *ngIf="nutritionalQuestionnaire.created_at">
                                                {{'HABITS.REGISTER-DATE'|translate}}:
                                                {{nutritionalQuestionnaire.created_at | myDate }}</small>
                                            <small class="pull-right"
                                                   *ngIf="!nutritionalQuestionnaire.created_at">{{'MEASUREMENTS.LAST-REGISTER-DATE'|translate}}
                                                : {{'MEASUREMENTS.PATTERN-DATE'|translate}}</small>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <mat-paginator [length]="nutritionalQuestionnaireOptions.length"
                                               [pageSize]="nutritionalQuestionnaireOptions.limit"
                                               [pageSizeOptions]="nutritionalQuestionnaireOptions.pageSizeOptions"
                                               (page)="nutritionalQuestionnairePageEvent($event)">
                                </mat-paginator>
                            </div>

                        </div>
                    </div>

                </mat-tab>

                <mat-tab [label]="'PATIENTS.VIEW-HABITS.TAB-ODONTOLOGICAL-QUESTIONNAIRE'|translate"
                         *ngIf="userHealthArea === 'dentistry' || userHealthArea === 'admin'">
                    <!--  Odontological Questionnaires -->
                    <div class="container-fluid">
                        <div class="row" style="position:relative;">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 backdropLoadingQuestionnaire">
                                <!--Fundo preto do modal-->
                                <div class="modal-backdrop show backdropLoadingQuestionnaire"
                                     *ngIf="loadingOdontologicalQuestionnaire">
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 loadingQuestionnaire"
                                 *ngIf="loadingOdontologicalQuestionnaire">
                                <div class="d-flex justify-content-center">
                                    <div class="p-2">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <div class="container">
                                                        <div class="row justify-content-center">
                                                            <div class="col-sm-12 col-md-8 col-lg-6 col-xl-6 text-center">
                                                                <spinner
                                                                        [message]="'PATIENTS.VIEW-HABITS.LOADING-QUESTIONNAIRES'|translate"></spinner>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="card">
                                    <div class="card-header card-header-tabs card-header-danger">
                                        <div class="nav-tabs-navigation">
                                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">
                                    <h4 class="card-title">{{'PATIENTS.VIEW-HABITS.ODONTOLOGICAL-QUESTIONNAIRE'|translate}}</h4>
                                </span>
                                                <ul class="nav nav-tabs shared right" data-tabs="tabs">
                                                    <li class="nav-item"
                                                        [ngClass]="odontologicalQuestionnaireOptions.length?'actived':'disabled'">
                                                        <button type="button"
                                                                class="borderNone"
                                                                [title]="'HABITS.DELETE-ODONTOLOGICAL-QUESTIONNAIRE'|translate"
                                                                [disabled]="!odontologicalQuestionnaireOptions.length"
                                                                (click)="openModalConfirmationRemoveOdontologicalQuestionnaire()">
                                                            <i class="material-icons remove-questionnaire disabled">delete</i>
                                                        </button>
                                                    </li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row justify-content-center">

                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                <haniot-subcard [title]="'HABITS.FAMILY-COHESION.TITLE'|translate">
                                                    <familycohesion-record
                                                            [familyCohesionRecord]="odontologicalQuestionnaire.family_cohesion_record"></familycohesion-record>
                                                </haniot-subcard>
                                            </div>

                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                <haniot-subcard [title]="'HABITS.SOCIO-DEMOGRAPHIC.TITLE'|translate">
                                                    <sociodemographic-record
                                                            [socioDemographicRecord]="odontologicalQuestionnaire.sociodemographic_record"></sociodemographic-record>
                                                </haniot-subcard>
                                            </div>

                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                <haniot-subcard [title]="'HABITS.ORAL-HEALTH.TITLE'|translate">
                                                    <oralhealth-record
                                                            [oralHealthRecord]="odontologicalQuestionnaire.oral_health_record"></oralhealth-record>
                                                </haniot-subcard>
                                            </div>

                                        </div>
                                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                            <small class="pull-right"
                                                   *ngIf="odontologicalQuestionnaire.created_at">
                                                {{'HABITS.REGISTER-DATE'|translate}}:
                                                {{odontologicalQuestionnaire.created_at | myDate }}</small>
                                            <small class="pull-right"
                                                   *ngIf="!odontologicalQuestionnaire.created_at">{{'MEASUREMENTS.LAST-REGISTER-DATE'|translate}}
                                                : {{'MEASUREMENTS.PATTERN-DATE'|translate}}</small>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <mat-paginator [length]="odontologicalQuestionnaireOptions.length"
                                               [pageSize]="odontologicalQuestionnaireOptions.limit"
                                               [pageSizeOptions]="odontologicalQuestionnaireOptions.pageSizeOptions"
                                               (page)="odontologicalQuestionnairePageEvent($event)">
                                </mat-paginator>
                            </div>

                        </div>
                    </div>
                </mat-tab>


                <mat-tab [label]="'PATIENTS.VIEW-HABITS.MEASUREMENTS'|translate">
                    <measurement-component [(patientId)]="patientId" [configVisibility]="configVisibility"
                                           *ngIf="showMeasurements && patientForm.get('id').value"></measurement-component>
                </mat-tab>

                <mat-tab [label]="'PATIENTS.VIEW-HABITS.LOG-MEASUREMENTS'|translate">
                    <measurement-logs [(patientId)]="patientId"
                                      *ngIf="showLogMeasurements && patientForm.get('id').value"></measurement-logs>

                </mat-tab>

            </mat-tab-group>
        </div>
    </div>
</div>

<modal-confirmation [id]="'confirmationRemoveNutritionalQuestionnaire'"
                    [message]="'Tem certeza que deseja excluir definitivamente o questionário nutricional?'"
                    (confirmation)="removeNutritionalQuestionnaires()"
                    (noconfirmation)="closeModalConfirmationNutritionalQuestionnaire()"></modal-confirmation>

<modal-confirmation [id]="'confirmationRemoveOdontologicalQuestionnaire'"
                    [message]="'Tem certeza que deseja excluir definitivamente o questionário odontologico?'"
                    (confirmation)="removeOdontologicalQuestionnaires()"
                    (noconfirmation)="closeModalConfirmationOdontologicalQuestionnaire()"></modal-confirmation>


<div *ngIf="removingQuestionnaire">
    <div class="externa">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                                <spinner [message]="'PATIENTS.VIEW-HABITS.SPINNER-MESSAGE'|translate"></spinner>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Fundo preto do modal-->
    <div class="modal-backdrop show">
    </div>
</div>
