label {
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.material-icons {
  color: #00a594;
  cursor: pointer;
}

.shared .material-icons {
  cursor: pointer;
  color: #00a594;
  border-radius: 10px;
  font-size: 30px;
  -webkit-transition: font-size 500ms; /* Safari */
  transition: font-size 500ms;
}

.shared .material-icons:hover {
  font-size: 35px;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
}


.externa {
  position: fixed;
  z-index: 2000;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

::ng-deep .mat-paginator-page-size .ng-star-inserted {
  display: none;
}

::ng-deep .mat-paginator-page-size-label {
  display: none;
}

.loadingQuestionnaire {
  z-index: 2000;
  margin: 0;
  position: absolute;
  top: 40%;
  -ms-transform: translateY(-40%);
  transform: translateY(-40%);
}

.backdropLoadingQuestionnaire {
  position: absolute;
  height: 100%;
}
