@import '../../../../assets/scss/template-colors';

.modal-haniot {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: none;
  border: none;
  border-radius: 0.3rem;
  outline: 0;
}

.material-icons {
  color: $primary-color;
  cursor: pointer;
}

.nav-link i:hover {
  border-radius: 20px;
  background: rgb(212, 207, 207);
}

.icon_password {
  position: absolute;
  top: 35px;
  right: 15px;
}

.material-icons:hover {
  border-radius: 20px;
  background: rgb(212, 207, 207);
}

::ng-deep .cdk-overlay-container {
  z-index: 2000;
}

.p-2 {
  padding: 0px !important;
}
