<div class="input-group no-border">
  <input type="text" class="form-control" id="searchStudy" name="searchStudy" [(ngModel)]="search"
    [placeholder]="'PILOT-STUDY.PLACEHOLDER-SEARCH'|translate" (keyup)="searchOnSubmit()">
  <button mat-raised-button type="button" class="btn btn-white btn-round btn-just-icon" (click)="searchOnSubmit()">
    <i class="material-icons">search</i>
    <div class="ripple-container"></div>
  </button>
</div>
<div class="table-responsive">
  <table class="table table-sm table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>{{'PILOT-STUDY.NAME-OF-STUDY'|translate}}</th>
        <th>{{'PILOT-STUDY.START'|translate}}</th>
        <th>{{'PILOT-STUDY.END'|translate}}</th>
        <th>{{'PILOT-STUDY.SITUATION'|translate}}</th>
        <th>{{'PILOT-STUDY.MANAGE-PROFESSIONALS.ASSOCIATE-PROFESSIONALS'|translate}}</th>
        <th colspan="3">{{'SHARED.ACTIONS'|translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="list.length==0">
        <td colspan="8" *ngIf="!listOfpilotsIsEmpty">
          <spinner [message]="'DASHBOARD.CARD-STUDIES.SPINNER-MESSAGE'|translate"></spinner>
        </td>
        <td colspan="8" *ngIf="listOfpilotsIsEmpty">{{'SHARED.LIST-EMPTY'|translate}}.</td>
      </tr>
      <tr *ngFor="let study of list; index as i;trackBy: trackById">
        <td [routerLink]="['/pilotstudies',study.id,'details']">{{getIndex(i)}}</td>
        <td [routerLink]="['/pilotstudies',study.id,'details']">{{study.name}}</td>
        <td [routerLink]="['/pilotstudies',study.id,'details']">{{study.start | date }}</td>
        <td [routerLink]="['/pilotstudies',study.id,'details']">{{study.end | date}}</td>
        <td [routerLink]="['/pilotstudies',study.id,'details']">
          <span>
            {{study.is_active | pilotStudySituation | translate}}
          </span>
        </td>
        <td>
          <button type="button" class="btn btn-haniot-primary btn-sm button_view"
            (click)="openModalhealthProfessionals(study.id)">
            {{'SHARED.TOVIEW'|translate}}
            <i class="material-icons">drag_indicator</i>
          </button>
        </td>
        <td><a class="nav-link" [routerLink]="['/pilotstudies',study.id,'details']" [title]="'PILOT-STUDY.TOVIEW-STUDY'|translate"><i
              class="material-icons">input</i></a>
        <td><a class="nav-link" [routerLink]="['/pilotstudies',study.id]" [title]="'PILOT-STUDY.EDIT-STUDY'|translate"><i
              class="material-icons">edit</i></a></td>
        <td><a class="nav-link" (click)="openModalConfirmation(study.id)" [title]="'PILOT-STUDY.DELETE-STUDY'|translate"><i
              class="material-icons">delete</i></a></td>
      </tr>
    </tbody>
  </table>

</div>

<mat-paginator [length]="length" [pageSize]="limit" [pageSizeOptions]="pageSizeOptions"
  (page)="clickPagination($event)">
</mat-paginator>
<view-health-professional [pilotstudyid]="pilotStudy_id"></view-health-professional>

<modal-confirmation [message]="'Tem certeza que deseja remover estudo piloto?'" (confirmation)="removeStudy()"
  (noconfirmation)="closeModalConfirmation()"></modal-confirmation>
