.material-icons{
    color : #00a594;
    transform: rotate(180deg) scaleX(-1);
    cursor: pointer;
  }
  .nav-link i:hover{
    border-radius: 20px;
    background: rgb(212, 207, 207);
  }
  table tr {
    cursor: pointer;
  }

  .mat-select-content{
    width:2000px;
    background-color: red;
    font-size: 10px;   
}

.button_view i{  
  color: white;
}

