<div class="table-responsive">
  <div class="input-group no-border">
    <input type="text" class="form-control" id="search" name="search" [(ngModel)]="search"
      placeholder="Pesquisar estudo..." (keyup)="searchOnSubmit()">
    <button mat-raised-button type="button" class="btn btn-white btn-round btn-just-icon" (click)="searchOnSubmit()">
      <i class="material-icons">search</i>
      <div class="ripple-container"></div>
    </button>
  </div>
  <table class="table table-sm table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Nome do estudo</th>
        <th>Início</th>
        <th>Término</th>
        <th>Situação</th>
        <th>Profissionais associados</th>
        <th colspan="2">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let study of list; index as i">
        <td>{{getIndex(i)}}</td>
        <td>{{study.name}}</td>
        <td>{{study.start | date }}</td>
        <td>{{study.end | date}}</td>
        <td>
          <span>
            {{study.is_active?'ATIVADO':'DESATIVADO'}}
          </span>
        </td>
        <td>
          <button type="button" class="btn btn-default btn-sm button_view" (click)="openModalhealthProfessionals(study.id)" >
            Visualizar
            <i class="material-icons">drag_indicator</i>
          </button>
        </td>
        <td><a class="nav-link" [routerLink]="['/pilotstudies',study.id]" title="Editar estudo..."><i
          class="material-icons">more_horiz</i></a></td>
          <td><a class="nav-link" (click)="openModalConfirmation(study.id)" title="Excluir estudo..."><i
            class="material-icons">close</i></a></td>
          </tr>
        </tbody>
      </table>
      
    </div>
    
    <mat-paginator [length]="length" [pageSize]="limit" [pageSizeOptions]="pageSizeOptions"
    (page)="clickPagination($event)">
  </mat-paginator>
  <view-health-professional [pilotstudyid]="pilotStudy_id"></view-health-professional>

  <modal-confirmation [message]="'Tem certeza que deseja remover estudo piloto?'" (confirmation)="removeStudy()" (noconfirmation)="closeModalConfirmation()"></modal-confirmation>