
.card .card-header-danger:not(.card-header-icon):not(.card-header-text), .card.bg-danger, .card.card-rotate.bg-danger .front, .card.card-rotate.bg-danger .back {
  background: #00a594 !important;
}

.card-title {
  margin-left: 5px !important;
  color: white !important;
}

#buttons {
  position: relative;
  margin-top: -30px;
}

.btn-actived {
  background-color: #00a594;
}

.btn-disabled {
  background-color: #6d6c69;
}
