<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-md-12">
        
      </div> -->
      <div class="col-md-12" *ngIf="!openUserDetails">
        <haniot-card title="Tabela de usuários" subtitle="Usuários do HANIoT">
          <!--<haniot-table   [columns]="columns" [characters]="users"></haniot-table>-->
          <!--<app-table-material></app-table-material>-->
          <haniot-easy-table [users]="users" [columns]="columns" (selectedUser)="setLocalUser($event)"></haniot-easy-table>
        </haniot-card>


        <!-- <material-dialog></material-dialog>-->
      </div>
      <div class="col-md-12" *ngIf="openUserDetails">
       <!-- <haniot-card title="Detalhes usuário" subtitle="">
          <app-user-details (closeDetais)=hideUserDetails() [selectedUser]="selectedUser"></app-user-details>
        </haniot-card>
       -->
        <haniot-card title="Informações" subtitle="">
          <app-user-measurements-tabs [selectedUser]="selectedUser" ></app-user-measurements-tabs>
        </haniot-card>
        <div class="card-body">
          <button (click)="hideUserDetails()" class="btn btn-round button-color">Voltar</button>
        </div>
        <!-- <material-dialog></material-dialog>-->
      </div>
    </div>
  </div>
</div>