<div class="row justify-content-center">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 row justify-content-center">
        <div class="lds-spinner">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <p class="text-center">
            {{message}}
        </p>
    </div>
</div>
