<form [formGroup]="physicalActivityForm" *ngIf="physicalRecord">
    <div class="row">
        <div class="form-group has-feedback col-md">
            <label for="school_activity_freq">
                {{'HABITS.PHYSICAL-ACTIVITY.SCHOOL-ACTIVITY-FREQUENCY'|translate}}:
            </label>
            <input class="form-control" type="text" formControlName="school_activity_freq"
                   id="school_activity_freq">
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="form-group has-feedback col-md">
            <label for="weekly_activities">
                {{'HABITS.PHYSICAL-ACTIVITY.LIST-ACTIVITY-PRATICED'|translate}}:
            </label>
            <div class="col text-center">
                <ul class="list-inline">
                    <li class="list-inline-item"
                        *ngFor="let activity of physicalActivityForm.get('weekly_activities').value;"
                        id="weekly_activities">

                        <div class="activity">
                            <span class="align-top">
                                    {{activity | weeklyActivity | translate}}
                            </span>
                            <img [ngClass]="'bg-'+activity" src="../../../../assets/img/haniot/bg.png"
                                 [alt]="(activity|weeklyActivity)|translate">
                        </div>

                    </li>
                </ul>
            </div>
        </div>

    </div>

</form>

<div *ngIf="!physicalRecord">
    <span class="badge badge-warning badge-12 ellipsis">{{'HABITS.PHYSICAL-ACTIVITY.UNAVAILABLE-DATA'|translate}}</span>
</div>

