<div class="container-fluid">
    <div class="grid grid-1">
        <div class="item">
            <div class="item-content" style="width: 300px;height: 400px;">

                <dashboard-card [title]="'Peso'"
                                [urlAction]="['/app/patients','5e29e657f02abb00190fb9a6',EnumMeasurementType.weight]">

                </dashboard-card>

            </div>
        </div>

        <div class="item">
            <div class="item-content" style="width: 300px;height: 200px;">

                <dashboard-card [title]="'Altura'"
                                [urlAction]="['/app/patients','5e29e657f02abb00190fb9a6',EnumMeasurementType.height]">

                </dashboard-card>

            </div>
        </div>

        <div class="item">
            <div class="item-content" style="width: 300px;height: 200px;">

                <dashboard-card [title]="'C. da Cintura'"
                                [urlAction]="['/app/patients','5e29e657f02abb00190fb9a6',EnumMeasurementType.waist_circumference]">

                </dashboard-card>

            </div>
        </div>

        <div class="item">
            <div class="item-content" style="width: 300px;height: 200px;">

                <dashboard-card [title]="'Gordura Corporal'"
                                [urlAction]="['/app/patients','5e29e657f02abb00190fb9a6',EnumMeasurementType.body_fat]">

                </dashboard-card>

            </div>
        </div>

        <div class="item">
            <div class="item-content" style="width: 300px;height: 200px;">

                <dashboard-card [title]="'Temperatura'"
                                [urlAction]="['/app/patients','5e29e657f02abb00190fb9a6',EnumMeasurementType.body_temperature]">

                </dashboard-card>

            </div>
        </div>

        <div class="item">
            <div class="item-content" style="width: 600px;height: 200px;">

                <dashboard-card [title]="'Pressão Sanguinea'"
                                [urlAction]="['/app/patients','5e29e657f02abb00190fb9a6',EnumMeasurementType.blood_pressure]">

                </dashboard-card>

            </div>
        </div>

        <div class="item">
            <div class="item-content" style="width: 300px;height: 200px;">

                <dashboard-card [title]="'Glicemia'"
                                [urlAction]="['/app/patients','5e29e657f02abb00190fb9a6',EnumMeasurementType.blood_glucose]">

                </dashboard-card>

            </div>
        </div>
    </div>

</div>