<haniot-card [title]="'Histórico de doenças do paciente'" subtitle=''>

  <form [formGroup]="medicalForm">

    <label for="">
      Lista de doenças crônicas:
    </label>

    <div class="container">

      <!-- <div class="diseases" *ngFor="let disease of medicalForm.get('chronic_diseases').value;">
          <span class="disease-type">
            {{disease.type | chronicDisease}}
          </span>
          <span class="disease-history">{{disease.disease_history | diseaseHistory}}</span>
          
        </div> -->

      <div class="col-md-6" class="diseases" *ngFor="let disease of medicalForm.get('chronic_diseases').value;">
        <div class="card card-stats diseaseHistory">
          <div class="row container">
            <div class="col-md-2 d-flex justify-content-center d-flex align-items-center">
              <div class="card-icon-disease">

                <img [src]="'../../../../assets/img/haniot/'+disease.type+'.png'" alt="">

              </div>
            </div>
            <div class="col-md row">
              <div class="col-sm">
                <label for="">
                  Doença:
                </label>
                <h4 class="card-category">{{disease.type | chronicDisease}}</h4>
              </div>
              <div class="col-sm">
                <label for="">
                  Histórico:
                </label>
                <h4 class="card-category">{{disease.disease_history | diseaseHistory}}</h4>
              </div>
            </div>
          </div>



          <!-- <div class="diseaseHistory">            
            <span>{{disease.disease_history | diseaseHistory}}</span>
          </div> -->


        </div>
      </div>


    </div>

    <div class="d-flex flex-row-reverse">
      <div class="p-2"><small class="pull-right">Data do registro:
          {{medicalForm.get('created_at').value | myDate}}</small></div>
    </div>

  </form>

  <!-- Botões Anterior e Próximo -->
  <div class="container" *ngIf="listMedical.length>1">
    <div class="row">
      <div class="col align-self-start">
        <button mat-raised-button type="button" class="btn btn-white btn-round btn-just-icon" title="Anterior"
          (click)="prev()" [disabled]="!index">
          <i class="material-icons">arrow_back</i>
        </button>
      </div>

      <div class="col align-self-end">
        <button mat-raised-button type="button" class="btn btn-white btn-round btn-just-icon pull-right"
          (click)="next()" title="Próximo" [disabled]="index == listMedical.length-1">
          <i class="material-icons">arrow_forward</i>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="listMedical.length==0">
    <span class="badge badge-danger badge-12">Nenhum histórico de doenças cadastrado!</span>
  </div>
</haniot-card>