<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <time-series-card [title]="'ACTIVITY.SLEEP.TITLE'|translate"
                                  [subtitle]="'ACTIVITY.SLEEP.SUBTITLE'|translate"
                                  (filter_change)="applyFilter($event)" *ngIf="includeCard">

                    <div class="row justify-content-center fadeIn">

                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="max-width: 350px">
                            <div class="card card-stats">
                                <div class="card-header card-header-timer card-header-icon">
                                    <div class="card-icon">
                                        <img src="../../../../assets/img/time-series/sleep-white.svg" width="48"
                                             height="48">
                                    </div>
                                    <p class="card-category">{{'MEASUREMENTS.LAST-REGISTER'|translate}}: </p>
                                    <h3 class="card-title" *ngIf="lastData && lastData.duration">
                                        {{Math.floor((lastData.duration / 3600000)) + ('HABITS.SLEEP.TIME-ABBREVIATION'|translate) }}
                                        {{(lastData.duration % 3600000) ?
                                        ('SHARED.AND'|translate) + ' ' + Math.floor((lastData.duration % 3600000) / 60000) +
                                        ('HABITS.SLEEP.MINUTES-ABBREVIATION'|translate) : undefined
                                        }}
                                    </h3>
                                    <h3 class="card-title" *ngIf="!lastData || !lastData.duration">
                                        {{'MEASUREMENTS.VALUE'|translate}}
                                    </h3>
                                </div>

                            </div>
                            <div class="d-flex flex-row-reverse">
                                <div class="p-2">
                                    <small class="pull-right" *ngIf="lastData && lastData.start_time">
                                        {{'MEASUREMENTS.LAST-REGISTER'|translate}}
                                        : {{lastData.start_time | date}}</small>
                                    <small class="pull-right"
                                           *ngIf="!lastData">{{'MEASUREMENTS.LAST-REGISTER-DATE'|translate}}
                                        : {{'MEASUREMENTS.PATTERN-DATE'|translate}}</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"
                             style="display: flex; justify-content: center;">

                            <div class="echarts-div-graph" echarts
                                 [options]="options" (chartClick)="loadSleepGraph($event)"
                                 (chartInit)="onSleepChartInit($event)"></div>

                            <div class="unavailable-data">
                                <spinner *ngIf="showSpinner" style="position: absolute"></spinner>
                                <span *ngIf="listForGraph.length==0 && !showSpinner"
                                      class="badge badge-warning badge-12 ellipsis">{{'MEASUREMENTS.WEIGHT.UNAVAILABLE-DATA'|translate}}</span>
                            </div>
                        </div>

                        <!--        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 align-self-center">-->
                        <!--            <div class="d-flex flex-row-reverse">-->
                        <!--                <div class="p-2">-->
                        <!--                    <small class="pull-right" *ngIf="lastData && lastData.dataset">-->
                        <!--                        {{'MEASUREMENTS.LAST-REGISTER'|translate}}: {{lastData.dataset[0].timestamp | date}}</small>-->
                        <!--                    <small class="pull-right" *ngIf="!lastData">{{'MEASUREMENTS.LAST-REGISTER-DATE'|translate}}-->
                        <!--                        : {{'MEASUREMENTS.PATTERN-DATE'|translate}}</small>-->
                        <!--                </div>-->
                        <!--            </div>-->
                        <!--        </div>-->

                    </div>

                    <div class="row justify-content-center">

                        <div class=" text-center"
                             id="removeModalConfirmation"
                             *ngIf="modalConfirmRemoveMeasurement">

                            <div class="" tabindex="-1" data-backdrop="static" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header" *ngIf="!loadingMeasurements">
                                            <label>{{'SHARED.COMPONENTS.MODAL-CONFIRMATION.TITLE'|translate}}</label>
                                            <button type="button" class="close" aria-label="Close"
                                                    (click)="closeModalConfirmation()">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p *ngIf="cacheIdMeasurementRemove !== '' && !loadingMeasurements">
                                                {{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.MODAL-REMOVE.CONFIRM-UNIQUE-REMOVE'|translate}}
                                            </p>
                                            <p *ngIf="cacheIdMeasurementRemove === '' && !loadingMeasurements">
                                                {{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.MODAL-REMOVE.CONFIRM-MULTIPLE-REMOVE-PART1'|translate}}
                                                {{cacheListIdMeasurementRemove.length}}
                                                {{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.MODAL-REMOVE.CONFIRM-MULTIPLE-REMOVE-PART2'|translate}}
                                            </p>
                                            <spinner
                                                    [message]="'MEASUREMENTS.LOG-MEASUREMENTS-CARD.MODAL-REMOVE.SPINNER-MESSAGE'|translate"
                                                    *ngIf="loadingMeasurements"></spinner>

                                        </div>
                                        <div class="modal-footer" *ngIf="!loadingMeasurements">
                                            <button type="button" class="btn btn-haniot-secondary btn-sm"
                                                    (click)="closeModalConfirmation()">{{'SHARED.COMPONENTS.MODAL-CONFIRMATION.NO'|translate}}</button>
                                            <button type="button" class="btn btn-haniot-primary btn-sm"
                                                    (click)="removeMeasurement()">{{'SHARED.COMPONENTS.MODAL-CONFIRMATION.YES'|translate}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 row">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <h3>
                                    {{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.TITLE'|translate}}
                                </h3>
                            </div>
                            <div class="col-sm-4">
                                <mat-checkbox [(ngModel)]="selectAll" (click)="selectAllMeasurements()"
                                              [disabled]="!listForGraph.length">
                                    {{'EVALUATION.NUTRITION-EVALUATION.CARD-NUTRITION.SELECT-ALL'|translate}}
                                </mat-checkbox>
                            </div>
                            <div class="col d-flex flex-row-reverse">
                                <div class="p-2">
                                    <button type="button" class="btn btn-haniot-primary btn-sm"
                                            (click)="removeSelected()"
                                            [disabled]="!stateButtonRemoveSelected">
                                        {{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.REMOVE-SELECTED'|translate}}
                                    </button>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 align-content-center">
                            <!-- Table for type sleep -->
                            <table class="table table-hover table-sm">
                                <thead>
                                <th>#</th>
                                <th>{{'ACTIVITY.SLEEP.PERIOD'|translate}}</th>
                                <th>{{'ACTIVITY.SLEEP.DURATION'|translate}}</th>
                                <th>{{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.GENERIC-TABLE.ACTIONS'|translate}}</th>
                                </thead>
                                <tbody>
                                <tr *ngIf="listForLogs.length==0">
                                    <td colspan="4" *ngIf="showSpinnerLogs">
                                        <spinner
                                                [message]="'MEASUREMENTS.LOG-MEASUREMENTS-CARD.LOADING-MEASUREMENTS'|translate"></spinner>
                                    </td>
                                    <td colspan="4" *ngIf="!showSpinnerLogs && listLogsIsEmpty">
                                        <h4>{{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.LIST-EMPTY'|translate}}
                                            <br>
                                            <small>{{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.LIST-EMPTY-MESSAGE'|translate}}</small>
                                        </h4>
                                    </td>
                                </tr>
                                <tr *ngFor="let sleep of listForLogs;let i= index; trackBy: trackById">
                                    <td [title]="'ACTIVITY.VIEW-DETAILS'|translate"
                                        (click)="viewSleepDetails(sleep.id)">
                                        <mat-checkbox (change)="changeOnMeasurement()"
                                                      [(ngModel)]="listCheckMeasurements[i]"></mat-checkbox>
                                    </td>
                                    <td [title]="'ACTIVITY.VIEW-DETAILS'|translate"
                                        (click)="viewSleepDetails(sleep.id)">
                                        {{sleep.start_time | date:'short'}} -
                                        {{sleep.end_time | date:'short'}}
                                    </td>
                                    <td [title]="'ACTIVITY.VIEW-DETAILS'|translate"
                                        (click)="viewSleepDetails(sleep.id)">
                                        {{Math.floor((sleep.duration / 3600000)) + ('HABITS.SLEEP.TIME-ABBREVIATION'|translate) }}
                                        {{(sleep.duration % 3600000) ?
                                        ('SHARED.AND'|translate) + ' ' + Math.floor((sleep.duration % 3600000) / 60000) +
                                        ('HABITS.SLEEP.MINUTES-ABBREVIATION'|translate) : undefined
                                        }}
                                        <div class="float-left"
                                             *ngIf="(sleep.duration / 3600000)>=IDEAL_SLEEP_VALUE">
                                            <i class="material-icons"
                                               [title]="'ACTIVITY.SLEEP.REACHED-THE-IDEAL'|translate">star</i>
                                        </div>
                                    </td>
                                    <td>
                                        <a class="nav-link"
                                           [title]="'MEASUREMENTS.LOG-MEASUREMENTS-CARD.DELETE-MEASUREMENT'|translate"
                                           (click)="openModalConfirmation(sleep.id)">
                                            <i class="material-icons">delete</i>
                                        </a>
                                    </td>
                                </tr>

                                </tbody>
                            </table>

                            <mat-paginator [length]="length" [pageSize]="limit" [pageSizeOptions]="pageSizeOptions"
                                           (page)="clickPagination($event)">
                            </mat-paginator>

                        </div>

                    </div>

                </time-series-card>

                <div class="row fadeIn" *ngIf="!includeCard">

                    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-3 align-self-center">
                        <div class="card card-stats">
                            <div class="card-header card-header-timer card-header-icon">
                                <div class="card-icon">
                                    <div class="bg-height"></div>
                                </div>
                                <p class="card-category">{{'MEASUREMENTS.LAST-REGISTER'|translate}}: </p>
                                <h3 class="card-title" *ngIf="lastData && lastData.duration">
                                    {{Math.floor((lastData.duration / 3600000)) + ('HABITS.SLEEP.TIME-ABBREVIATION'|translate) }}
                                    {{(lastData.duration % 3600000) ?
                                    ('SHARED.AND'|translate) + ' ' + Math.floor((lastData.duration % 3600000) / 60000) +
                                    ('HABITS.SLEEP.MINUTES-ABBREVIATION'|translate) : undefined
                                    }}
                                </h3>
                                <h3 class="card-title" *ngIf="!lastData || !lastData.duration">
                                    {{'MEASUREMENTS.VALUE'|translate}}
                                </h3>
                            </div>

                        </div>
                        <div class="d-flex flex-row-reverse">
                            <div class="p-2">
                                <small class="pull-right" *ngIf="lastData && lastData.start_time">
                                    {{'MEASUREMENTS.LAST-REGISTER'|translate}}: {{lastData.start_time | date}}</small>
                                <small class="pull-right"
                                       *ngIf="!lastData">{{'MEASUREMENTS.LAST-REGISTER-DATE'|translate}}
                                    : {{'MEASUREMENTS.PATTERN-DATE'|translate}}</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-9 align-self-center"
                         style="display: flex; justify-content: center;">

                        <div class="echarts-div-graph" echarts
                             [options]="options" (chartClick)="loadSleepGraph($event)"
                             (chartInit)="onSleepChartInit($event)"></div>

                        <div class="unavailable-data">
                            <spinner *ngIf="showSpinner" style="position: absolute"></spinner>
                            <span *ngIf="listForGraph.length==0 && !showSpinner"
                                  class="badge badge-warning badge-12 ellipsis">{{'MEASUREMENTS.WEIGHT.UNAVAILABLE-DATA'|translate}}</span>
                        </div>
                    </div>

                    <!--        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 align-self-center">-->
                    <!--            <div class="d-flex flex-row-reverse">-->
                    <!--                <div class="p-2">-->
                    <!--                    <small class="pull-right" *ngIf="lastData && lastData.dataset">-->
                    <!--                        {{'MEASUREMENTS.LAST-REGISTER'|translate}}: {{lastData.dataset[0].timestamp | date}}</small>-->
                    <!--                    <small class="pull-right" *ngIf="!lastData">{{'MEASUREMENTS.LAST-REGISTER-DATE'|translate}}-->
                    <!--                        : {{'MEASUREMENTS.PATTERN-DATE'|translate}}</small>-->
                    <!--                </div>-->
                    <!--            </div>-->
                    <!--        </div>-->

                </div>

            </div>
        </div>
    </div>
</div>

<div *ngIf="removingSleep">
    <div class="externa">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                                <spinner [message]="'ACTIVITY.SLEEP.SPINNER-MESSAGE'|translate"></spinner>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Fundo preto do modal-->
    <div class="modal-backdrop show">
    </div>
</div>

<modal-confirmation
        [message]="!cacheIdMeasurementRemove || cacheIdMeasurementRemove === ''?('MEASUREMENTS.LOG-MEASUREMENTS-CARD.MODAL-REMOVE.CONFIRM-MULTIPLE-REMOVE-PART1'|translate) +
        ' '+cacheListIdMeasurementRemove.length+' ' + ('MEASUREMENTS.LOG-MEASUREMENTS-CARD.MODAL-REMOVE.CONFIRM-MULTIPLE-REMOVE-PART2'|translate)
        :'MEASUREMENTS.LOG-MEASUREMENTS-CARD.MODAL-REMOVE.CONFIRM-UNIQUE-REMOVE'|translate"
        (confirmation)="removeMeasurement()"
        (noconfirmation)="closeModalConfirmation()"></modal-confirmation>
