<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <haniot-card [title]="'CONFIG.CONFIG-MYDATES-TITLE' | translate"
                             [subtitle]="'CONFIG.CONFIG-MYDATES-SUBTITLE' | translate">
                    <form [formGroup]="patientForm" (ngSubmit)="onSubmit(patientForm)">

                        <div class="divSpinner" *ngIf="!user.id">
                            <spinner></spinner>
                        </div>

                        <div class="row">
                            <div class="form-group has-feedback col-sm-12 col-md-6 col-lg-6 col-xl-6"
                                 [ngClass]="{'has-success': patientForm.controls.name.valid,
              'has-error': patientForm.controls.name.invalid && (patientForm.controls.name.touched || patientForm.controls.name.dirty)}">
                                <label for="name">
                                    {{'SHARED.NAME'|translate}}:
                                </label>
                                <input class="form-control" type="text" formControlName="name" id="name">
                                <span *ngIf="patientForm.controls.name.valid"
                                      class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span
                                        *ngIf="patientForm.controls.name.invalid && (patientForm.controls.name.touched || patientForm.controls.name.dirty)">
                                    <span class="glyphicon glyphicon-remove form-control-feedback"
                                          aria-hidden="true"></span>
                                    <span class="text-danger">{{'SHARED.INVALID-NAME'|translate}}.</span>
                                </span>
                            </div>
                            <div class="form-group has-feedback col-sm-12 col-md-6 col-lg-6 col-xl-6"
                                 [ngClass]="{'has-success': patientForm.controls.phone_number.valid,
              'has-error': patientForm.controls.phone_number.invalid && (patientForm.controls.phone_number.touched || patientForm.controls.phone_number.dirty)}">
                                <label for="phone_number">
                                    {{'SHARED.PHONE'|translate}}:
                                    <small>({{'SHARED.ONLY-NUMBERS'|translate}})</small>
                                </label>
                                <input class="form-control" type="text" formControlName="phone_number" id="phone_number"
                                       (keyup)="applyMaskPhoneNumber()">
                                <span *ngIf="patientForm.controls.phone_number.valid"
                                      class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span
                                        *ngIf="patientForm.controls.phone_number.invalid && (patientForm.controls.phone_number.touched || patientForm.controls.phone_number.dirty)">
                                    <span class="glyphicon glyphicon-remove form-control-feedback"
                                          aria-hidden="true"></span>
                                    <span class="text-danger">{{'SHARED.INVALID-PHONE'|translate}}.</span>
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group has-feedback col-sm-12 col-md-12 col-lg-12 col-xl-12"
                                 [ngClass]="{'has-success': patientForm.controls.email.valid,
              'has-error': patientForm.controls.email.invalid && (patientForm.controls.email.touched || patientForm.controls.email.dirty)}">
                                <label for="email">
                                    {{'SHARED.EMAIL'|translate}}:
                                </label>
                                <input class="form-control" type="text" formControlName="email" id="email">
                                <span *ngIf="patientForm.controls.email.valid"
                                      class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span
                                        *ngIf="patientForm.controls.email.invalid && (patientForm.controls.email.touched || patientForm.controls.email.dirty)">
                                    <span class="glyphicon glyphicon-remove form-control-feedback"
                                          aria-hidden="true"></span>
                                    <span class="text-danger">{{'SHARED.INVALID-EMAIL'|translate}}.</span>
                                </span>
                            </div>
                        </div>


                        <div class="row">

                            <div class="form-group has-feedback col-md"
                                 [ngClass]="{'has-success': patientForm.controls.gender.valid,
                'has-error': patientForm.controls.gender.invalid && (patientForm.controls.gender.touched || patientForm.controls.gender.dirty)}">
                                <label for="gender">
                                    {{'SHARED.GENDER'|translate}}:
                                </label>
                                <select class="form-control" formControlName="gender" name="gender" id="gender">
                                    <option *ngFor="let itemGender of optionsGender" [value]="itemGender">
                                        {{itemGender | gender |translate}}</option>
                                </select>
                                <span *ngIf="patientForm.controls.gender.valid"
                                      class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span
                                        *ngIf="patientForm.controls.gender.invalid && (patientForm.controls.gender.touched || patientForm.controls.gender.dirty)">
                                    <span class="glyphicon glyphicon-remove form-control-feedback"
                                          aria-hidden="true"></span>
                                    <span class="text-danger"> {{'SHARED.INVALID-GENDER'|translate}}.</span>
                                </span>
                            </div>

                            <div class="form-group has-feedback col-md"
                                 [ngClass]="{'has-success': patientForm.controls.birth_date.valid,
            'has-error': patientForm.controls.birth_date.invalid && (patientForm.controls.birth_date.touched || patientForm.controls.birth_date.dirty)}">
                                <label>
                                    {{'SHARED.BIRTH-DATE'|translate}}:
                                </label>
                                <div class="row">
                                    <div class="col-md-10">
                                        <input matInput class="form-control" [matDatepicker]="pickerBirthDate"
                                               formControlName="birth_date" name="birth_date"
                                               data-date-format="yyyy-MM-dd"
                                               [max]="max_birth_date"
                                               [placeholder]="'PATIENTS.PATIENTS-FORM.SELECT-BIRTH-DATE'|translate">
                                    </div>
                                    <div class="col-md-2">
                                        <!--                                        <mat-datepicker-toggle matSuffix  [for]="pickerBirthDate"></mat-datepicker-toggle>-->
                                        <!--                                        <mat-datepicker #pickerBirthDate></mat-datepicker>-->
                                        <mat-datepicker-toggle matSuffix [for]="pickerBirthDate">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #pickerBirthDate startView="year" [startAt]="min_birth_date">
                                        </mat-datepicker>
                                    </div>
                                </div>
                                <span *ngIf="patientForm.controls.birth_date.valid"
                                      class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span
                                        *ngIf="patientForm.controls.birth_date.invalid && (patientForm.controls.birth_date.touched || patientForm.controls.birth_date.dirty)">
                                    <span class="glyphicon glyphicon-remove form-control-feedback"
                                          aria-hidden="true"></span>
                                    <span class="text-danger">{{'SHARED.INVALID-BIRTH-DATE'|translate}}.</span>
                                </span>
                            </div>


                        </div>

                        <div class="container-fluid" style="padding-left: 0px;padding-right: 0px">
                            <div class="d-flex justify-content-between align-items-end">
                                <div class="p-2">
                                    <button type="button" class="btn btn-haniot-primary" (click)="enabledEdit()"
                                            [disabled]="disabledButtonEdit">
                                        {{'CONFIG.CONFIG-MYDATES-ENABLE-EDITING' | translate}}
                                    </button>
                                </div>
                                <div class="p-2" *ngIf="visibilityButtonSave">
                                    <button type="submit" class="btn btn-haniot-primary"
                                            [disabled]="!patientForm.valid">
                                        {{'SHARED.SAVE' | translate}}
                                    </button>
                                </div>
                                <div class="p-2">
                                    <delete-account [userId]="this.userId"></delete-account>
                                </div>
                            </div>
                        </div>
                    </form>

                </haniot-card>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <access-settings [userId]="userId"></access-settings>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <language-settings></language-settings>
            </div>
        </div>
    </div>
</div>
