@import '../../../../assets/scss/template-colors';

.material-icons {
  color: $primary-color;
  cursor: pointer;
}

.nav-link i:hover {
  border-radius: 10px;
  background: rgb(212, 207, 207);
}

table tr {
  cursor: pointer;
}

.evaluation-complete {
  color: white;
  font-size: 14px;
  font-weight: bold;
  background-color: $primary-color;
  padding: 5px 5px;
  border-radius: 5px;
}

.evaluation-incomplete {
  color: black;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 5px;
  border-radius: 5px;
  background-color: #adada9;
}

td img {
  width: 2%;
}

$breakpoint-alpha: 480px;

@media (min-width: $breakpoint-alpha) {
  .max-width-60 {
    width: 60px;
    max-width: 60px;
  }

  .max-width-150 {
    width: 150px;
    max-width: 150px;
  }
}

