h2,
p {
  color: black;
}

#top {
  background: #137767;
  opacity: 1;
  width: 100%;
  height: 30px;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#div-footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#haniotTitle {
  color: #ffffff;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin: 5px 5px;
}

.silhueta-bg {
  position: absolute;
  left: 0px;
  z-index: 998;
  opacity: 0.8;
}

#div-message {
  padding: 10px 10px;
  border-radius: 0.5rem;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.5);
}

#div-message h2 {
  color: #137767;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin: 5px 5px;
}

#div-message p {
  color: #000000;
  text-align: justify;
  font-size: 20px;
  font-weight: bold;
  margin: 5px 5px;
}
