<haniot-card [title]="'Hábitos de sono do paciente'" subtitle=''>

  <div class="container">

    <form [formGroup]="sleepForm">
      <!-- <div class="row">
            <div class="form-group col-md-4">
              <label for="created_at">
                Data do registro:
              </label>
              <input matInput class="form-control" [matDatepicker]="pickerCreated" formControlName="created_at"
                name="created_at" data-date-format="yyyy-MM-dd">
            </div>
          </div> -->
      <div class="row">

        <div class="col-md col-sm">
          <div class="card card-stats">
            <div class="card-header card-header-timer card-header-icon">
              <div class="card-icon">
                <i class="material-icons" id="alarm_on">alarm_on</i>
              </div>
              <p class="label">Horario que acorda:</p>
              <h3 class="card-title">{{sleepForm.get('week_day_wake_up').value}} hs</h3>
            </div>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-md col-sm">
          <div class="card card-stats">
            <div class="card-header card-header-timer card-header-icon">
              <div class="card-icon">
                <i class="material-icons" id="alarm">alarm</i>
              </div>
              <p class="label">Horario que vai dormir:</p>
              <h3 class="card-title">{{sleepForm.get('week_day_sleep').value}} hs</h3>
            </div>
          </div>
        </div>

      </div>

      <div class="d-flex flex-row-reverse">
        <div class="p-2"><small class="pull-right">Data do registro:
            {{sleepForm.get('created_at').value | myDate}}</small></div>
        <!-- {{sleepForm.get('created_at').value | date : "medium"}}</small></div> -->
      </div>

    </form>

  </div>

  <!-- Botões Anterior e Próximo -->
  <div class="container" *ngIf="listSleep.length>1">
    <div class="row">
      <div class="col align-self-start">
        <button mat-raised-button type="button" class="btn btn-white btn-round btn-just-icon" title="Anterior"
          (click)="prev()" [disabled]="!index">
          <i class="material-icons">arrow_back</i>
        </button>
      </div>

      <div class="col align-self-end">
        <button mat-raised-button type="button" class="btn btn-white btn-round btn-just-icon pull-right"
          (click)="next()" title="Próximo" [disabled]="index == listSleep.length-1">
          <i class="material-icons">arrow_forward</i>
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="listSleep.length==0">
    <span class="badge badge-danger badge-12">Nenhum hábito de sono cadastrado!</span>
  </div>
</haniot-card>