<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <haniot-card [title]="'Estudo piloto'" subtitle=''>
                    <form [formGroup]="pilotStudyForm">

                        <div class="row">
                            <div class="form-group has-feedback col-sm-12 col-md-6"
                                 [ngClass]="{'has-success': pilotStudyForm.controls.name.valid,
          'has-error': pilotStudyForm.controls.name.invalid && (pilotStudyForm.controls.name.touched || pilotStudyForm.controls.name.dirty)}">
                                <label for="name">
                                    Nome:
                                </label>
                                <input class="form-control" type="text" formControlName="name" id="name">
                                <span *ngIf="pilotStudyForm.controls.name.valid"
                                      class="glyphicon glyphicon-ok form-control-feedback"
                                      aria-hidden="true"></span>
                                <span
                                        *ngIf="pilotStudyForm.controls.name.invalid && (pilotStudyForm.controls.name.touched || pilotStudyForm.controls.name.dirty)">
                  <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                  <span class="text-danger">Nome de estudo inválido.</span>
                </span>
                            </div>
                            <div class="form-group has-feedback col-sm-12 col-md-6"
                                 [ngClass]="{'has-success': pilotStudyForm.controls.location.valid,
          'has-error': pilotStudyForm.controls.location.invalid && (pilotStudyForm.controls.location.touched || pilotStudyForm.controls.location.dirty)}">
                                <label for="location">
                                    Local:
                                </label>
                                <input class="form-control" type="text" formControlName="location" id="location">
                                <span *ngIf="pilotStudyForm.controls.location.valid"
                                      class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span
                                        *ngIf="pilotStudyForm.controls.location.invalid && (pilotStudyForm.controls.location.touched || pilotStudyForm.controls.location.dirty)">
                  <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                  <span class="text-danger">Local inválido.</span>
                </span>
                            </div>

                        </div>

                        <div class="row">
                            <div class="form-group has-feedback col-sm-12 col-md-4 col-lg-4 col-xl-4"
                                 [ngClass]="{'has-success': pilotStudyForm.controls.start.valid,
          'has-error': pilotStudyForm.controls.start.invalid && (pilotStudyForm.controls.start.touched || pilotStudyForm.controls.start.dirty)}">
                                <label for="start">
                                    Inicio:
                                </label>
                                <div class="row">
                                    <div class="col-md-10">
                                        <input matInput [matDatepicker]="pickerStart" class="form-control"
                                               formControlName="start"
                                               id="start" placeholder="Selecione a data de inicio">
                                    </div>
                                    <div class="col-md-2">
                                        <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                                        <mat-datepicker #pickerStart></mat-datepicker>
                                    </div>
                                </div>
                                <span *ngIf="pilotStudyForm.controls.start.valid"
                                      class="glyphicon glyphicon-ok form-control-feedback"
                                      aria-hidden="true"></span>
                                <span
                                        *ngIf="pilotStudyForm.controls.start.invalid && (pilotStudyForm.controls.start.touched || pilotStudyForm.controls.start.dirty)">
                  <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                  <span class="text-danger">Data de início inválida.</span>
                </span>
                            </div>


                            <div class="form-group has-feedback col-sm-12 col-md-4 col-lg-4 col-xl-4"
                                 [ngClass]="{'has-success': pilotStudyForm.controls.end.valid,
          'has-error': pilotStudyForm.controls.end.invalid && (pilotStudyForm.controls.end.touched || pilotStudyForm.controls.end.dirty)}">
                                <label for="end">
                                    Término:
                                </label>
                                <div class="row">
                                    <div class="col-md-10">
                                        <input matInput class="form-control" [matDatepicker]="pickerEnd"
                                               [min]="pilotStudyForm.get('start').value" formControlName="end" id="end"
                                               placeholder="Selecione a data de término">
                                    </div>
                                    <div class="col-md-2">
                                        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                                        <mat-datepicker #pickerEnd></mat-datepicker>
                                    </div>
                                </div>
                                <span *ngIf="pilotStudyForm.controls.end.valid"
                                      class="glyphicon glyphicon-ok form-control-feedback"
                                      aria-hidden="true"></span>
                                <span
                                        *ngIf="pilotStudyForm.controls.end.invalid && (pilotStudyForm.controls.end.touched || pilotStudyForm.controls.end.dirty)">
                  <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                  <span class="text-danger">Data de término inválida.</span>
                </span>
                            </div>
                            <div class="form-group has-feedback col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                <label for="end">
                                    Situação:
                                </label>
                                <div class="container">
                                    <mat-slide-toggle class="example-margin" [color]="color" formControlName="is_active"
                                                      id="is_active">
                                        {{pilotStudyForm.controls.is_active.value ? 'Ativado' : 'Desativado'}}
                                    </mat-slide-toggle>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group has-feedback col-sm-12 col-md-12 col-lg-12 col-xl-12"
                                 [ngClass]="{'has-success': pilotStudyForm.controls.health_professionals_id.valid,
            'has-error': pilotStudyForm.controls.health_professionals_id.invalid && (pilotStudyForm.controls.health_professionals_id.touched || pilotStudyForm.controls.health_professionals_id.dirty)}"
                                 *ngIf="!pilotStudyId">
                                <mat-form-field>
                                    <mat-label>Profissionais:</mat-label>
                                    <mat-select formControlName="health_professionals_id" name="health_professionals_id"
                                                id="health_professionals_id" multiple>
                                        <mat-option *ngFor="let prof of listProf" [value]="prof.id">{{prof.name}},
                                            {{prof.health_area | healthArea}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <span *ngIf="pilotStudyForm.controls.health_professionals_id.valid"
                                      class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span
                                        *ngIf="pilotStudyForm.controls.health_professionals_id.invalid && (pilotStudyForm.controls.health_professionals_id.touched || pilotStudyForm.controls.health_professionals_id.dirty)">
                  <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                  <span class="text-danger">Selecione profissionais.</span>
                </span>
                            </div>
                        </div>

                        <div class="d-flex justify-content-around">
                            <div class="p-2">
                                <button type="button" class="btn btn-haniot-secondary" (click)="onBack()">
                                    <i class="material-icons" id="iconBack">arrow_back</i>
                                    Voltar
                                </button>
                            </div>
                            <div class="p-2">
                                <button type="button" class="btn btn-haniot-primary" (click)="onSubimt()"
                                        [disabled]="!pilotStudyForm.valid">Salvar
                                </button>
                            </div>
                        </div>

                    </form>
                </haniot-card>
            </div>
            <div class="col-md-12">
                <haniot-card title="Arquivos disponíveis para download" subtitle="">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <pilot-study-files [pilotStudy]="pilotStudy"></pilot-study-files>
                        </div>
                    </div>
                </haniot-card>
            </div>
            <!-- <div class="col-md-12">
              <haniot-card title="Gráficos indicativos de medidas" subtitle="HANIoT">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <div [ts-chart]="option1"></div>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <div [ts-chart]="option2"></div>
                  </div>
                </div>
              </haniot-card>
            </div>

            <div class="col-md-12">
              <haniot-card title="Gráficos indicativos de medidas" subtitle="HANIoT">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <div [ts-chart]="option3"></div>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <div [ts-chart]="option4"></div>
                  </div>
                </div>
              </haniot-card>
            </div> -->

        </div>
    </div>
</div>
