<measurement-card [title]="'TIME-SERIES.CALORIES.TITLE'|translate"
                  [subtitle]="'TIME-SERIES.CALORIES.SUBTITLE'|translate" [filter_visibility]="filterVisibility"
                  (filter_change)="applyFilter($event)" *ngIf="includeCard">

    <div class="row justify-content-center">

        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="card card-stats">
                <div class="card-header card-header-timer card-header-icon">
                    <div class="card-icon">
                        <img src="../../../../assets/img/time-series/calories-white.png" width="30">
                    </div>
                    <p class="card-category">{{'TIME-SERIES.AVERAGE-WEEK'|translate}}: </p>
                    <h3 class="card-title">
                        {{lastData && lastData.summary ? lastData.summary.total : 0}} <small>{{'TIME-SERIES.CALORIES.CALORIES'|translate}}</small>
                    </h3>
                    <!--                    <h3 class="card-title" *ngIf="lastData && lastData.value">-->
                    <!--                        {{lastData.value + '' + lastData.unit}}-->
                    <!--                    </h3>-->
                    <!--                    <h3 class="card-title" *ngIf="!lastData || !lastData.value">-->
                    <!--                        {{'MEASUREMENTS.VALUE'|translate}}-->
                    <!--                    </h3>-->
                </div>
            </div>

        </div>

        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="card card-stats">
                <div class="card-header card-header-timer card-header-icon">
                    <div class="card-icon">
                        <img src="../../../../assets/img/time-series/calories-white.png" width="30">
                    </div>
                    <p class="card-category">{{'TIME-SERIES.BEAT-YESTERDAY'|translate}}: </p>
                    <h3 class="card-title">
                        {{lastData && lastData.summary ? lastData.summary.total : 0}} <small>{{'TIME-SERIES.CALORIES.CALORIES'|translate}}</small>
                    </h3>
                    <!--                    <h3 class="card-title" *ngIf="lastData && lastData.value">-->
                    <!--                        {{lastData.value + '' + lastData.unit}}-->
                    <!--                    </h3>-->
                    <!--                    <h3 class="card-title" *ngIf="!lastData || !lastData.value">-->
                    <!--                        {{'MEASUREMENTS.VALUE'|translate}}-->
                    <!--                    </h3>-->
                </div>
            </div>

        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"
             style="display: flex; justify-content: center;padding-left: 0px">

            <div class="align-self-center echarts-div-graph" echarts
                 [options]="options" (chartInit)="onChartInit($event)"></div>

            <div class="unavailable-data">
                <spinner *ngIf="showSpinner" style="position: absolute"></spinner>
                <span *ngIf="data.length==0 && !showSpinner"
                      class="badge badge-warning badge-12 ellipsis">{{'TIME-SERIES.UNAVAILABLE-DATA'|translate}}</span>
            </div>
        </div>

    </div>

</measurement-card>

<div class="row justify-content-center" *ngIf="!includeCard">

    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class="card card-stats">
            <div class="card-header card-header-timer card-header-icon">
                <div class="card-icon">
                    <img src="../../../../assets/img/time-series/calories-white.png" width="30">
                </div>
                <p class="card-category">{{'TIME-SERIES.AVERAGE-WEEK'|translate}}: </p>
                <h3 class="card-title">
                    {{lastData && lastData.summary ? lastData.summary.total : 0}} <small>{{'TIME-SERIES.CALORIES.CALORIES'|translate}}</small>
                </h3>
                <!--                    <h3 class="card-title" *ngIf="lastData && lastData.value">-->
                <!--                        {{lastData.value + '' + lastData.unit}}-->
                <!--                    </h3>-->
                <!--                    <h3 class="card-title" *ngIf="!lastData || !lastData.value">-->
                <!--                        {{'MEASUREMENTS.VALUE'|translate}}-->
                <!--                    </h3>-->
            </div>
        </div>

    </div>

    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class="card card-stats">
            <div class="card-header card-header-timer card-header-icon">
                <div class="card-icon">
                    <img src="../../../../assets/img/time-series/calories-white.png" width="30">
                </div>
                <p class="card-category">{{'TIME-SERIES.BEAT-YESTERDAY'|translate}}: </p>
                <h3 class="card-title">
                    {{lastData && lastData.summary ? lastData.summary.total : 0}} <small>{{'TIME-SERIES.CALORIES.CALORIES'|translate}}</small>
                </h3>
                <!--                    <h3 class="card-title" *ngIf="lastData && lastData.value">-->
                <!--                        {{lastData.value + '' + lastData.unit}}-->
                <!--                    </h3>-->
                <!--                    <h3 class="card-title" *ngIf="!lastData || !lastData.value">-->
                <!--                        {{'MEASUREMENTS.VALUE'|translate}}-->
                <!--                    </h3>-->
            </div>
        </div>

    </div>

    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"
         style="display: flex; justify-content: center;padding-left: 0px">

        <div class="align-self-center echarts-div-graph" echarts
             [options]="options" (chartInit)="onChartInit($event)"></div>

        <div class="unavailable-data">
            <spinner *ngIf="showSpinner" style="position: absolute"></spinner>
            <span *ngIf="data.length==0 && !showSpinner"
                  class="badge badge-warning badge-12 ellipsis">{{'TIME-SERIES.UNAVAILABLE-DATA'|translate}}</span>
        </div>
    </div>

</div>
