.background-green:hover {
    background-color: #00a594;
}

#navbarDropdownMenuLink i {
    padding: 20px 5px;
}

#userName {
    font-size: 14px;
    font-style: italic;
}

#userName:hover {
    text-decoration-line: underline;
    text-decoration-style: solid;
}

#config-graph {
    padding: 5px 5px;
}

#navbarDropdownMenuLink i:hover {
    cursor: pointer;
    color: #00a594;
}

label {
    color: black;
    font-size: 14px;
    font-weight: bold;
}

#div-selectPilotStudy {
    z-index: 999;
    cursor: pointer;
    position: absolute;
    right: 20%;
}

@media (max-width: 1900px) and (min-width: 1460px) {
    #div-selectPilotStudy {
        position: absolute;
        right: 28%;
    }
}

@media (max-width: 1460px) and (min-width: 1230px) {
    #div-selectPilotStudy {
        position: absolute;
        right: 35%;
    }
}

@media (max-width: 1230px) and (min-width: 1060px) {
    #div-selectPilotStudy {
        position: absolute;
        right: 40%;
    }
}

@media (max-width: 1060px) and (min-width: 1000px) {
    #div-selectPilotStudy {
        position: absolute;
        right: 45%;
    }
}

@media (max-width: 1000px) and (min-width: 992px) {
    #div-selectPilotStudy {
        position: absolute;
        right: 43%;
    }
}
@media (max-width: 992px) {
    #div-selectPilotStudy {
        position: absolute;
        right: 20%;
    }
}

