#dropdownPilotSelected {
    margin-left: 10px;
}

#dropdownSelectPilot {
    max-height: 250px;
    overflow-y: scroll;
}

.dropdown-menu a:hover {
    color: white;
}

.background-green:hover {
    background-color: #00a594;
    cursor: pointer;
}

#navbarDropdownMenuLink i {
    padding: 20px 5px;
}

#userName {
    font-size: 14px;
    font-style: italic;
}

#userName:hover {
    text-decoration-line: underline;
    text-decoration-style: solid;
}

#config-graph {
    padding: 5px 5px;
}

#navbarDropdownMenuLink i:hover {
    cursor: pointer;
    color: #00a594;
}

label {
    color: black;
    font-size: 14px;
    font-weight: bold;
}

#dropdownPilotSelected {
    z-index: 99999;
    cursor: pointer;
}



