<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <haniot-card
                        [title]="(patientId)?('PATIENTS.PATIENTS-FORM.TITLE-EDIT'|translate):('PATIENTS.PATIENTS-FORM.TITLE-CREATE'|translate)"
                        [subtitle]="'PATIENTS.PATIENTS-FORM.SUBTITLE'|translate">
                    <form [formGroup]="patientForm">

                        <div class="divSpinner" *ngIf="patientId && !patientForm.get('id').value">
                            <spinner></spinner>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"
                                 style="padding-top: 0px; padding-bottom: 0px; margin-top: 0px; margin-bottom: 0px"
                                 *ngIf="patientForm && (patientForm.get('created_at').value||patientForm.get('last_login').value)">
                                <div class="d-flex"
                                     [ngClass]="patientForm && patientForm.get('last_login').value?'justify-content-between':'justify-content-end'">
                                    <div *ngIf="patientForm && patientForm.get('created_at').value">
                                        <small style="font-size: 12px">{{'SHARED.CREATED-AT'|translate}}
                                            : {{patientForm.get('created_at').value|date:'shortDate'}}
                                        </small>
                                    </div>

                                    <div *ngIf="patientForm && patientForm.get('last_login').value">
                                        <small style="font-size: 12px">{{'SHARED.LAST-LOGIN'|translate}}
                                            : {{patientForm.get('last_login').value|date:'fullDate'}}
                                            {{'SHARED.AT'|translate}}
                                            {{patientForm.get('last_login').value|date:'mediumTime'}}</small>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group has-feedback col-sm-12 col-md-6 col-lg-6 col-xl-6"
                                 [ngClass]="{'has-success': patientForm.controls.name.valid,
              'has-error': patientForm.controls.name.invalid && (patientForm.controls.name.touched || patientForm.controls.name.dirty)}">
                                <label for="name">
                                    {{'SHARED.NAME'|translate}}:
                                </label>
                                <input class="form-control" type="text" formControlName="name" id="name">
                                <span *ngIf="patientForm.controls.name.valid"
                                      class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span
                                        *ngIf="patientForm.controls.name.invalid && (patientForm.controls.name.touched || patientForm.controls.name.dirty)">
                                    <span class="glyphicon glyphicon-remove form-control-feedback"
                                          aria-hidden="true"></span>
                                    <span class="text-danger">{{'SHARED.INVALID-NAME'|translate}}.</span>
                                </span>
                            </div>
                            <div class="form-group has-feedback col-sm-12 col-md-6 col-lg-6 col-xl-6"
                                 [ngClass]="{'has-success': patientForm.controls.phone_number.valid,
              'has-error': patientForm.controls.phone_number.invalid && (patientForm.controls.phone_number.touched || patientForm.controls.phone_number.dirty)}">
                                <label for="phone_number">
                                    {{'SHARED.PHONE'|translate}}:
                                    <small>({{'SHARED.ONLY-NUMBERS'|translate}})</small>
                                </label>
                                <input class="form-control" type="text" formControlName="phone_number" id="phone_number"
                                       (keyup)="applyMaskPhoneNumber()">
                                <span *ngIf="patientForm.controls.phone_number.valid"
                                      class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span
                                        *ngIf="patientForm.controls.phone_number.invalid && (patientForm.controls.phone_number.touched || patientForm.controls.phone_number.dirty)">
                                    <span class="glyphicon glyphicon-remove form-control-feedback"
                                          aria-hidden="true"></span>
                                    <span class="text-danger">{{'SHARED.INVALID-PHONE'|translate}}.</span>
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group has-feedback col-sm-12 col-md-6 col-lg-6 col-xl-6"
                                 [ngClass]="{'has-success': patientForm.controls.email.valid,
              'has-error': patientForm.controls.email.invalid && (patientForm.controls.email.touched || patientForm.controls.email.dirty)}">
                                <label for="email">
                                    {{'SHARED.EMAIL'|translate}}:
                                </label>
                                <input class="form-control" type="text" formControlName="email" id="email"
                                       (focus)="cleanEmailConflit()">
                                <span *ngIf="patientForm.controls.email.valid"
                                      class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span
                                        *ngIf="patientForm.controls.email.invalid && (patientForm.controls.email.touched || patientForm.controls.email.dirty)">
                                    <span class="glyphicon glyphicon-remove form-control-feedback"
                                          aria-hidden="true"></span>
                                    <span class="text-danger">{{'SHARED.INVALID-EMAIL'|translate}}.</span>
                                </span>
                                <span
                                        *ngIf="errorEmailConflit">
                                    <span class="glyphicon glyphicon-remove form-control-feedback"
                                          aria-hidden="true"></span>
                                    <span class="text-danger">{{'TOAST-MESSAGES.EMAIL-REGISTRED'|translate}}.</span>
                                </span>
                            </div>

                            <div class="form-group has-feedback col-sm-12 col-md-6 col-lg-6 col-xl-6"
                                 [ngClass]="{'has-success': patientForm.controls.address.valid,
              'has-error': patientForm.controls.address.invalid && (patientForm.controls.address.touched || patientForm.controls.address.dirty)}">
                                <label for="email">
                                    {{'SHARED.ADDRESS'|translate}}:
                                </label>
                                <input class="form-control" type="text" formControlName="address" id="address">
                                <span *ngIf="patientForm.controls.address.valid"
                                      class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span
                                        *ngIf="patientForm.controls.address.invalid && (patientForm.controls.address.touched || patientForm.controls.address.dirty)">
                                    <span class="glyphicon glyphicon-remove form-control-feedback"
                                          aria-hidden="true"></span>
                                    <span class="text-danger">{{'SHARED.INVALID-ADDRESS'|translate}}.</span>
                                </span>
                            </div>
                        </div>


                        <div class="row">

                            <div class="form-group has-feedback col-md"
                                 [ngClass]="{'has-success': patientForm.controls.gender.valid,
                'has-error': patientForm.controls.gender.invalid && (patientForm.controls.gender.touched || patientForm.controls.gender.dirty)}">
                                <label for="gender">
                                    {{'SHARED.GENDER'|translate}}:
                                </label>
                                <select class="form-control" formControlName="gender" name="gender" id="gender">
                                    <option *ngFor="let itemGender of optionsGender" [value]="itemGender">
                                        {{itemGender | gender |translate}}</option>
                                </select>
                                <span *ngIf="patientForm.controls.gender.valid"
                                      class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span
                                        *ngIf="patientForm.controls.gender.invalid && (patientForm.controls.gender.touched || patientForm.controls.gender.dirty)">
                                    <span class="glyphicon glyphicon-remove form-control-feedback"
                                          aria-hidden="true"></span>
                                    <span class="text-danger"> {{'SHARED.INVALID-GENDER'|translate}}.</span>
                                </span>
                            </div>

                            <div class="form-group has-feedback col-md"
                                 [ngClass]="{'has-success': patientForm.controls.birth_date.valid,
            'has-error': patientForm.controls.birth_date.invalid && (patientForm.controls.birth_date.touched || patientForm.controls.birth_date.dirty)}">
                                <label>
                                    {{'SHARED.BIRTH-DATE'|translate}}:
                                </label>
                                <div class="row">
                                    <div class="col-md-10">
                                        <input matInput class="form-control" [matDatepicker]="pickerBirthDate"
                                               formControlName="birth_date" name="birth_date"
                                               data-date-format="yyyy-MM-dd"
                                               (focus)="pickerBirthDate.open()"
                                               [max]="max_birth_date"
                                               [placeholder]="'PATIENTS.PATIENTS-FORM.SELECT-BIRTH-DATE'|translate">
                                    </div>
                                    <div class="col-md-2">
                                        <!--                                        <mat-datepicker-toggle matSuffix  [for]="pickerBirthDate"></mat-datepicker-toggle>-->
                                        <!--                                        <mat-datepicker #pickerBirthDate></mat-datepicker>-->
                                        <mat-datepicker-toggle matSuffix [for]="pickerBirthDate">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #pickerBirthDate startView="multi-year"
                                                        [startAt]="min_birth_date">
                                        </mat-datepicker>
                                    </div>
                                </div>
                                <span *ngIf="patientForm.controls.birth_date.valid"
                                      class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span
                                        *ngIf="patientForm.controls.birth_date.invalid && (patientForm.controls.birth_date.touched || patientForm.controls.birth_date.dirty)">
                                    <span class="glyphicon glyphicon-remove form-control-feedback"
                                          aria-hidden="true"></span>
                                    <span class="text-danger">{{'SHARED.INVALID-BIRTH-DATE'|translate}}.</span>
                                </span>
                            </div>

                            <div class="form-group has-feedback col-md"
                                 [ngClass]="{'has-success': patientForm.controls.language.valid,
            'has-error': patientForm.controls.language.invalid && (patientForm.controls.language.touched || patientForm.controls.language.dirty)}">
                                <label>{{'SHARED.LANGUAGE'|translate}}: </label>

                                <select class="form-control" formControlName="language">
                                    <option *ngFor="let lang of listOfLanguages" [value]="lang">{{ languages[lang] }}
                                    </option>
                                </select>

                                <span *ngIf="patientForm.controls.language.valid"
                                      class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span
                                        *ngIf="patientForm.controls.language.invalid && (patientForm.controls.language.touched || patientForm.controls.language.dirty)">
                                    <span class="glyphicon glyphicon-remove form-control-feedback"
                                          aria-hidden="true"></span>
                                    <span class="text-danger">{{'SHARED.INVALID-LANGUAGE'|translate}}.</span>
                                </span>
                            </div>

                        </div>

                        <div class="row">


                            <div class="form-group has-feedback col-md"
                                 [ngClass]="{'has-success': patientForm.controls.selected_pilot_study.valid,
                                              'has-error': patientForm.controls.selected_pilot_study.invalid && (patientForm.controls.selected_pilot_study.touched || patientForm.controls.selected_pilot_study.dirty)}"
                                 *ngIf="!patientForm.get('id').value">
                                <label for="selected_pilot_study">
                                    {{'PATIENTS.PATIENTS-FORM.ASSOCIATE-STUDY'|translate}}:
                                </label>
                                <select class="form-control" formControlName="selected_pilot_study"
                                        name="selected_pilot_study"
                                        id="selected_pilot_study">
                                    <option *ngFor="let pilot of listPilots;trackBy: trackById" [value]="pilot.id">
                                        {{pilot.name}}</option>
                                </select>
                                <span *ngIf="patientForm.controls.selected_pilot_study.valid"
                                      class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span
                                        *ngIf="patientForm.controls.selected_pilot_study.invalid && (patientForm.controls.selected_pilot_study.touched || patientForm.controls.selected_pilot_study.dirty)">
                                    <span class="glyphicon glyphicon-remove form-control-feedback"
                                          aria-hidden="true"></span>
                                    <span class="text-danger">{{'PATIENTS.PATIENTS-FORM.INVALID-STUDY'|translate}}
                                        .</span>
                                </span>
                            </div>


                        </div>

                        <div class="row" *ngIf="!patientId">
                            <div class="form-group has-feedback col-sm-12 col-md-6 col-lg-6 col-xl-6"
                                 [ngClass]="{'has-success': patientForm.controls.password.valid,
                'has-error': patientForm.controls.password.invalid && (patientForm.controls.password.touched || patientForm.controls.password.dirty)}">
                                <label for="password">
                                    {{'SHARED.PASSWORD'|translate}}:
                                </label>
                                <label>
                                    <small>
                                        ( {{'SHARED.GENERATE-PASSWORD'|translate}}:
                                        <i class="material-icons generatePassword"
                                           (click)="generatePassword()">vpn_key</i> )

                                    </small>
                                </label>
                                <div>
                                    <input class="form-control" [type]="typeInputPassword" formControlName="password"
                                           id="password" (keyup)="validatePassword()">
                                    <i class="material-icons icon_password"
                                       (click)="clickVisibilityPassword()">{{icon_password}}</i>

                                </div>
                                <span *ngIf="patientForm.controls.password.valid"
                                      class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span
                                        *ngIf="patientForm.controls.password.invalid && (patientForm.controls.password.touched || patientForm.controls.password.dirty)">
                                    <span class="glyphicon glyphicon-remove form-control-feedback"
                                          aria-hidden="true"></span>
                                    <span class="text-danger">{{'SHARED.PASSWORD-RULES-MESSAGE'| translate}}.</span>
                                </span>
                            </div>

                            <div class="form-group has-feedback col-sm-12 col-md-6 col-lg-6 col-xl-6"
                                 [ngClass]="{'has-success': patientForm.controls.password_confirm.valid,
                'has-error': patientForm.controls.password_confirm.invalid && (patientForm.controls.password_confirm.touched || patientForm.controls.password_confirm.dirty)}">
                                <label for="password_confirm">
                                    {{'SHARED.PASSWORD-CONFIRM'|translate}}:
                                </label>
                                <div>
                                    <input class="form-control" [type]="typeInputPassword_confirm"
                                           formControlName="password_confirm" id="password_confirm"
                                           (keyup)="matchPassword()">
                                    <i class="material-icons icon_password"
                                       (click)="clickVisibilityPasswordConfirm()">{{icon_password_confirm}}</i>

                                </div>

                                <span *ngIf="patientForm.controls.password_confirm.valid"
                                      class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span *ngIf="patientForm.controls.password_confirm.invalid &&
                                (patientForm.controls.password_confirm.touched || patientForm.controls.password_confirm.dirty)">
                                    <span class="glyphicon glyphicon-remove form-control-feedback"
                                          aria-hidden="true"></span>
                                    <span class="text-danger">{{'SHARED.PASSWORD-NOTMATCH'|translate}}!</span>
                                </span>
                            </div>

                        </div>


                        <div class="d-flex justify-content-end">
                            <!--                            <div class="p-2">-->
                            <!--                                <button type="button" class="btn btn-haniot-secondary" (click)="onBack()">-->
                            <!--                                    <i class="material-icons">arrow_back</i>-->
                            <!--                                    {{'SHARED.TOBACK'|translate}}-->
                            <!--                                </button>-->
                            <!--                            </div>-->
                            <div class="p-2">
                                <button type="button" class="btn btn-haniot-primary" (click)="onSubimt()"
                                        [disabled]="!patientForm.valid">
                                    {{'SHARED.SAVE'|translate}}
                                </button>
                            </div>
                        </div>

                    </form>
                </haniot-card>
            </div>
            <div class="col-12" *ngIf="visibilityExternalServices">
                <external-service [patientId]="patientId" (promotedAccess)="loadPatientInForm()"
                                  [externalServices]="[patientForm.get('external_services').value]"></external-service>
            </div>
        </div>
    </div>
</div>