@import '../../../../assets/scss/template-colors';

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.btn-secondary:focus, .btn-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-secondary.disabled, .btn-secondary:disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.material-icons {
  color: $primary-color;
  cursor: pointer;
}

.btn .material-icons {
  color: white;
  cursor: pointer;
}

.icon_password {
  position: absolute;
  top: 35px;
  right: 15px;
}

.icon_password:hover {
  border-radius: 20px;
  background: rgb(212, 207, 207);
}

.generatePassword:hover {
  border-radius: 20px;
  background: rgb(212, 207, 207);
}
