@import "../../../../assets/scss/template-colors";

.material-icons{
    color : $primary-color;
    transform: rotate(180deg) scaleX(-1);
    cursor: pointer;
  }
  .nav-link i:hover{
    border-radius: 20px;
    background: rgb(212, 207, 207);
  }
  table tr {
    cursor: pointer;
  }
