.material-icons {
  color: #00a594;
  cursor: pointer;
}

.nav-link i:hover {
  border-radius: 20px;
  background: rgb(212, 207, 207);
}

.badge-haniot {
  color: white;
  font-size: 12px;
  font-weight: bold;
  background-color: #00a594;
  margin: 1px 1px;
}

.dataset-timestamp {
  color: black;
  font-size: 14px;
  font-weight: bold;
  margin: 1px 1px;
}

#removeModalConfirmation {
  position: absolute;
}

// overwrite the checkbox background
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #00a594 !important;
}

// overwrite the ripple overlay on hover and click
::ng-deep .mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: #00a594 !important;
}
