.healthprofessional{
  padding: 0.25rem 0.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #ffffff;
  background-color: #00a594;
  border-color: #d6d8db;
}

.close:hover{
  color: #ffffff;
}