<div class="container-fluid"> 

  <haniot-modal [modalId]="'healthProfessionals'">
    <div class="modal-content">
      <div class="modal-body">
        <table class="table table-sm">
          <thead class="thead-light">
            <tr>
              <th scope="col">Profissional</th>
              <th scope="col">Área</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let prof of healthProfessionals">
              <td>{{prof.name}}</td>
              <td>{{prof.health_area | healthArea}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
      </div>
    </div>

  </haniot-modal>




</div>