<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <haniot-card title="Meus dados" subtitle="">
          <form #formMyProfile="ngForm" (ngSubmit)="onSubmit(formMyProfile)">

            <div class="form-group has-feedback"
              [ngClass]="{'has-success': nomeModelEdit.valid,
                                  'has-error': nomeModelEdit.invalid && (nomeModelEdit.touched || nomeModelEdit.dirty)}">
              <label for="name">Nome:</label>
              <input type="text" class="form-control" id="nomeEdit" required minlength="4" type="text" name="name"
                #nomeModelEdit="ngModel" [(ngModel)]="user==undefined?name:user.name" placeholder="Nome" [(readonly)]="!visibilityButtonSave">
              <span *ngIf="nomeModelEdit.valid" class="glyphicon glyphicon-ok form-control-feedback"
                aria-hidden="true"></span>
              <span *ngIf="nomeModelEdit.invalid && (nomeModelEdit.touched || nomeModelEdit.dirty)">
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                <span class="text-danger">Nome inválido.</span>
              </span>
            </div>

            <div class="form-group has-feedback" [ngClass]="{'has-success': emailModelEdit.valid,
                    'has-error': emailModelEdit.invalid && (emailModelEdit.touched || emailModelEdit.dirty)}">
              <label for="email">Email:</label>
              <input type="email" class="form-control" id="emailEdit" required minlength="4" type="text" name="email"
                #emailModelEdit="ngModel" [(ngModel)]="user==undefined?email:user.email" placeholder="Email" [(readonly)]="!visibilityButtonSave">
              <span *ngIf="emailModelEdit.valid" class="glyphicon glyphicon-ok form-control-feedback"
                aria-hidden="true"></span>
              <span *ngIf="emailModelEdit.invalid && (emailModelEdit.touched || emailModelEdit.dirty)">
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                <span class="text-danger">E-mail inválido.</span>
              </span>
            </div>

            <div class="row container-fluid">
              <div class="col-md">
                <button type="button" class="btn btn-default" (click)="enabledEdit()" [disabled]="disabledButtonEdit">Habilitar edição</button>
              </div>
              <div class="col-md" *ngIf="visibilityButtonSave">
                <button type="submit" class="btn btn-default" [disabled]="!formMyProfile.valid">Salvar</button>
              </div>
            </div>
          </form>
        </haniot-card>
      </div>
    </div>
  </div>
</div>