<div class="container-fluid">

    <div class="row">
        <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4 mx-auto">

            <div class="card card-signin">
                <div class="card-body">
                    <div id="divLogo">
                        <a id="linkLogo">
                            <img src="assets/img/logo-login-new.png"/>
                            <span id="labelHaniot">HANIoT</span>
                        </a>
                    </div>
                    <h3 class="text-center" id="labelHaniot">Primeiro acesso</h3>

                    <form [formGroup]="f" novalidate class="form-signin">

                        <div class="form-group has-feedback"
                             [ngClass]="{'has-success': f.controls['old_password'].valid,
                  'has-error': f.controls['old_password'].invalid && (f.controls['old_password'].touched || f.controls['old_password'].dirty)}">
                            <label for="InputSenhaAntiga">Senha antiga:</label>
                            <div>
                                <input [type]="typeInputPassword" formControlName="old_password" class="form-control"
                                       required minlength="4"
                                       id="InputSenhaAntiga" placeholder="Digite aqui sua senha antiga...">
                                <a class="icon_password" href="javascript:void(0);" (click)="clickVisibilityPassword()"><i
                                        class="material-icons">{{icon_password}}</i></a>
                            </div>
                            <span *ngIf="f.controls['old_password'].valid"
                                  class="glyphicon glyphicon-ok form-control-feedback"
                                  aria-hidden="true"></span>
                            <span
                                    *ngIf="f.controls['old_password'].invalid && (f.controls['old_password'].touched || f.controls['old_password'].dirty)">
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                <span class="text-danger">Campo obrigatório.</span>
              </span>
                        </div>

                        <div class="form-group has-feedback"
                             [ngClass]="{'has-success': f.controls['new_password'].valid,
                  'has-error': f.controls['new_password'].invalid && (f.controls['new_password'].touched || f.controls['new_password'].dirty)}">
                            <label for="InputPassword">Senha nova:</label>
                            <div>
                                <input [type]="typeInputPassword_confirm" formControlName="new_password"
                                       class="form-control" required minlength="6"
                                       id="InputPassword" placeholder="Digite aqui sua senha nova..."
                                       (keyup)="validetorPassword()">
                                <a class="icon_password" href="javascript:void(0);"
                                   (click)="clickVisibilityPasswordConfirm()"><i
                                        class="material-icons">{{icon_password_confirm}}</i></a>
                            </div>
                            <span *ngIf="f.controls['new_password'].valid"
                                  class="glyphicon glyphicon-ok form-control-feedback"
                                  aria-hidden="true"></span>
                            <span
                                    *ngIf="f.controls['new_password'].invalid && (f.controls['new_password'].touched || f.controls['new_password'].dirty)">
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                <span class="text-danger">Senha inválida! Sua senha deve ter no mínimo 6 caracteres incluindo letras, números e símbolos.</span>
              </span>
                        </div>

                        <button type="submit" class="btn btn-haniot-primary btn-block" [disabled]="f.invalid"
                                (click)="onSubmit()"
                                id="buttonAlterar">Alterar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="loading">
    <div id="externa">
        <div tabindex="-1" role="dialog" id="loading">
            <div class="modal-dialog" role="document">
                <div class="d-flex justify-content-around">
                    <img src="../../../../assets/img/loading.gif" alt="" width="100" height="100">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop show">
        <div>
        </div>
