<div class="container-fluid">

    <div class="row">
        <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4 mx-auto">

            <div class="card card-signin">
                <div class="card-body">
                    <div id="divLogo">
                        <a id="linkLogo">
                            <img src="assets/img/logo-login-new.png"/>
                            <span class="labelHaniot">{{'APP.TITLE'|translate}}</span>
                        </a>
                    </div>
                    <h3 class="text-center" class="labelHaniot">{{'SECURITY.CHANGE.FIRST-ACCESS'|translate}}</h3>

                    <form [formGroup]="f" novalidate class="form-signin">

                        <div class="form-group has-feedback"
                             [ngClass]="{'has-success': f.controls['old_password'].valid,
                  'has-error': f.controls['old_password'].invalid && (f.controls['old_password'].touched || f.controls['old_password'].dirty)}">
                            <label for="InputSenhaAntiga">{{'SECURITY.CHANGE.PASSWORD-OLD'|translate}}:</label>
                            <div>
                                <input [type]="typeInputPassword" formControlName="old_password" class="form-control"
                                       required minlength="4"
                                       id="InputSenhaAntiga"
                                       [placeholder]="'SECURITY.CHANGE.PLACEHOLDER-PASSWORD-OLD'|translate">
                                <a class="icon_password" href="javascript:void(0);" (click)="clickVisibilityPassword()"><i
                                        class="material-icons">{{icon_password}}</i></a>
                            </div>
                            <span *ngIf="f.controls['old_password'].valid"
                                  class="glyphicon glyphicon-ok form-control-feedback"
                                  aria-hidden="true"></span>
                            <span
                                    *ngIf="f.controls['old_password'].invalid && (f.controls['old_password'].touched || f.controls['old_password'].dirty)">
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                <span class="text-danger">{{'SHARED.REQUERID-FIELD'|translate}}.</span>
              </span>
                        </div>

                        <div class="form-group has-feedback"
                             [ngClass]="{'has-success': f.controls['new_password'].valid,
                  'has-error': f.controls['new_password'].invalid && (f.controls['new_password'].touched || f.controls['new_password'].dirty)}">
                            <label for="InputPassword">{{'SECURITY.CHANGE.PASSWORD-NEW'|translate}}:</label>
                            <div>
                                <input [type]="typeInputPassword_confirm" formControlName="new_password"
                                       class="form-control" required minlength="6"
                                       id="InputPassword"
                                       [placeholder]="'SECURITY.CHANGE.PLACEHOLDER-PASSWORD-NEW'|translate"
                                       (keyup)="validetorPassword()">
                                <a class="icon_password" href="javascript:void(0);"
                                   (click)="clickVisibilityPasswordConfirm()"><i
                                        class="material-icons">{{icon_password_confirm}}</i></a>
                            </div>
                            <span *ngIf="f.controls['new_password'].valid"
                                  class="glyphicon glyphicon-ok form-control-feedback"
                                  aria-hidden="true"></span>
                            <span
                                    *ngIf="f.controls['new_password'].invalid && (f.controls['new_password'].touched || f.controls['new_password'].dirty)">
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                <span class="text-danger">{{'SHARED.PASSWORD-RULES-MESSAGE'|translate}}</span>
              </span>
                        </div>

                        <button type="submit" class="btn btn-haniot-primary btn-block" [disabled]="f.invalid"
                                (click)="onSubmit()"
                                id="buttonAlterar">
                            {{'SHARED.CHANGE-PASSWORD'|translate}}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="loading">
    <div id="externa">
        <div tabindex="-1" role="dialog" id="loading">
            <div class="modal-dialog" role="document">
                <div class="d-flex justify-content-around">
                    <spinner message=""></spinner>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop show">
        <div>
        </div>
    </div>
</div>
