<!-- <div class="container app-login">
  <div class="row">
    <div class="col-lg-6 col-md-10 col-sm-10">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2 class="text-center">
            <img src="assets/img/logo-login.png">
            <br>
            <b>Primeiro acesso</b>

          </h2>
          <br/>
          <div class="alert alert-danger alert-dismissible" role="alert" *ngIf="errorCredentials">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
          </div>
          <form [formGroup]="f" novalidate>

            <div class="form-group" [ngClass]="{'has-success': f.controls['old_password'].valid,
                            'has-error': f.controls['old_password'].invalid && (f.controls['old_password'].touched || f.controls['old_password'].dirty)}">
              <input type="password" formControlName="old_password" class="form-control" id="InputOldPassword" placeholder="Old Password">
              <span class="text-danger" *ngIf="f.controls['old_password'].invalid && (f.controls['old_password'].touched || f.controls['old_password'].dirty)">Campo obrigatório.</span>
            </div>

            <div class="form-group" [ngClass]="{'has-success': f.controls['new_password'].valid,
                 'has-error': f.controls['new_password'].invalid && (f.controls['new_password'].touched || f.controls['new_password'].dirty)}">
              <input type="password" formControlName="new_password" class="form-control" id="InputNewPassword" placeholder="New Password">
              <span class="text-danger" *ngIf="f.controls['new_password'].invalid && (f.controls['new_password'].touched || f.controls['new_password'].dirty)">Campo obrigatório.</span>
            </div>

            <button type="submit" class="btn btn-default" [disabled]="f.invalid" (click)="onSubmit()">Change</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->



<div class="container-fluid">

  <div class="row">
    <div class="col-sm-5 col-md-4 col-lg-3 mx-auto">
        
      <div class="card card-signin">
        <div class="card-body">
          <div id="divLogo">
            <a id="linkLogo">
              <img src="assets/img/logo-login-new.png" />
              <span id="labelHaniot">HANIoT</span>
            </a>
          </div>
          <h3 class="text-center" id="labelHaniot">Primeiro acesso</h3>

          <form [formGroup]="f" novalidate class="form-signin">

            <div class="form-group has-feedback"
              [ngClass]="{'has-success': f.controls['old_password'].valid,
                  'has-error': f.controls['old_password'].invalid && (f.controls['old_password'].touched || f.controls['old_password'].dirty)}">
              <label for="InputEmail">Senha antiga:</label>
              <input type="password" formControlName="old_password" class="form-control" id="InputEmail"
                placeholder="Digite aqui sua senha antiga...">
              <span *ngIf="f.controls['old_password'].valid" class="glyphicon glyphicon-ok form-control-feedback"
                aria-hidden="true"></span>
              <span
                *ngIf="f.controls['old_password'].invalid && (f.controls['old_password'].touched || f.controls['old_password'].dirty)">
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                <span class="text-danger">Campo obrigatório.</span>
              </span>
            </div>

            <div class="form-group has-feedback"
              [ngClass]="{'has-success': f.controls['new_password'].valid,
                  'has-error': f.controls['new_password'].invalid && (f.controls['new_password'].touched || f.controls['new_password'].dirty)}">
              <label for="InputPassword">Senha nova:</label>
              <input type="password" formControlName="new_password" class="form-control" id="InputPassword"
                placeholder="Digite aqui sua senha nova...">
              <span *ngIf="f.controls['new_password'].valid" class="glyphicon glyphicon-ok form-control-feedback"
                aria-hidden="true"></span>
              <span
                *ngIf="f.controls['new_password'].invalid && (f.controls['new_password'].touched || f.controls['new_password'].dirty)">
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                <span class="text-danger">Campo obrigatório.</span>
              </span>
            </div>

            <button type="submit" class="btn btn-haniot-primary btn-block" [disabled]="f.invalid"
              (click)="onSubmit()" id="buttonAlterar">Alterar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>