<div class="input-group no-border">
    <input type="text" class="form-control" id="searchPatient" name="searchPatient" [(ngModel)]="search"
           [placeholder]="'PATIENTS.PATIENTS-TABLE.PLACEHOLDER-SEARCH'|translate"
           (keyup)="searchOnSubmit()">
    <button mat-raised-button type="button" class="btn btn-white btn-round btn-just-icon" (click)="searchOnSubmit()">
        <i class="material-icons">search</i>
        <div class="ripple-container"></div>
    </button>
</div>
<div class="table-responsive">
    <table class="table table-sm table-hover rwd-table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{'SHARED.NAME-OF-PATIENT'|translate}}</th>
            <th scope="col">{{'SHARED.GENDER'|translate}}</th>
            <th scope="col">{{'SHARED.AGE'|translate}}</th>
            <th scope="col">{{'SHARED.BIRTH-DATE'|translate}}</th>
            <th colspan="2" scope="col">{{'SHARED.ACTIONS'|translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="listOfPatients.length==0">
            <td colspan="7" *ngIf="!listOfPatientsIsEmpty">
                <spinner [message]="'DASHBOARD.CARD-PATIENTS.SPINNER-MESSAGE'|translate"></spinner>
            </td>
            <td colspan="7" *ngIf="listOfPatientsIsEmpty">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="bg-no-patient"></div>
                    </div>
                    <label>{{'PATIENTS.PATIENTS-TABLE.LIST-EMPTY'|translate}}.</label>
                    <p>{{'PATIENTS.PATIENTS-TABLE.LIST-EMPTY-MESSAGE'|translate}}.</p>
                </div>
                <!--                <img src="../../../../assets/img/haniot/no_patient.png"-->
                <!--                     [alt]="'DASHBOARD.CARD-PATIENTS.SPINNER-MESSAGE'|translate"-->
                <!--                     id="listOfPatientsIsEmpty">-->

            </td>
        </tr>
        <tr *ngFor="let patient of listOfPatients; index as i;trackBy: trackById">
            <td [routerLink]="['/app/patients',patient.id, 'dashboard']"
                class="max-width-60"
                [attr.data-th]="'SHARED.POSITION'|translate">{{getIndex(i)}}</td>
            <td [routerLink]="['/app/patients',patient.id, 'dashboard']"
                [attr.data-th]="'SHARED.NAME-OF-PATIENT'|translate">
                <div class="row">
                    <div class="col-12">
                        {{patient.name}}

                    </div>
                </div>
            </td>
            <td [routerLink]="['/app/patients',patient.id, 'dashboard']"
                class="max-width-150"
                [attr.data-th]="'SHARED.GENDER'|translate">{{patient.gender | gender | translate}}</td>
            <td [routerLink]="['/app/patients',patient.id, 'dashboard']"
                class="max-width-150"
                [attr.data-th]="'SHARED.AGE'|translate">{{patient.birth_date | convertInAge }}</td>
            <td [routerLink]="['/app/patients',patient.id, 'dashboard']"
                class="max-width-180"
                [attr.data-th]="'SHARED.BIRTH-DATE'|translate">{{patient.birth_date | date}}</td>
            <td class="max-width-200" [attr.data-th]="'SHARED.ACTIONS'|translate">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <a class="nav-link" [routerLink]="['/app/patients',patient.id ]"
                               [title]="'PATIENTS.PATIENTS-TABLE.EDIT-PATIENT'|translate">
                                <i class="material-icons">edit</i>
                            </a>
                        </div>
                        <div class="col">
                            <a class="nav-link" (click)="openModalConfirmation(patient.selected_pilot_study,patient.id)"
                               [title]="'PATIENTS.PATIENTS-TABLE.DELETE-PATIENT'|translate">
                                <i class="material-icons">delete</i>
                            </a>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<mat-paginator [length]="length" [pageSize]="limit" [pageSizeOptions]="pageSizeOptions"
               (page)="clickPagination($event)">
</mat-paginator>

<modal-confirmation [message]="'PATIENTS.PATIENTS-TABLE.DELETE-CONFIRMATION'|translate"
                    [observation]="'PATIENTS.PATIENTS-TABLE.DELETE-CONFIRMATION-OBS'|translate"
                    (confirmation)="removePatient()"
                    (close)="closeModalConfimation()"></modal-confirmation>

<haniot-modal [modalId]="'externalServices'" [styleDialog]="'modal-sm'" (close)="closeModalExternalServices()">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{'PATIENTS.EXTERNAL-SERVICES.TITLE'|translate}}</h5>
            <button type="button" class="close" aria-label="Close" (click)="closeModalExternalServices()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <p>{{'PATIENTS.EXTERNAL-SERVICES.LAST-SYNC'|translate}}:</p>
                </div>
                <div class="row justify-content-center">
                    <p class="text-center">{{externalServiceSelected.fitbit_last_sync|date}}</p>
                </div>
                <div class="row">
                    <p>{{'PATIENTS.EXTERNAL-SERVICES.STATUS-TOKEN'|translate}}:</p>
                </div>
                <div class="row justify-content-center">
                    <p class="text-center">{{externalServiceSelected.fitbit_status}}</p>
                </div>

            </div>
        </div>
    </div>
</haniot-modal>
