<div class="input-group no-border">
    <input type="text" class="form-control" id="search" name="search" [(ngModel)]="search"
           [placeholder]="'PATIENTS.PATIENTS-TABLE.PLACEHOLDER-SEARCH'|translate"
           (keyup)="searchOnSubmit()">
    <button mat-raised-button type="button" class="btn btn-white btn-round btn-just-icon" (click)="searchOnSubmit()">
        <i class="material-icons">search</i>
        <div class="ripple-container"></div>
    </button>
</div>
<div class="table-responsive">
    <table class="table table-sm table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{'SHARED.NAME-OF-PATIENT'|translate}}</th>
            <th scope="col">{{'SHARED.GENDER'|translate}}</th>
            <th scope="col">{{'SHARED.AGE'|translate}}</th>
            <th scope="col">{{'SHARED.BIRTH-DATE'|translate}}</th>
            <th colspan="2" scope="col">{{'SHARED.ACTIONS'|translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="listOfPatients.length==0">
            <td colspan="7" *ngIf="!listOfPatientsIsEmpty">
                <spinner [message]="'DASHBOARD.CARD-PATIENTS.SPINNER-MESSAGE'|translate"></spinner>
            </td>
            <td colspan="7" *ngIf="listOfPatientsIsEmpty">
                <img src="../../../../assets/img/haniot/no_patient.png"
                     [alt]="'DASHBOARD.CARD-PATIENTS.SPINNER-MESSAGE'|translate"
                     id="listOfPatientsIsEmpty">
                <br> {{'PATIENTS.PATIENTS-TABLE.LIST-EMPTY'|translate}}.
                <br>{{'PATIENTS.PATIENTS-TABLE.LIST-EMPTY-MESSAGE'|translate}}.
            </td>
        </tr>
        <tr *ngFor="let patient of listOfPatientsAux; index as i;trackBy: trackById">
            <td [routerLink]="['/app/patients',patient.id, 'details']" class="max-width-60">{{getIndex(i)}}</td>
            <td [routerLink]="['/app/patients',patient.id, 'details']">{{patient.name}}</td>
            <td [routerLink]="['/app/patients',patient.id, 'details']"
                class="max-width-150">{{patient.gender | gender | translate}}</td>
            <td [routerLink]="['/app/patients',patient.id, 'details']"
                class="max-width-150">{{patient.birth_date | convertInAge }}</td>

            <td [routerLink]="['/app/patients',patient.id, 'details']"
                class="max-width-180">{{patient.birth_date | date}}</td>
            <td class="max-width-60">
                <a class="nav-link" [routerLink]="['/app/patients',patient.id ]"
                   [title]="'PATIENTS.PATIENTS-TABLE.EDIT-PATIENT'|translate">
                    <i class="material-icons">edit</i>
                </a>
            </td>
            <td class="max-width-60">
                <a class="nav-link" (click)="openModalConfirmation(patient.selected_pilot_study,patient.id)"
                   [title]="'PATIENTS.PATIENTS-TABLE.DELETE-PATIENT'|translate">
                    <i class="material-icons">delete</i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<mat-paginator [length]="length" [pageSize]="limit" [pageSizeOptions]="pageSizeOptions"
               (page)="clickPagination($event)">
</mat-paginator>

<modal-confirmation [message]="'PATIENTS.PATIENTS-TABLE.DELETE-CONFIRMATION'|translate"
                    [observation]="'PATIENTS.PATIENTS-TABLE.DELETE-CONFIRMATION-OBS'|translate"
                    (confirmation)="removePatient()"
                    (noconfirmation)="closeModalConfimation()"></modal-confirmation>
