<list-pilotstudies *ngIf="!IsAdmin()"></list-pilotstudies>

<div class="main-content" *ngIf="IsAdmin()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <haniot-card title="Lista de pacientes" [subtitle]="subtitle">
                    <div class="input-group no-border">
                        <input type="text" class="form-control" id="search" name="search" [(ngModel)]="search"
                               placeholder="Pesquisar paciente..." (keyup)="searchOnSubmit()">
                        <button mat-raised-button type="button" class="btn btn-white btn-round btn-just-icon"
                                (click)="searchOnSubmit()">
                            <i class="material-icons">search</i>
                            <div class="ripple-container"></div>
                        </button>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-sm table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Nome do paciente</th>
                                <th>Gênero</th>
                                <th>Data de Nascimento</th>
                                <th colspan="3">Ações</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr *ngIf="listOfPatients.length==0">
                                <td colspan="5" *ngIf="!listOfPatientsIsEmpty">
                                    <spinner message="Carregando pacientes"></spinner>
                                </td>
                                <td colspan="5" *ngIf="listOfPatientsIsEmpty">Nenhum registro encontrado.</td>
                            </tr>
                            <tr *ngFor="let patient of listOfPatients; index as i;trackBy: trackById">
                                <td [routerLink]="['/patients',patient.id, patient.pilotstudy_id ,'details']">{{getIndex(i)}}</td>
                                <td [routerLink]="['/patients',patient.id, patient.pilotstudy_id ,'details']">{{patient.name}}</td>
                                <td [routerLink]="['/patients',patient.id, patient.pilotstudy_id ,'details']">{{patient.gender | gender}}</td>
                                <td [routerLink]="['/patients',patient.id, patient.pilotstudy_id ,'details']">{{patient.birth_date | date}}</td>
                                <td>
                                    <a class="nav-link"
                                       [routerLink]="['/patients',patient.id, patient.pilotstudy_id ,'details']"
                                       title="Visualizar detalhes...">
                                        <i class="material-icons">visibility</i>
                                    </a>
                                </td>
                                <td>
                                    <a class="nav-link"
                                       [routerLink]="['/patients',patient.id, patient.pilotstudy_id ]"
                                       title="Editar paciente...">
                                        <i class="material-icons">edit</i>
                                    </a>
                                </td>
                                <td>
                                    <a class="nav-link"
                                       (click)="openModalConfirmation(patient.id)"
                                       title="Excluir paciente...">
                                        <i class="material-icons">delete</i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>


                    </div>

                    <mat-paginator [length]="length" [pageSize]="limit" [pageSizeOptions]="pageSizeOptions"
                                   (page)="clickPagination($event)">
                    </mat-paginator>
                </haniot-card>
                <div class="d-flex justify-content-start">
                    <!--                    <div class="p-2">-->
                    <!--                        <button type="button" class="btn btn-haniot-secondary" (click)="onBack()">-->
                    <!--                            <i class="material-icons">arrow_back</i>-->
                    <!--                            Voltar-->
                    <!--                        </button>-->
                    <!--                    </div>-->
                    <div class="p-2">
                        <button type="submit" class="btn btn-haniot-primary" (click)="newPatient()">
                            Adicionar
                            <i class="material-icons">add</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<modal-confirmation [message]="'Tem certeza que deseja remover paciente?'" (confirmation)="removePatient()"
                    (noconfirmation)="closeModalComfimation()"></modal-confirmation>
