<div class="wrapper">

  <haniot-header></haniot-header>
  
  <!-- Full Width Column -->
  <div class="content-wrapper">
    <div class="container">

      <!-- <router-outlet></router-outlet> -->
      <haniot-login></haniot-login>

    </div>
  </div>

  <!-- <haniot-snackbar></haniot-snackbar> -->


  <footer class="main-footer">
    <div class="container">
      <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
      </div>
      <strong>HANIoT</strong> Dashboard Application
    </div>
  </footer>
</div>