<div class="modal fade" tabindex="-1" role="dialog" id="modalUser">
  <div class="modal-dialog" role="document">
    <div class="modal-haniot">

      <haniot-card [title]="title" [subtitle]="subtitle">
        <form #formUser="ngForm" (ngSubmit)="onSubmit(formUser)">
          <div class="form-group has-feedback"
            [ngClass]="{'has-success': nomeDeUsuarioModel.valid,
                          'has-error': nomeDeUsuarioModel.invalid && (nomeDeUsuarioModel.touched || nomeDeUsuarioModel.dirty)}">
            <input type="text" class="form-control" id="username" required minlength="4" class="form-control"
              type="text" name="username" #nomeDeUsuarioModel="ngModel" [(ngModel)]="username"
              placeholder="Nome de usuário...">
            <span *ngIf="nomeDeUsuarioModel.valid" class="glyphicon glyphicon-ok form-control-feedback"
              aria-hidden="true"></span>
            <span *ngIf="nomeDeUsuarioModel.invalid && (nomeDeUsuarioModel.touched || nomeDeUsuarioModel.dirty)">
              <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
              <span class="text-danger">Nome de usuário inválido.</span>
            </span>
          </div>

          <div class="form-group has-feedback"
            [ngClass]="{'has-success': nomeModel.valid,
                          'has-error': nomeModel.invalid && (nomeModel.touched || nomeModel.dirty)}" *ngIf="typeUser == 'HealthProfessional'">
            <input type="text" class="form-control" id="name" required minlength="4" class="form-control"
              type="text" name="name" #nomeModel="ngModel" [(ngModel)]="name"
              placeholder="Nome e Sobrenome...">
            <span *ngIf="nomeModel.valid" class="glyphicon glyphicon-ok form-control-feedback"
              aria-hidden="true"></span>
            <span *ngIf="nomeModel.invalid && (nomeModel.touched || nomeModel.dirty)">
              <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
              <span class="text-danger">Nome inválido.</span>
            </span>
          </div>

          <div class="form-group has-feedback" [ngClass]="{'has-success': emailModel.valid,
            'has-error': emailModel.invalid && (emailModel.touched || emailModel.dirty)}">
            <input type="email" class="form-control" id="email" required minlength="4" class="form-control" type="text"
              name="email" #emailModel="ngModel" [(ngModel)]="email" placeholder="Email">
            <span *ngIf="emailModel.valid" class="glyphicon glyphicon-ok form-control-feedback"
              aria-hidden="true"></span>
            <span *ngIf="emailModel.invalid && (emailModel.touched || emailModel.dirty)">
              <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
              <span class="text-danger">E-mail inválido.</span>
            </span>
          </div>
         
          <div class="form-group has-feedback" [ngClass]="{'has-success': healthAreaModel.valid,
            'has-error': healthAreaModel.invalid && (healthAreaModel.touched || healthAreaModel.dirty)}" *ngIf="typeUser == 'HealthProfessional'">
            <label for="healthArea">Área: </label>
            <select name="healthArea" id="healthArea" class="form-control" required #healthAreaModel="ngModel" [(ngModel)]="health_area">
              <option *ngFor="let area of healthAreaOptions; index as i" [value]="area">{{area | healthArea}}</option>
            </select>
            <span *ngIf="healthAreaModel.valid" class="glyphicon glyphicon-ok form-control-feedback"
              aria-hidden="true"></span>
            <span *ngIf="healthAreaModel.invalid && (healthAreaModel.touched || healthAreaModel.dirty)">
              <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
              <span class="text-danger">Área inválida.</span>
            </span>
          </div>

          <div class="form-group" [ngClass]="{'has-success': passwordModel.valid,
             'has-error': passwordModel.invalid && (passwordModel.touched || passwordModel.dirty)}">
            <input type="password" class="form-control" id="password" required minlength="4" name="password"
              #passwordModel="ngModel" [(ngModel)]="password" placeholder="Senha">
            <span class="text-danger"
              *ngIf="passwordModel.invalid && (passwordModel.touched || passwordModel.dirty)">Campo obrigatório.</span>
          </div>
          <div class="row container-fluid">
            <div class="col-md">
              <button type="submit" class="btn btn-default" [disabled]="formUser.invalid">Salvar</button>
            </div>
            <div class="col-md">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            </div>
          </div>
        </form>
      </haniot-card>



    </div>
  </div>
</div>