<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <haniot-card title="Lista de profissionais de saúde" subtitle="">
          <haniot-table [(list)]="healthProfessionals" (onremove)="getAllHealthProfessionals()"
            (onedit)="editUser($event)" [userType]="'HealthProfessional'" (pagination)="paginationEvent($event)"
            [(length)]="length" [pageSize]="limit"></haniot-table>
        </haniot-card>
      </div>
      <div class="col-md">
        <button type="submit" class="btn btn-haniot-primary" (click)="openModal()">
          Adicionar
          <i class="material-icons">add</i>
        </button>
      </div>
    </div>
  </div>
</div>

<haniot-modal [modalId]="'modalUser'">
  <app-modal-user [title]="'Criar profissional de saúde'" (onsubmit)="createHealthProfessinal($event)"
    [typeUser]="'HealthProfessional'"></app-modal-user>
</haniot-modal>

<haniot-modal [modalId]="'modalUserEdit'">
  <app-modal-user [title]="'Editar profissional de saúde'" (onsubmit)="editHealthProfessinal($event)"
    [typeUser]="'HealthProfessional'" [userId]="userEdit.id"></app-modal-user>
</haniot-modal>