<time-series-card [title]="'TIME-SERIES.ACTIVE-MINUTES.TITLE'|translate"
                  [subtitle]="'TIME-SERIES.ACTIVE-MINUTES.SUBTITLE'|translate" (filter_change)="applyFilter($event)"
                  *ngIf="includeCard && !onlyGraph">

    <div class="row justify-content-center">

        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="card card-stats">
                <div class="card-header card-header-timer card-header-icon">
                    <div class="card-icon">
                        <img src="../../../../assets/img/time-series/active_minutes-white.png" width="30">
                    </div>
                    <p class="card-category">{{'TIME-SERIES.ACTIVE-MINUTES.TOTAL-ACTIVE-MINUTES'|translate}}: </p>
                    <h3 class="card-title">
                        {{data && data.summary ? (data.summary.total|number:'1.0-0') : 0}}
                        <small>{{'TIME-SERIES.ACTIVE-MINUTES.ACTIVE-MINUTES'|translate}}</small>
                    </h3>
                </div>
            </div>

        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"
             style="display: flex; justify-content: center;padding-left: 0px">

            <div class="align-self-center echarts-div-graph" echarts
                 [options]="options" (chartInit)="onChartInit($event)"></div>

            <div class="unavailable-data">
                <spinner *ngIf="showSpinner" style="position: absolute; left: 0; right: 0; margin: auto"></spinner>
                <span *ngIf="(!data && !showSpinner) || listIsEmpty"
                      class="badge badge-warning badge-12 ellipsis">{{'TIME-SERIES.UNAVAILABLE-DATA'|translate}}</span>
            </div>
        </div>

    </div>

</time-series-card>

<div class="row justify-content-center" *ngIf="!includeCard && !onlyGraph">

    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class="card card-stats">
            <div class="card-header card-header-timer card-header-icon">
                <div class="card-icon">
                    <img src="../../../../assets/img/time-series/active_minutes-white.png" width="30">
                </div>
                <p class="card-category">{{'TIME-SERIES.ACTIVE-MINUTES.TOTAL-ACTIVE-MINUTES'|translate}}: </p>
                <h3 class="card-title">
                    {{data && data.summary ? (data.summary.total|number:'1.0-0') : 0}}
                    <small>{{'TIME-SERIES.ACTIVE-MINUTES.ACTIVE-MINUTES'|translate}}</small>
                </h3>
            </div>
        </div>

    </div>

    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"
         style="display: flex; justify-content: center;padding-left: 0px">

        <div class="align-self-center echarts-div-graph" echarts
             [options]="options" (chartInit)="onChartInit($event)"></div>

        <div class="unavailable-data">
            <spinner *ngIf="showSpinner" style="position: absolute; left: 0; right: 0; margin: auto"></spinner>
            <span *ngIf="(!data && !showSpinner) || listIsEmpty"
                  class="badge badge-warning badge-12 ellipsis">{{'TIME-SERIES.UNAVAILABLE-DATA'|translate}}</span>
        </div>
    </div>

</div>

<div *ngIf="onlyGraph" style="width:100%;height:100%">
    <div style="width:100%;height:100%" echarts
         [options]="options" (chartInit)="onChartInit($event)">
    </div>
    <div  *ngIf="showSpinner || !data || listIsEmpty"
          style="position: absolute; top:0; bottom: 0; left:0; right: 0; margin: auto; display: flex; flex-direction: column; align-items: center; justify-content: center">
        <spinner *ngIf="showSpinner" style="position: absolute; left: 0; right: 0; margin: auto"></spinner>
        <span *ngIf="(!data && !showSpinner) || listIsEmpty"
              class="badge badge-warning badge-12 ellipsis">{{'TIME-SERIES.UNAVAILABLE-DATA'|translate}}</span>
    </div>
</div>