<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.creative-tim.com">
                        Nutes
                    </a>
                </li>
                <li>
                    <a href="http://presentation.creative-tim.com">
                        Sobre nós
                    </a>
                </li>
                <li>
                    <a href="http://blog.creative-tim.com">
                        Privacidade
                    </a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/license">
                        HanIOT
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
        </div>
    </div>
</footer>
