<time-series-card [title]="'TIME-SERIES.HEART-RATE.TITLE'|translate"
                  [subtitle]="'TIME-SERIES.HEART-RATE.SUBTITLE'|translate" (filter_change)="applyFilter($event)"
                  *ngIf="includeCard">

    <div class="row justify-content-center">

        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3">
            <div class="card card-stats">
                <div class="card-header card-header-timer card-header-icon">
                    <div class="card-icon">
                        <div class="bg-heart_rate"></div>
                    </div>
                    <p class="card-category">{{'TIME-SERIES.HEART-RATE.PEAK'|translate}}: </p>
                    <h3 class="card-title" *ngIf="data && data.summary">
                        {{Math.floor((data.summary.peak_total / 3600000))}}
                        <small>{{'HABITS.SLEEP.TIME-ABBREVIATION'|translate}}</small>
                        {{Math.floor((data.summary.peak_total % 3600000) / 60000)}}
                        <small>{{'HABITS.SLEEP.MINUTES-ABBREVIATION'|translate}}</small>
                    </h3>
                    <h3 class="card-title" *ngIf="!data || !data.summary">
                        0
                        <small>{{'HABITS.SLEEP.TIME-ABBREVIATION'|translate}}</small>
                        0
                        <small>{{'HABITS.SLEEP.MINUTES-ABBREVIATION'|translate}}</small>
                    </h3>
                </div>
            </div>

        </div>

        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3">
            <div class="card card-stats">
                <div class="card-header card-header-timer card-header-icon">
                    <div class="card-icon">
                        <div class="bg-heart_rate"></div>
                    </div>
                    <p class="card-category">{{'TIME-SERIES.HEART-RATE.CARDIO'|translate}}: </p>
                    <h3 class="card-title" *ngIf="data && data.summary">
                        {{Math.floor((data.summary.cardio_total / 3600000))}}
                        <small>{{'HABITS.SLEEP.TIME-ABBREVIATION'|translate}}</small>
                        {{Math.floor((data.summary.cardio_total % 3600000) / 60000)}}
                        <small>{{'HABITS.SLEEP.MINUTES-ABBREVIATION'|translate}}</small>
                    </h3>
                    <h3 class="card-title" *ngIf="!data || !data.summary">
                        0
                        <small>{{'HABITS.SLEEP.TIME-ABBREVIATION'|translate}}</small>
                        0
                        <small>{{'HABITS.SLEEP.MINUTES-ABBREVIATION'|translate}}</small>
                    </h3>
                </div>
            </div>

        </div>

        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3">
            <div class="card card-stats">
                <div class="card-header card-header-timer card-header-icon">
                    <div class="card-icon">
                        <div class="bg-heart_rate"></div>
                    </div>
                    <p class="card-category">{{'TIME-SERIES.HEART-RATE.FAT-BURN'|translate}}: </p>
                    <h3 class="card-title" *ngIf="data && data.summary">
                        {{Math.floor((data.summary.fat_burn_total / 3600000))}}
                        <small>{{'HABITS.SLEEP.TIME-ABBREVIATION'|translate}}</small>
                        {{Math.floor((data.summary.fat_burn_total % 3600000) / 60000)}}
                        <small>{{'HABITS.SLEEP.MINUTES-ABBREVIATION'|translate}}</small>
                    </h3>
                    <h3 class="card-title" *ngIf="!data || !data.summary">
                        0
                        <small>{{'HABITS.SLEEP.TIME-ABBREVIATION'|translate}}</small>
                        0
                        <small>{{'HABITS.SLEEP.MINUTES-ABBREVIATION'|translate}}</small>
                    </h3>
                </div>
            </div>

        </div>

        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3">
            <div class="card card-stats">
                <div class="card-header card-header-timer card-header-icon">
                    <div class="card-icon">
                        <div class="bg-heart_rate"></div>
                    </div>
                    <p class="card-category">{{'TIME-SERIES.HEART-RATE.OUT-OF-RANGE'|translate}}: </p>
                    <h3 class="card-title" *ngIf="data && data.summary">
                        {{Math.floor((data.summary.fat_burn_total / 3600000))}}
                        <small>{{'HABITS.SLEEP.TIME-ABBREVIATION'|translate}}</small>
                        {{Math.floor((data.summary.out_of_range_total % 3600000) / 60000)}}
                        <small>{{'HABITS.SLEEP.MINUTES-ABBREVIATION'|translate}}</small>
                    </h3>
                    <h3 class="card-title" *ngIf="!data || !data.summary">
                        0
                        <small>{{'HABITS.SLEEP.TIME-ABBREVIATION'|translate}}</small>
                        0
                        <small>{{'HABITS.SLEEP.MINUTES-ABBREVIATION'|translate}}</small>
                    </h3>
                </div>
            </div>

        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"
             style="display: flex; justify-content: center;padding-left: 0px">

            <div class="align-self-center echarts-div-graph" echarts
                 [options]="optionsLastData" (chartInit)="onChartInit($event)"></div>

            <div class="unavailable-data">
                <spinner *ngIf="showSpinner" style="position: absolute; left: 0; right: 0; margin: auto"></spinner>
                <span *ngIf="(!data && !showSpinner) || listIsEmpty"
                      class="badge badge-warning badge-12 ellipsis">{{'TIME-SERIES.UNAVAILABLE-DATA'|translate}}</span>
            </div>
        </div>

    </div>


</time-series-card>

<div class="row justify-content-center" *ngIf="!includeCard">

    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class="card card-stats">
            <div class="card-header card-header-timer card-header-icon">
                <div class="card-icon">
                    <div class="bg-heart_rate"></div>
                </div>
                <p class="card-category">{{'TIME-SERIES.HEART-RATE.PEAK'|translate}}: </p>
                <h3 class="card-title" *ngIf="data && data.summary">
                    {{Math.floor((data.summary.peak_total / 3600000))}}
                    <small>{{'HABITS.SLEEP.TIME-ABBREVIATION'|translate}}</small>
                    {{Math.floor((data.summary.peak_total % 3600000) / 60000)}}
                    <small>{{'HABITS.SLEEP.MINUTES-ABBREVIATION'|translate}}</small>
                </h3>
                <h3 class="card-title" *ngIf="!data || !data.summary">
                    0
                    <small>{{'HABITS.SLEEP.TIME-ABBREVIATION'|translate}}</small>
                    0
                    <small>{{'HABITS.SLEEP.MINUTES-ABBREVIATION'|translate}}</small>
                </h3>
            </div>
        </div>

    </div>

    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class="card card-stats">
            <div class="card-header card-header-timer card-header-icon">
                <div class="card-icon">
                    <div class="bg-heart_rate"></div>
                </div>
                <p class="card-category">{{'TIME-SERIES.HEART-RATE.CARDIO'|translate}}: </p>
                <h3 class="card-title" *ngIf="data && data.summary">
                    {{Math.floor((data.summary.cardio_total / 3600000))}}
                    <small>{{'HABITS.SLEEP.TIME-ABBREVIATION'|translate}}</small>
                    {{Math.floor((data.summary.cardio_total % 3600000) / 60000)}}
                    <small>{{'HABITS.SLEEP.MINUTES-ABBREVIATION'|translate}}</small>
                </h3>
                <h3 class="card-title" *ngIf="!data || !data.summary">
                    0
                    <small>{{'HABITS.SLEEP.TIME-ABBREVIATION'|translate}}</small>
                    0
                    <small>{{'HABITS.SLEEP.MINUTES-ABBREVIATION'|translate}}</small>
                </h3>
            </div>
        </div>

    </div>

    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class="card card-stats">
            <div class="card-header card-header-timer card-header-icon">
                <div class="card-icon">
                    <div class="bg-heart_rate"></div>
                </div>
                <p class="card-category">{{'TIME-SERIES.HEART-RATE.FAT-BURN'|translate}}: </p>
                <h3 class="card-title" *ngIf="data && data.summary">
                    {{Math.floor((data.summary.fat_burn_total / 3600000))}}
                    <small>{{'HABITS.SLEEP.TIME-ABBREVIATION'|translate}}</small>
                    {{Math.floor((data.summary.fat_burn_total % 3600000) / 60000)}}
                    <small>{{'HABITS.SLEEP.MINUTES-ABBREVIATION'|translate}}</small>
                </h3>
                <h3 class="card-title" *ngIf="!data || !data.summary">
                    0
                    <small>{{'HABITS.SLEEP.TIME-ABBREVIATION'|translate}}</small>
                    0
                    <small>{{'HABITS.SLEEP.MINUTES-ABBREVIATION'|translate}}</small>
                </h3>
            </div>
        </div>

    </div>

    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"
         style="display: flex; justify-content: center;padding-left: 0px">

        <div class="align-self-center echarts-div-graph" echarts
             [options]="optionsLastData" (chartInit)="onChartInit($event)"></div>

        <div class="unavailable-data">
            <spinner *ngIf="showSpinner" style="position: absolute; left: 0; right: 0; margin: auto"></spinner>
            <span *ngIf="(!data && !showSpinner) || listIsEmpty"
                  class="badge badge-warning badge-12 ellipsis">{{'TIME-SERIES.UNAVAILABLE-DATA'|translate}}</span>
        </div>
    </div>

</div>
