<time-series-card [title]="'TIME-SERIES.DISTANCE.TITLE'|translate"
                  [subtitle]="'TIME-SERIES.DISTANCE.SUBTITLE'|translate"
                  (filter_change)="applyFilter($event)" *ngIf="includeCard">

    <div class="row justify-content-center">

        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="card card-stats">
                <div class="card-header card-header-timer card-header-icon">
                    <div class="card-icon">
                        <img src="../../../../assets/img/time-series/distance-white.png" width="30">
                    </div>
                    <p class="card-category">{{'TIME-SERIES.DISTANCE.TOTAL-DISTANCE'|translate}}: </p>
                    <h3 class="card-title" [innerHTML]="data && data.summary ? (data.summary.total|distance) : '0<small>m</small>'">
                    </h3>
                </div>
            </div>

        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"
             style="display: flex; justify-content: center;padding-left: 0px">

            <div class="align-self-center echarts-div-graph" echarts
                 [options]="options" (chartInit)="onChartInit($event)"></div>

            <div class="unavailable-data">
                <spinner *ngIf="showSpinner" style="position: absolute; left: 0; right: 0; margin: auto"></spinner>
                <span *ngIf="(!data && !showSpinner) || listIsEmpty"
                      class="badge badge-warning badge-12 ellipsis">{{'TIME-SERIES.UNAVAILABLE-DATA'|translate}}</span>
            </div>
        </div>


    </div>

</time-series-card>

<div class="row justify-content-center" *ngIf="!includeCard">

    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class="card card-stats">
            <div class="card-header card-header-timer card-header-icon">
                <div class="card-icon">
                    <img src="../../../../assets/img/time-series/distance-white.png" width="30">
                </div>
                <p class="card-category">{{'TIME-SERIES.DISTANCE.TOTAL-DISTANCE'|translate}}: </p>
                <h3 class="card-title" [innerHTML]="data && data.summary ? (data.summary.total|distance) : '0<small>m</small>'">
                </h3>
            </div>
        </div>

    </div>

    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"
         style="display: flex; justify-content: center;padding-left: 0px">

        <div class="align-self-center echarts-div-graph" echarts
             [options]="options" (chartInit)="onChartInit($event)"></div>

        <div class="unavailable-data">
            <spinner *ngIf="showSpinner" style="position: absolute; left: 0; right: 0; margin: auto"></spinner>
            <span *ngIf="(!data && !showSpinner) || listIsEmpty"
                  class="badge badge-warning badge-12 ellipsis">{{'TIME-SERIES.UNAVAILABLE-DATA'|translate}}</span>
        </div>
    </div>

</div>
