a:hover,a:focus{
    outline: none;
    text-decoration: none;
}
.tab .nav-tabs{
    position: relative;
    border-bottom: none;
}
.tab .nav-tabs li{
    text-align: center;
    margin-right: 3px;
}
.tab .nav-tabs li a{
    display: block;
    font-size: 15px;
    font-weight: 600;
    color: #6f6c6c;
    text-transform: uppercase;
    padding: 15px;
    background: #fff;
    margin-right: 0;
    border-radius: 0;
    border: none;
    position: relative;
    transition: all 0.5s ease 0s;
}
.tab .nav-tabs li a:before{
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: transparent;
    position: absolute;
    margin-left: -20px;
    bottom: 0;
    left: 50%;
    transition: all 0.2s ease 0s;
}
.tab .nav-tabs li a:hover:before,
.tab .nav-tabs li.active a:before{
    background:#00a594;
}
.tab .nav-tabs li a:after{
    content: "";
    width: 0;
    height: 1px;
    background: #00a594;
    margin-left: -15px;
    position: absolute;
    bottom: 6%;
    left: 50%;
    transition: all 0.2s ease 0s;
}
.tab .nav-tabs li a:hover:after,
.tab .nav-tabs li.active a:after{
    width: 35px;
}
.nav-tabs li.active a,
.nav-tabs li.active a:focus,
.nav-tabs li.active a:hover,
.nav-tabs li a:hover{
    border: none;
    color: #00a594;
}
.tab .tab-content{
    font-size: 14px;
    color: #6f6c6c;
    line-height: 26px;
    padding: 20px 20px 20px 15px;
}
.tab .tab-content h3{
    font-size: 24px;
    margin-top: 0;
}
@media only screen and (max-width: 479px){
    .tab .nav-tabs li{
        width: 100%;
        margin-bottom: 5px;
    }
}