<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="tab" role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">Detalhes</a></li>
                    <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">Medições</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content tabs">
                    <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                        <app-user-details [selectedUser]="selectedUser"></app-user-details>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="Section2">
                        <app-measurements-details *ngIf="measurements" [selectedUser]="selectedUser"></app-measurements-details>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
