<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats ">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">perm_identity</i>
                        </div>
                        <p class="card-category">Total de pacientes</p>
                        <h3 class="card-title">{{dashboardData?.totalPatients}}

                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">equalizer</i>
                        </div>
                        <p class="card-category">Total de medições</p>
                        <h3 class="card-title">{{dashboardData?.totalMeasurement}}</h3>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">

                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">date_range</i>
                        </div>
                        <p class="card-category">Média de idade</p>
                        <h3 class="card-title">{{dashboardData?.averageAge}}</h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-twitter"></i>
                        </div>
                        <p class="card-category">Genero</p>
                        <h3 class="card-title">+245</h3>
                    </div>
                </div>
            </div>
        </div>


        <haniot-card title="Gráficos indicativos de medidas" subtitle="HANIoT">

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <bar-graph></bar-graph>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <area-graph></area-graph>
                </div>
            </div>
        </haniot-card>

        <haniot-card title="Gráficos indicativos de medidas" subtitle="HANIoT">

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <scatter-graph></scatter-graph>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <area-graph></area-graph>
                </div>
            </div>
        </haniot-card>


        <haniot-card title="Gráficos indicativos de medidas" subtitle="HANIoT">

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <bar-graph></bar-graph>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <bar-graph></bar-graph>
                </div>
            </div>
        </haniot-card>

        <haniot-card title="Gráficos indicativos de medidas" subtitle="HANIoT">
        
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <bar-graph></bar-graph>
                </div>
            </div>
        </haniot-card>


    </div>
</div>