<measurement-card [title]="'MEASUREMENTS.HEART-RATE.TITLE'|translate"
                  [subtitle]="'MEASUREMENTS.HEART-RATE.SUBTITLE'|translate" [filter_visibility]="filter_visibility"
                  (filter_change)="applyFilter($event)">

    <div class="row">

        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-3 align-self-center">
            <div class="card card-stats">
                <div class="card-header card-header-timer card-header-icon">
                    <div class="card-icon">
                        <div class="bg-heart_rate"></div>
                    </div>
                    <p class="card-category"> {{'MEASUREMENTS.LAST-REGISTER'|translate}}: </p>
                    <h3 class="card-title">
                        {{lastData.dataset ? lastData.dataset[lastData.dataset.length - 1].value : 0}} bpm
                    </h3>
                    <!--                    <h3 class="card-title" *ngIf="lastData && lastData.value">-->
                    <!--                        {{lastData.value + '' + lastData.unit}}-->
                    <!--                    </h3>-->
                    <!--                    <h3 class="card-title" *ngIf="!lastData || !lastData.value">-->
                    <!--                        {{'MEASUREMENTS.VALUE'|translate}}-->
                    <!--                    </h3>-->
                </div>
            </div>

        </div>

        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-9 align-self-center"
             style="display: flex; justify-content: center;padding-left: 0px">

            <div class="align-self-center echarts-div-graph" echarts
                 [options]="optionsLastData" (chartInit)="onChartInit($event)"></div>

            <div class="unavailable-data">
                <spinner *ngIf="showSpinner" style="position: absolute"></spinner>
                <span *ngIf="data.length==0 && !showSpinner"
                      class="badge badge-warning badge-12 ellipsis">{{'MEASUREMENTS.HEART-RATE.UNAVAILABLE-DATA'|translate}}</span>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 align-self-center">
            <div class="d-flex flex-row-reverse">
                <div class="p-2">
                    <small class="pull-right" *ngIf="lastData && lastData.dataset">
                        {{'MEASUREMENTS.LAST-REGISTER'|translate}}: {{lastData.dataset[0].timestamp | date}}</small>
                    <small class="pull-right" *ngIf="!lastData">{{'MEASUREMENTS.LAST-REGISTER-DATE'|translate}}
                        : {{'MEASUREMENTS.PATTERN-DATE'|translate}}</small>
                </div>
            </div>
        </div>

        <!--        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 align-self-center"-->
        <!--             style="display: flex; justify-content: center;">-->
        <!--            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 align-self-center echarts-div-graph" echarts-->
        <!--                 [options]="options" (chartInit)="onChartInit($event)">-->
        <!--            </div>-->

        <!--            <div class="unavailable-data">-->
        <!--                <spinner *ngIf="showSpinner" style="position: absolute"></spinner>-->
        <!--                <span *ngIf="data.length==0 && !showSpinner"-->
        <!--                      class="badge badge-warning badge-12 ellipsis">{{'MEASUREMENTS.HEART-RATE.UNAVAILABLE-DATA'|translate}}</span>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>


</measurement-card>
