<haniot-card [title]="'HABITS.FAMILY-COHESION.TITLE'|translate" [subtitle]="'HABITS.FAMILY-COHESION.SUBTITLE'|translate"
  *ngIf="listFamilyCohesion.length!=0">
  <form [formGroup]="familyForm">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card card-stats ">
          <div class="card-header card-header-icon">
            <div class="card-icon">
              <img src="../../../../assets/img/haniot/cohesion.png" alt="">
            </div>
            <br>
            <p class="card-category">{{'HABITS.FAMILY-COHESION.TITLE'|translate}}</p>
            <h3 class="card-title">{{familyForm.get('family_cohesion_result').value}}</h3>
          </div>
        </div>
      </div>
    </div>

  </form>
  <div class="d-flex flex-row-reverse">
    <div class="p-2">
      <small class="pull-right">{{'HABITS.REGISTER-DATE'|translate}}: {{familyForm.get('created_at').value | myDate }}</small>
    </div>
  </div>
  <div class="row">
    <!-- Botões Anterior e Próximo -->
    <div class="container" *ngIf="listFamilyCohesion.length>1">
      <div class="row">
        <div class="col align-self-start">
          <button mat-raised-button type="button" class="btn btn-white btn-round btn-just-icon" [title]="'HABITS.PREVIOUS'|translate" (click)="prev()" [disabled]="!index">
            <i class="material-icons">arrow_back</i>
          </button>
        </div>

        <div class="col align-self-end">
          <button mat-raised-button type="button" class="btn btn-white btn-round btn-just-icon pull-right" (click)="next()" [title]="'HABITS.NEXT'|translate"
            [disabled]="index == listFamilyCohesion.length-1">
            <i class="material-icons">arrow_forward</i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="listFamilyCohesion.length==0">
    <span class="badge badge-danger badge-12 ellipsis">{{'HABITS.FAMILY-COHESION.UNAVAILABLE-DATA'|translate}}</span>
  </div>
</haniot-card>