<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 colxl-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-danger">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">
                                    <h4 class="card-title">{{'PILOT-STUDY.CARD-PILOT-STUDY.TITLE'|translate}}</h4>
                                    <p class="card-category"> {{'PILOT-STUDY.CARD-PILOT-STUDY.SUBTITLE'|translate}}</p>
                                </span>
                                <ul class="nav nav-tabs right" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab"
                                           [routerLink]="['/app/pilotstudies',pilotStudyId]"
                                           [title]="'PILOT-STUDY.EDIT-STUDY'|translate">
                                            {{'SHARED.TO-EDIT'|translate}}
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="pilotStudyForm">
                            <div class="row">
                                <div class="form-group has-feedback col-sm-12 col-md-6">
                                    <label>
                                        {{'SHARED.NAME'|translate}}:
                                        <label class="label-description">{{pilotStudyForm.get('name').value}}</label>
                                    </label>
                                </div>
                                <div class="form-group has-feedback col-sm-12 col-md-6">
                                    <label>
                                        {{'SHARED.LOCAL'|translate}}:
                                        <label class="label-description">{{pilotStudyForm.get('location').value}}</label>
                                    </label>
                                </div>

                            </div>

                            <div class="row">
                                <div class="form-group has-feedback col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                    <label>
                                        {{'PILOT-STUDY.START'|translate}}: <label
                                            class="label-description">{{pilotStudyForm.get('start').value|date:'fullDate'}}</label>
                                    </label>
                                </div>


                                <div class="form-group has-feedback col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                    <label>
                                        {{'PILOT-STUDY.END'|translate}}: <label
                                            class="label-description">{{pilotStudyForm.get('end').value|date:'fullDate'}}</label>
                                    </label>
                                </div>
                                <div class="form-group has-feedback col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                    <label>
                                        {{'PILOT-STUDY.SITUATION'|translate}}:
                                    </label>

                                    <mat-slide-toggle class="example-margin" [color]="color" formControlName="is_active"
                                                      id="is_active" style="margin-left: 5px">
                                    </mat-slide-toggle>
                                    <label style="margin-left: 5px">
                                        {{pilotStudyForm.controls.is_active.value | pilotStudySituation| translate}}
                                    </label>


                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group has-feedback col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                    <label>
                                        {{'PILOT-STUDY.CARD-PILOT-STUDY.TOTAL-PROFESSIONALS'|translate}}:
                                        <label class="label-description">{{pilotStudyForm.get('total_health_professionals').value}}</label>
                                    </label>
                                </div>
                                <div class="form-group has-feedback col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                    <label>
                                        {{'PILOT-STUDY.CARD-PILOT-STUDY.TOTAL-PATIENTS'|translate}}:
                                        <label class="label-description">{{pilotStudyForm.get('total_patients').value}}</label>
                                    </label>
                                </div>
                            </div>

                        </form>

                        <div class="container-fluid row justify-content-center">

                            <!-- profissionais de saude associados ao estudo piloto -->
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
                                <haniot-subcard
                                        [title]="'PILOT-STUDY.MANAGE-PROFESSIONALS.ASSOCIATE-PROFESSIONALS'|translate">
                                    <div class="form-group table-responsive form-manager">
                                        <table class="table table-sm table-hover">
                                            <thead>
                                            <tr>
                                                <th>{{'SHARED.NAME'|translate}}</th>
                                                <th>{{'SHARED.EMAIL'|translate}}</th>
                                                <th>{{'SHARED.AREA'|translate}}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr *ngFor="let professional of professionalsAssociated; index as i;trackBy: trackById">
                                                <td (click)="editHealthProfessional(professional.id)">{{professional.name}}</td>
                                                <td (click)="editHealthProfessional(professional.id)">{{professional.health_area | healthArea | translate}}</td>
                                                <td (click)="editHealthProfessional(professional.id)">{{professional.email}}</td>
                                            </tr>
                                            </tbody>
                                        </table>

                                        <mat-paginator [length]="professionalLength" [pageSize]="professionalLimit"
                                                       [pageSizeOptions]="professionalPageSizeOptions"
                                                       (page)="clickProfessionalPagination($event)">
                                        </mat-paginator>

                                    </div>
                                </haniot-subcard>
                            </div>

                            <!-- pacientes associados ao estudo piloto -->
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
                                <haniot-subcard
                                        [title]="'PILOT-STUDY.MANAGE-PATIENTS.ASSOCIATE-PATIENTS'|translate">
                                    <div class="form-group table-responsive form-manager">

                                        <table class="table table-sm table-hover">
                                            <thead>
                                            <tr>
                                                <th>{{'SHARED.NAME'|translate}}</th>
                                                <th>{{'SHARED.EMAIL'|translate}}</th>
                                                <th>{{'SHARED.GENDER'|translate}}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr *ngFor="let patient of patientsAssociated; index as i;trackBy: trackById">
                                                <td [routerLink]="['/app/patients',patient.id,'details']">{{patient.name}}</td>
                                                <td [routerLink]="['/app/patients',patient.id,'details']">{{patient.email}}</td>
                                                <td [routerLink]="['/app/patients',patient.id,'details']">{{patient.gender | gender | translate}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <mat-paginator [length]="patientLength" [pageSize]="patientLimit"
                                                       [pageSizeOptions]="patientPageSizeOptions"
                                                       (page)="clickPatientPagination($event)">
                                        </mat-paginator>

                                    </div>
                                </haniot-subcard>
                            </div>

                        </div>
                    </div>
                </div>

            </div>


            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <pilot-study-files [pilotStudy]="pilotStudy"></pilot-study-files>
            </div>


        </div>
    </div>
</div>
