<div class="card">
    <div class="card-header card-header-tabs card-header-danger">
        <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
                <span class="nav-tabs-title">
                    <h4 class="card-title">{{title}}</h4>
                    <p class="card-category"> {{subtitle}}</p>
                </span>

                <ul class="nav nav-tabs right" data-tabs="tabs" *ngIf="filter_visibility && !isMobile()">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab"
                           [ngClass]="filterSelected === 'MEASUREMENTS.MEASUREMENT-CARD.TODAY'?'active':''"
                           (click)="filterChange(filterOptions.today)">
                            {{'MEASUREMENTS.MEASUREMENT-CARD.TODAY'|translate}}
                            <div class="ripple-container"></div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab"
                           [ngClass]="filterSelected === 'MEASUREMENTS.MEASUREMENT-CARD.WEEK'?'active':''"
                           (click)="filterChange(filterOptions.week)">
                            {{'MEASUREMENTS.MEASUREMENT-CARD.WEEK'|translate}}
                            <div class="ripple-container"></div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab"
                           [ngClass]="filterSelected === 'MEASUREMENTS.MEASUREMENT-CARD.MONTH'?'active':''"
                           (click)="filterChange(filterOptions.month)">
                            {{'MEASUREMENTS.MEASUREMENT-CARD.MONTH'|translate}}
                            <div class="ripple-container"></div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab"
                           [ngClass]="filterSelected === 'MEASUREMENTS.MEASUREMENT-CARD.YEAR'?'active':''"
                           (click)="filterChange(filterOptions.year)">
                            {{'MEASUREMENTS.MEASUREMENT-CARD.YEAR'|translate}}
                            <div class="ripple-container"></div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <mat-form-field>
                            <input matInput
                                   [placeholder]="'PILOT-STUDY.PLACEHOLDER-PERIOD'|translate"
                                   [satDatepicker]="picker"
                                   [(ngModel)]="search"
                                   (ngModelChange)="filterChange('period')"
                                   [min]="minDate"
                                   [max]="currentDate">

                            <sat-datepicker #picker [rangeMode]="true"></sat-datepicker>
                            <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
                        </mat-form-field>
                    </li>
                </ul>
                <ul class="nav nav-tabs right" data-tabs="tabs" *ngIf="filter_visibility && isMobile()">
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="dropdown-toggle nav-link active" id="dropdownMenuButton"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{filterSelected|translate}}
                                <div class="ripple-container"></div>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item"
                                   [ngClass]="filterSelected === 'MEASUREMENTS.MEASUREMENT-CARD.TODAY'?'active':''"
                                   (click)="filterChange(filterOptions.today)">{{'MEASUREMENTS.MEASUREMENT-CARD.TODAY'|translate}}</a>
                                <a class="dropdown-item"
                                   [ngClass]="filterSelected === 'MEASUREMENTS.MEASUREMENT-CARD.WEEK'?'active':''"
                                   (click)="filterChange(filterOptions.week)">{{'MEASUREMENTS.MEASUREMENT-CARD.WEEK'|translate}}</a>
                                <a class="dropdown-item"
                                   [ngClass]="filterSelected === 'MEASUREMENTS.MEASUREMENT-CARD.MONTH'?'active':''"
                                   (click)="filterChange(filterOptions.month)">{{'MEASUREMENTS.MEASUREMENT-CARD.MONTH'|translate}}</a>
                                <a class="dropdown-item "
                                   [ngClass]="filterSelected === 'MEASUREMENTS.MEASUREMENT-CARD.YEAR'?'active':''"
                                   (click)="filterChange(filterOptions.year)">{{'MEASUREMENTS.MEASUREMENT-CARD.YEAR'|translate}}</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <mat-form-field [ngClass]="isMobile()?'hidden':''">
                            <input matInput
                                   [placeholder]="'PILOT-STUDY.PLACEHOLDER-PERIOD'|translate"
                                   [satDatepicker]="picker"
                                   [(ngModel)]="search"
                                   (ngModelChange)="filterChange('period')"
                                   [min]="minDate"
                                   [max]="currentDate">

                            <sat-datepicker #picker [rangeMode]="true"></sat-datepicker>
                            <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
                        </mat-form-field>
                        <a class="nav-link nav-link-mobile" *ngIf="isMobile()" (click)="picker.open()"
                           [title]="'PILOT-STUDY.PLACEHOLDER-PERIOD'|translate">
                            <i class="material-icons">date_range</i>
                        </a>

                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="card-body">
        <ng-content></ng-content>
    </div>
</div>
