.card .card-header-danger:not(.card-header-icon):not(.card-header-text), .card.bg-danger, .card.card-rotate.bg-danger .front, .card.card-rotate.bg-danger .back {
  background: #00a594 !important;
}

.card-title {
  margin-left: 5px !important;
  color: white !important;
}

label {
  color: black;
  font-size: 14px;
  font-weight: bold;
}

/* satDatePicker*/
::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: white !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: white !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: white !important;;
}

::ng-deep .mat-form-field-label {
  /*change color of label*/
  color: white !important;
}

.mat-datepicker-toggle {
  color: white !important;
}

.right {
  position: absolute;
  right: 10px;
}

.material-icons {
  color: #00a594;
  cursor: pointer;
}

.nav-link i:hover {
  border-radius: 10px;
  background: rgb(212, 207, 207);
}

table tr {
  cursor: pointer;
}

.evaluation-complete {
  color: white;
  font-size: 14px;
  font-weight: bold;
  background-color: #00a594;
  padding: 5px 5px;
  border-radius: 5px;
}

.evaluation-incomplete {
  color: black;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 5px;
  border-radius: 5px;
  background-color: #adada9;
}

td img {
  width: 2%;
}

