@import "../../../../assets/scss/template-colors";

.material-icons {
  color: $primary-color;
  transform: rotate(180deg) scaleX(-1);
  cursor: pointer;
}

.nav-link i:hover {
  border-radius: 20px;
  background: rgb(212, 207, 207);
}

table tr {
  cursor: pointer;
}

td img {
  width: 2%;
}

#modalSelectPilotStudy {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: none;
  border: none;
  border-radius: 0.3rem;
  outline: 0;
}

#main-title {
  font-size: 24px;
  font-weight: bold;
  color: $primary-color;
}

.second-title {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.features-describe li {
  font-size: 16px;
  font-weight: normal;
  color: black;
}

::ng-deep.mat-step-header .mat-step-icon-selected {
  background-color: $primary-color;
}

::ng-deep.mat-step-header .mat-step-icon-state-edit {
  background-color: $primary-color;
}

::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}
