<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4 mx-auto" *ngIf="!showEmailSent">
            <div class="card card-signin">
                <div class="card-body">
                    <div id="divLogo">
                        <a [routerLink]="['app']" id="linkLogo">
                            <img src="assets/img/logo-login-new.png"/>
                            <span id="labelHaniot">{{'APP.TITLE'|translate}}</span>
                        </a>
                    </div>
                    <h3 class="text-center" class="labelHaniot">{{'SECURITY.FORGOT.PASSWORD-RECOVERY'|translate}}</h3>
                    <form [formGroup]="f" novalidate class="form-signin">
                        <div class="form-group has-feedback"
                             [ngClass]="{'has-success': f.controls['email'].valid,
                'has-error': f.controls['email'].invalid && (f.controls['email'].touched || f.controls['email'].dirty)}">
                            <label for="InputEmail">{{'SHARED.EMAIL'|translate}}:</label>
                            <input type="email" formControlName="email" class="form-control" id="InputEmail"
                                   [placeholder]="'SECURITY.LOGIN.PLACEHOLDER-EMAIL'|translate">
                            <span *ngIf="f.controls['email'].valid" class="glyphicon glyphicon-ok form-control-feedback"
                                  aria-hidden="true"></span>
                            <span *ngIf="f.controls['email'].invalid && (f.controls['email'].touched || f.controls['email'].dirty)">
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                <span class="text-danger">{{'SHARED.INVALID-EMAIL'|translate}}.</span>
              </span>
                        </div>

                        <button type="submit" class="btn btn-haniot-primary btn-block buttonBold"
                                [disabled]="f.invalid"
                                (click)="onSubmit()">
                            {{'SECURITY.FORGOT.SUBMIT'|translate}}
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8 mx-auto" *ngIf="showEmailSent">
            <div class="card card-signin">
                <div class="card-body">
                    <h4 class="alert-heading"
                        style="font-weight: bold;color: #00675c;">{{'SECURITY.FORGOT.INFORMATION'|translate}}</h4>
                    <hr>
                    <h4 class="mb-0 text-justify"
                        style="font-weight: bold;color: #00675c;">{{'SECURITY.FORGOT.INFORMATION-MESSAGE'|translate}}</h4>
                    <br>
                    <div class="d-flex justify-content-center">
                        <div class="p-2">
                            <button type="button" class="btn btn-haniot-primary btn-block buttonBold"
                                    (click)="gotoLogin()">
                                {{'SECURITY.FORGOT.UNDERSTOOD'|translate}}
                            </button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="loading">
    <div class="externa">
        <div tabindex="-1" role="dialog" id="loading">
            <div class="modal-dialog" role="document">
                <div class="d-flex justify-content-around">
                    <spinner message=""></spinner>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop show">
    </div>
</div>







