<haniot-card [title]="'HABITS.FAMILY-COHESION.TITLE'|translate"
             [subtitle]="'HABITS.FAMILY-COHESION.SUBTITLE'|translate">
    <form [formGroup]="familyForm">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="card card-stats ">
                    <div class="card-header card-header-icon">
                        <div class="card-icon">
                            <img src="../../../../assets/img/haniot/cohesion.png" alt="">
                        </div>
                        <br>
                        <p class="card-category">{{'HABITS.FAMILY-COHESION.TITLE'|translate}}</p>
                        <h3 class="card-title">{{familyForm.get('family_cohesion_result').value}}</h3>
                    </div>
                </div>
            </div>
        </div>

    </form>

    <div *ngIf="!familyCohesionRecord">
        <span class="badge badge-warning badge-12 ellipsis">{{'HABITS.FAMILY-COHESION.UNAVAILABLE-DATA'|translate}}</span>
    </div>
</haniot-card>
