<div *ngIf="visible || state">
    <div class="externa" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-haniot">
                <div class="container-fluid">

                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                        <spinner></spinner>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-backdrop show">
    </div>
</div>

