<div class="main-content">
    <div class="container-fluid">
        <div class="row measurementsContent">

            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" *ngIf="configVisibility.weight">
                <time-series-card [title]="'Correlacionar gráficos'"
                                  [subtitle]="''" (filter_change)="applyFilter($event)">

                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 container-graph">
                            <div class="graph">

                                <div style="position:absolute; top:0;right:0;padding:5px;z-index:1000"
                                     *ngIf="resource01Selected">
                                    <i class="material-icons" (click)="openSelectGraph('selectGraph01')">settings</i>
                                </div>

                                <div [ngStyle]="resource01Selected?{position: 'absolute', top:'0', right: '0', padding: '5px', 'z-index': -1}:{}">
                                    <mat-form-field>
                                        <mat-label>{{'SHARED.SELECT'|translate}}</mat-label>
                                        <mat-select #selectGraph01 [(ngModel)]="resource01Selected" (selectionChange)="selectResource()">
                                            <mat-optgroup *ngFor="let group of resourceGroups" [label]="group.name"
                                                          [disabled]="group.disabled">
                                                <mat-option *ngFor="let resource of group.items"
                                                            [value]="resource.value" [disabled]="resource.disabled">
                                                    {{resource.viewValue}}
                                                </mat-option>
                                            </mat-optgroup>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <weight style="position: absolute; width: 100%; height: 88%; z-index: 999" *ngIf="resource01Selected===EnumMeasurementType.weight"
                                        [filterVisibility]="false"
                                        [patientId]="patientId" [onlyGraph]="true" [filter]="filterForMeasurement"></weight>

                                <waist-circunference style="position: absolute; width: 100%; height: 88%; z-index: 999" *ngIf="resource01Selected===EnumMeasurementType.waist_circumference"
                                        [filterVisibility]="false"
                                        [patientId]="patientId" [onlyGraph]="true" [filter]="filterForMeasurement"></waist-circunference>

                                <height style="position: absolute; width: 100%; height: 88%; z-index: 999" *ngIf="resource01Selected===EnumMeasurementType.height"
                                                     [filterVisibility]="false"
                                                     [patientId]="patientId" [onlyGraph]="true" [filter]="filterForMeasurement"></height>

                                <fat style="position: absolute; width: 100%; height: 88%; z-index: 999" *ngIf="resource01Selected===EnumMeasurementType.body_fat"
                                        [filterVisibility]="false"
                                        [patientId]="patientId" [onlyGraph]="true" [filter]="filterForMeasurement"></fat>

                                <body-temperature style="position: absolute; width: 100%; height: 88%; z-index: 999" *ngIf="resource01Selected===EnumMeasurementType.body_temperature"
                                     [filterVisibility]="false"
                                     [patientId]="patientId" [onlyGraph]="true" [filter]="filterForMeasurement"></body-temperature>

                                <blood-pressure style="position: absolute; width: 100%; height: 88%; z-index: 999" *ngIf="resource01Selected===EnumMeasurementType.blood_pressure"
                                                  [filterVisibility]="false"
                                                  [patientId]="patientId" [onlyGraph]="true" [filter]="filterForMeasurement"></blood-pressure>

                                <blood-glucose style="position: absolute; width: 100%; height: 88%; z-index: 999" *ngIf="resource01Selected===EnumMeasurementType.blood_glucose"
                                                [filterVisibility]="false"
                                                [patientId]="patientId" [onlyGraph]="true" [filter]="filterForMeasurement"></blood-glucose>
                            </div>

                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 container-graph">
                            <div class="graph">

                                <div style="position:absolute; top:0;right:0;padding:5px;z-index:1000"
                                     *ngIf="resource02Selected">
                                    <i class="material-icons" (click)="openSelectGraph('selectGraph02')">settings</i>
                                </div>

                                <div [ngStyle]="resource02Selected?{position: 'absolute', top:'0', right: '0', padding: '5px', 'z-index': -1}:{}">
                                    <mat-form-field>
                                        <mat-label>{{'SHARED.SELECT'|translate}}</mat-label>
                                        <mat-select #selectGraph02 [(ngModel)]="resource02Selected" (selectionChange)="selectResource()">
                                            <mat-optgroup *ngFor="let group of resourceGroups" [label]="group.name"
                                                          [disabled]="group.disabled">
                                                <mat-option *ngFor="let resource of group.items"
                                                            [value]="resource.value" [disabled]="resource.disabled">
                                                    {{resource.viewValue}}
                                                </mat-option>
                                            </mat-optgroup>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <weight style="position: absolute; width: 100%; height: 88%; z-index: 999" *ngIf="resource02Selected===EnumMeasurementType.weight"
                                        [filterVisibility]="false"
                                        [patientId]="patientId" [onlyGraph]="true" [filter]="filterForMeasurement"></weight>

                                <waist-circunference style="position: absolute; width: 100%; height: 88%; z-index: 999" *ngIf="resource02Selected===EnumMeasurementType.waist_circumference"
                                                     [filterVisibility]="false"
                                                     [patientId]="patientId" [onlyGraph]="true" [filter]="filterForMeasurement"></waist-circunference>

                                <height style="position: absolute; width: 100%; height: 88%; z-index: 999" *ngIf="resource02Selected===EnumMeasurementType.height"
                                        [filterVisibility]="false"
                                        [patientId]="patientId" [onlyGraph]="true" [filter]="filterForMeasurement"></height>

                                <fat style="position: absolute; width: 100%; height: 88%; z-index: 999" *ngIf="resource02Selected===EnumMeasurementType.body_fat"
                                     [filterVisibility]="false"
                                     [patientId]="patientId" [onlyGraph]="true" [filter]="filterForMeasurement"></fat>

                                <body-temperature style="position: absolute; width: 100%; height: 88%; z-index: 999" *ngIf="resource02Selected===EnumMeasurementType.body_temperature"
                                                  [filterVisibility]="false"
                                                  [patientId]="patientId" [onlyGraph]="true" [filter]="filterForMeasurement"></body-temperature>

                                <blood-pressure style="position: absolute; width: 100%; height: 88%; z-index: 999" *ngIf="resource02Selected===EnumMeasurementType.blood_pressure"
                                                [filterVisibility]="false"
                                                [patientId]="patientId" [onlyGraph]="true" [filter]="filterForMeasurement"></blood-pressure>

                                <blood-glucose style="position: absolute; width: 100%; height: 88%; z-index: 999" *ngIf="resource02Selected===EnumMeasurementType.blood_glucose"
                                               [filterVisibility]="false"
                                               [patientId]="patientId" [onlyGraph]="true" [filter]="filterForMeasurement"></blood-glucose>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 container-graph">
                            <div class="graph">

                                <div style="position:absolute; top:0;right:0;padding:5px;z-index:1000"
                                     *ngIf="resource03Selected">
                                    <i class="material-icons" (click)="openSelectGraph('selectGraph03')">settings</i>
                                </div>

                                <div [ngStyle]="resource03Selected?{position: 'absolute', top:'0', right: '0', padding: '5px', 'z-index': -1}:{}">
                                    <mat-form-field>
                                        <mat-label>{{'SHARED.SELECT'|translate}}</mat-label>
                                        <mat-select #selectGraph03 [(ngModel)]="resource03Selected" (selectionChange)="selectResource()">
                                            <mat-optgroup *ngFor="let group of resourceGroups" [label]="group.name"
                                                          [disabled]="group.disabled">
                                                <mat-option *ngFor="let resource of group.items"
                                                            [value]="resource.value" [disabled]="resource.disabled">
                                                    {{resource.viewValue}}
                                                </mat-option>
                                            </mat-optgroup>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <weight style="position: absolute; width: 100%; height: 88%; z-index: 999" *ngIf="resource03Selected===EnumMeasurementType.weight"
                                        [filterVisibility]="false"
                                        [patientId]="patientId" [onlyGraph]="true" [filter]="filterForMeasurement"></weight>

                                <waist-circunference style="position: absolute; width: 100%; height: 88%; z-index: 999" *ngIf="resource03Selected===EnumMeasurementType.waist_circumference"
                                                     [filterVisibility]="false"
                                                     [patientId]="patientId" [onlyGraph]="true" [filter]="filterForMeasurement"></waist-circunference>

                                <height style="position: absolute; width: 100%; height: 88%; z-index: 999" *ngIf="resource03Selected===EnumMeasurementType.height"
                                        [filterVisibility]="false"
                                        [patientId]="patientId" [onlyGraph]="true" [filter]="filterForMeasurement"></height>

                                <fat style="position: absolute; width: 100%; height: 88%; z-index: 999" *ngIf="resource03Selected===EnumMeasurementType.body_fat"
                                     [filterVisibility]="false"
                                     [patientId]="patientId" [onlyGraph]="true" [filter]="filterForMeasurement"></fat>

                                <body-temperature style="position: absolute; width: 100%; height: 88%; z-index: 999" *ngIf="resource03Selected===EnumMeasurementType.body_temperature"
                                                  [filterVisibility]="false"
                                                  [patientId]="patientId" [onlyGraph]="true" [filter]="filterForMeasurement"></body-temperature>

                                <blood-pressure style="position: absolute; width: 100%; height: 88%; z-index: 999" *ngIf="resource03Selected===EnumMeasurementType.blood_pressure"
                                                [filterVisibility]="false"
                                                [patientId]="patientId" [onlyGraph]="true" [filter]="filterForMeasurement"></blood-pressure>

                                <blood-glucose style="position: absolute; width: 100%; height: 88%; z-index: 999" *ngIf="resource03Selected===EnumMeasurementType.blood_glucose"
                                               [filterVisibility]="false"
                                               [patientId]="patientId" [onlyGraph]="true" [filter]="filterForMeasurement"></blood-glucose>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 container-graph">
                            <div class="graph">

                                <div style="position:absolute; top:0;right:0;padding:5px;z-index:1000"
                                     *ngIf="resource04Selected">
                                    <i class="material-icons" (click)="openSelectGraph('selectGraph04')">settings</i>
                                </div>

                                <div [ngStyle]="resource04Selected?{position: 'absolute', top:'0', right: '0', padding: '5px', 'z-index': -1}:{}">
                                    <mat-form-field>
                                        <mat-label>{{'SHARED.SELECT'|translate}}</mat-label>
                                        <mat-select #selectGraph04 [(ngModel)]="resource04Selected" (selectionChange)="selectResource()">
                                            <mat-optgroup *ngFor="let group of resourceGroups" [label]="group.name"
                                                          [disabled]="group.disabled">
                                                <mat-option *ngFor="let resource of group.items"
                                                            [value]="resource.value" [disabled]="resource.disabled">
                                                    {{resource.viewValue}}
                                                </mat-option>
                                            </mat-optgroup>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <weight style="position: absolute; width: 100%; height: 88%; z-index: 999" *ngIf="resource04Selected===EnumMeasurementType.weight"
                                        [filterVisibility]="false"
                                        [patientId]="patientId" [onlyGraph]="true" [filter]="filterForMeasurement"></weight>

                                <waist-circunference style="position: absolute; width: 100%; height: 88%; z-index: 999" *ngIf="resource04Selected===EnumMeasurementType.waist_circumference"
                                                     [filterVisibility]="false"
                                                     [patientId]="patientId" [onlyGraph]="true" [filter]="filterForMeasurement"></waist-circunference>

                                <height style="position: absolute; width: 100%; height: 88%; z-index: 999" *ngIf="resource04Selected===EnumMeasurementType.height"
                                        [filterVisibility]="false"
                                        [patientId]="patientId" [onlyGraph]="true" [filter]="filterForMeasurement"></height>

                                <fat style="position: absolute; width: 100%; height: 88%; z-index: 999" *ngIf="resource04Selected===EnumMeasurementType.body_fat"
                                     [filterVisibility]="false"
                                     [patientId]="patientId" [onlyGraph]="true" [filter]="filterForMeasurement"></fat>

                                <body-temperature style="position: absolute; width: 100%; height: 88%; z-index: 999" *ngIf="resource04Selected===EnumMeasurementType.body_temperature"
                                                  [filterVisibility]="false"
                                                  [patientId]="patientId" [onlyGraph]="true" [filter]="filterForMeasurement"></body-temperature>

                                <blood-pressure style="position: absolute; width: 100%; height: 88%; z-index: 999" *ngIf="resource04Selected===EnumMeasurementType.blood_pressure"
                                                [filterVisibility]="false"
                                                [patientId]="patientId" [onlyGraph]="true" [filter]="filterForMeasurement"></blood-pressure>

                                <blood-glucose style="position: absolute; width: 100%; height: 88%; z-index: 999" *ngIf="resource04Selected===EnumMeasurementType.blood_glucose"
                                               [filterVisibility]="false"
                                               [patientId]="patientId" [onlyGraph]="true" [filter]="filterForMeasurement"></blood-glucose>
                            </div>
                        </div>

                    </div>

                </time-series-card>

            </div>

        </div>
    </div>
</div>
