@import '../../../../assets/scss/template-colors';

.container-graph {
  margin: 0px 0px;
  padding: 0px 0px
}

.graph {
  border: 1px dashed #c3c3c3;
  border-radius: 3px;
  height: 280px;
  margin: 2px 2px;
  display: flex;
  align-items: center;
  justify-content: center;

  .material-icons {
    color: $primary-color !important;
    cursor: pointer;
    &:hover{
      border-radius: 20px;
      background: rgb(212, 207, 207);
    }
  }

  ::ng-deep .mat-select-placeholder {
    color: black;
  }

  ::ng-deep .mat-selected {
    color: $primary-color !important;
  }

  ::ng-deep .mat-select-arrow {
    color: $primary-color !important;
  }

  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: $primary-color !important;
  }

  ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: $primary-color !important;
  }

  ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: $primary-color !important;
  }

  ::ng-deep .mat-form-field-label {
    /*change color of label*/
    color: $primary-color !important;
  }
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: $primary-color !important;
}