@import '../../../../assets/scss/template-colors';

#config-graph {
  padding: 5px 5px;
}

.border-config {
  align-items: center;

  margin-left: 5px;
  margin-top: 5px;
  border: 0;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.1);
}

.paddin55 {
  padding: 5px 5px;
}

/* CSS to change Default/'Accent' color */

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: $primary-color; /*replace with your color*/
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: $primary-color; /*replace with your color*/
}

.measurementsContent {
  display: flex;
  flex-direction: column;
}

.d1 {
  order: 1;
}

.d2 {
  order: 2;
}

.d3 {
  order: 3;
}

.d4 {
  order: 4;
}

.d5 {
  order: 5;
}

.d6 {
  order: 6;
}

.d7 {
  order: 7;
}

