<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{'MEASUREMENTS.COMPONENT.CONFIG-GRAPH'|translate}}
                    </mat-panel-title>
                    <mat-panel-description>
                        {{'MEASUREMENTS.COMPONENT.EXPAND-COLLAPSE'|translate}}
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row justify-content-around" id="config-graph">

                    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-2 d-flex flex-row-reverse border-config">
                        <div class="p-2">
                            <mat-slide-toggle class="paddin55" [color]="'accent'"
                                              [(ngModel)]="configVisibility.weight"
                                              (change)="loadWeight()">
                            </mat-slide-toggle>
                        </div>
                        <div class="p-2"><label> {{'MEASUREMENTS.COMPONENT.WEIGHT'|translate}}: </label></div>
                    </div>

                    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-2 d-flex flex-row-reverse border-config"
                         *ngIf="userHealthArea === 'nutrition' || userHealthArea === 'admin'">
                        <div class="p-2">
                            <mat-slide-toggle class="paddin55" [color]="'accent'"
                                              [(ngModel)]="configVisibility.fat"
                                              (change)="loadFat()"></mat-slide-toggle>
                        </div>
                        <div class="p-2"><label> {{'MEASUREMENTS.COMPONENT.FAT'|translate}}: </label></div>
                    </div>

                    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-2 d-flex flex-row-reverse border-config">
                        <div class="p-2">
                            <mat-slide-toggle class="paddin55" [color]="'accent'" [(ngModel)]="configVisibility.height"
                                              (change)="loadHeight()">
                            </mat-slide-toggle>
                        </div>
                        <div class="p-2"><label> {{'MEASUREMENTS.COMPONENT.HEIGHT'|translate}}: </label></div>
                    </div>

                    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-2 d-flex flex-row-reverse border-config">
                        <div class="p-2">
                            <mat-slide-toggle class="paddin55" [color]="'accent'"
                                              [(ngModel)]="configVisibility.circumference"
                                              (change)="loadWaistCircumference()"></mat-slide-toggle>
                        </div>
                        <div class="p-2"><label> {{'MEASUREMENTS.COMPONENT.WAIST-CIRCUMFERENCE'|translate}}: </label>
                        </div>
                    </div>

                    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-2 d-flex flex-row-reverse border-config"
                         *ngIf="userHealthArea === 'nutrition' || userHealthArea === 'admin'">
                        <div class="p-2">
                            <mat-slide-toggle class="paddin55" [color]="'accent'"
                                              [(ngModel)]="configVisibility.temperature"
                                              (change)="loadBodyTemperature()"></mat-slide-toggle>
                        </div>
                        <div class="p-2"><label> {{'MEASUREMENTS.COMPONENT.TEMPERATURE'|translate}}: </label></div>
                    </div>

                    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-2 d-flex flex-row-reverse border-config">
                        <div class="p-2">
                            <mat-slide-toggle class="paddin55" [color]="'accent'"
                                              [(ngModel)]="configVisibility.glucose"
                                              (change)="loadBloodGlucose()">
                            </mat-slide-toggle>
                        </div>
                        <div class="p-2"><label> {{'MEASUREMENTS.COMPONENT.GLUCOSE'|translate}}: </label></div>
                    </div>

                    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-2 d-flex flex-row-reverse border-config"
                         *ngIf="userHealthArea === 'nutrition' || userHealthArea === 'admin'">
                        <div class="p-2">
                            <mat-slide-toggle class="paddin55" [color]="'accent'"
                                              [(ngModel)]="configVisibility.pressure"
                                              (change)="loadBloodPressure()">
                            </mat-slide-toggle>
                        </div>
                        <div class="p-2"><label> {{'MEASUREMENTS.COMPONENT.PRESSURE'|translate}}: </label></div>
                    </div>

<!--                    <div class="col-sm-4 col-md-3 col-lg-4 col-xl d-flex flex-row-reverse border-config"-->
<!--                         *ngIf="userHealthArea === 'nutrition' || userHealthArea === 'admin'">-->
<!--                        <div class="p-2">-->
<!--                            <mat-slide-toggle class="paddin55" [color]="'accent'"-->
<!--                                              [(ngModel)]="configVisibility.heartRate"-->
<!--                                              (change)="loadHeartRate()">-->
<!--                            </mat-slide-toggle>-->
<!--                        </div>-->
<!--                        <div class="p-2"><label>{{'MEASUREMENTS.HEART-RATE.TITLE'|translate}}: </label></div>-->
<!--                    </div>-->

                    <div class="col-sm-4 col-md-3 col-lg-4 col-xl d-flex flex-row-reverse border-config"
                         *ngIf="userHealthArea === 'nutrition' || userHealthArea === 'admin'">
                        <div class="p-2">
                            <mat-slide-toggle class="paddin55" [color]="'accent'"
                                              [(ngModel)]="configVisibility.sleep"
                                              (change)="loadSleep()">
                            </mat-slide-toggle>
                        </div>
                        <div class="p-2"><label> {{'MEASUREMENTS.SLEEP.SLEEP'|translate}}: </label></div>
                    </div>

                    <!--                    <div class="col-sm col-md col-lg col-xl d-flex flex-row-reverse border-config"-->
                    <!--                         *ngIf="userHealthArea === 'nutrition' || userHealthArea === 'admin'">-->
                    <!--                        <div class="p-2">-->
                    <!--                            <mat-slide-toggle class="paddin55" [color]="'accent'"-->
                    <!--                                              [(ngModel)]="configVisibility.heartRate"></mat-slide-toggle>-->
                    <!--                        </div>-->
                    <!--                        <div class="p-2"><label> {{'MEASUREMENTS.COMPONENT.HEART-RATE'|translate}}: </label></div>-->
                    <!--                    </div>-->

                </div>
            </mat-expansion-panel>

        </div>
    </div>

    <div class="row measurementsContent">

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"
             [ngClass]="'d'+(measurementsLenght-graphOrdem.indexOf('weight'))"
             *ngIf="configVisibility.weight">
            <weight [data]="listWeight" [filterVisibility]="true" [patientId]="patientId" [includeCard]="true"></weight>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"
             [ngClass]="'d'+(measurementsLenght-graphOrdem.indexOf('fat'))"
             *ngIf="configVisibility.fat && (userHealthArea === 'nutrition' || userHealthArea === 'admin')">
            <fat [data]="listFat" [filterVisibility]="true" [patientId]="patientId" [includeCard]="true"></fat>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"
             [ngClass]="'d'+(measurementsLenght-graphOrdem.indexOf('height'))"
             *ngIf="configVisibility.height">
            <height [data]="listHeight" [filterVisibility]="true" [patientId]="patientId" [includeCard]="true"></height>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"
             [ngClass]="'d'+(measurementsLenght-graphOrdem.indexOf('circumference'))"
             *ngIf="configVisibility.circumference">
            <waist-circunference [data]="listWaistCircumference" [filterVisibility]="true"
                                 [patientId]="patientId" [includeCard]="true"></waist-circunference>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"
             [ngClass]="'d'+(measurementsLenght-graphOrdem.indexOf('temperature'))"
             *ngIf="configVisibility.temperature && (userHealthArea === 'nutrition' || userHealthArea === 'admin')">
            <body-temperature [data]="listBodyTemperature" [filterVisibility]="true"
                              [patientId]="patientId" [includeCard]="true"></body-temperature>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"
             [ngClass]="'d'+(measurementsLenght-graphOrdem.indexOf('glucose'))"
             *ngIf="configVisibility.glucose">
            <blood-glucose [data]="listBloodGlucose" [filterVisibility]="true" [patientId]="patientId"
                           [includeCard]="true"></blood-glucose>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"
             [ngClass]="'d'+(measurementsLenght-graphOrdem.indexOf('pressure'))"
             *ngIf="configVisibility.pressure && (userHealthArea === 'nutrition' || userHealthArea === 'admin')">
            <blood-pressure [data]="listBloodPressure" [filterVisibility]="true"
                            [patientId]="patientId" [includeCard]="true"></blood-pressure>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"
             [ngClass]="'d'+(measurementsLenght-graphOrdem.indexOf('sleep'))"
             *ngIf="configVisibility.sleep">
            <sleep [data]="listSleep" [filterVisibility]="true"
                   [patientId]="patientId" [includeCard]="true"></sleep>
        </div>

<!--        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"-->
<!--             [ngClass]="'d'+(measurementsLenght-graphOrdem.indexOf('heartRate'))"-->
<!--             *ngIf="configVisibility.heartRate">-->
<!--            <heart-rate [data]="listHeartRate" [filterVisibility]="true" [patientId]="patientId"-->
<!--                        [includeCard]="true"></heart-rate>-->
<!--        </div>-->

    </div>
</div>
