<div class="input-group no-border">
    <div class="has-feedback col-sm-12 col-md-12 col-lg-12 col-xl-12 text-right">
        <div class="row">

            <div class="col-sm-6 col-md-10 col-lg-10 col-xl-10 text-right">
                <input matInput [placeholder]="'PILOT-STUDY.PLACEHOLDER-PERIOD'|translate" [satDatepicker]="picker"
                       [(ngModel)]="search"
                       (ngModelChange)="getAllFiles()" id="rangeDate">

                <sat-datepicker #picker [rangeMode]="true"></sat-datepicker>
                <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
            </div>

            <div class="col-sm-6 col-md-2 col-lg-2 col-xl-2 text-left">
                <button class="btn btn-haniot-primary"
                        (click)="cleanDateRange()">{{'SHARED.TOCLEAN'|translate}}</button>
            </div>

        </div>

    </div>

</div>
<div class="table-responsive">
    <table class="table table-hover table-sm">
        <thead>
        <tr>
            <th>#</th>
            <th>{{'PILOT-STUDY.TOTAL-PATIENTS'|translate}}</th>
            <th>Tipos de questionarios</th>
            <th>{{'SHARED.DATE'|translate}}</th>
            <th>{{'SHARED.ACTIONS'|translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="listOfFiles.length==0">
            <td colspan="5" *ngIf="!listOfFilesIsEmpty">
                <spinner [message]="'PILOT-STUDY.SPINNER-MESSAGE'|translate"></spinner>
            </td>
            <td colspan="5" *ngIf="listOfFilesIsEmpty">
                <h4>{{'PILOT-STUDY.FILESEMPTY'|translate}}
                    <br>
                    <small>{{'PILOT-STUDY.FILESEMPTY-MESSAGE'|translate}}</small>
                </h4>
            </td>
        </tr>
        <tr *ngFor="let file of listOfFiles; index as i;trackBy: trackById">
            <td>{{getIndex(i)}}</td>
            <td>{{file.total_patients}}</td>
            <td>{{file.data_types}}</td>
            <td>{{file.created_at | date}}</td>
            <td>
                <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false"
                   [title]="'PILOT-STUDY.OPTIONS-DOWNLOAD'|translate">
                    <i class="material-icons">more_vert</i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">

                    <a class="dropdown-item background-green" [href]="getTrustedUrl(file.file_csv)" download
                       target="_blank">
                        {{'PILOT-STUDY.DOWNLOAD-CSV'|translate}}
                    </a>

                    <a class="dropdown-item background-green" [href]="getTrustedUrl(file.file_xls)" download
                       target="_blank">
                        {{'PILOT-STUDY.DOWNLOAD-XLS'|translate}}
                    </a>

                </div>
            </td>

        </tr>
        </tbody>
    </table>

</div>
<div class="row">
    <div class="col-sm-6 col-md-5 col-lg-4 col-xl-4">
        <button type="button" class="btn btn-haniot-primary" (click)="openModalFileConfig()">
            {{'PILOT-STUDY.NEW-FILE'|translate}}
        </button>
    </div>
    <div class="col-sm col-md col-lg col-xl">
        <mat-paginator [length]="length" [pageSize]="limit" [pageSizeOptions]="pageSizeOptions"
                       (page)="clickPagination($event)">
        </mat-paginator>
    </div>
</div>


<haniot-modal [modalId]="'modalFile'">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{'PILOT-STUDY.ODONTOLOGICAL-EVALUATON'|translate}}</h5>
            <button type="button" class="close" aria-label="Close" (click)="closeModalFile()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row" *ngIf="lastFile">
                    <div class="form-group col-sm-6 col-md-6 col-lg-3 col-xl-3">
                        <label>{{'PILOT-STUDY.TOTAL-PATIENTS'|translate}}:</label>
                        <p>{{lastFile.total_patients}}</p>
                    </div>
                    <div class="form-group col-sm-6 col-md-6 col-lg-3 col-xl-3">
                        <label>{{'SHARED.DATE'|translate}}:</label>
                        <p>{{lastFile.created_at | date}}</p>
                    </div>
                    <div class="form-group col-sm-6 col-md-6 col-lg-3 col-xl-3">
                        <label>{{'PILOT-STUDY.FILECSV'|translate}}:</label>
                        <a class="btn btn-haniot-primary" [href]="getTrustedUrl(lastFile.file_csv)" download
                           target="_blank">
                            {{'PILOT-STUDY.DOWNLOAD-CSV'|translate}}
                        </a>
                    </div>
                    <div class="form-group col-sm-6 col-md-6 col-lg-3 col-xl-3">
                        <label>{{'PILOT-STUDY.FILEXLS'|translate}}:</label>
                        <a class="btn btn-haniot-primary" [href]="getTrustedUrl(lastFile.file_xls)" download
                           target="_blank">
                            {{'PILOT-STUDY.DOWNLOAD-XLS'|translate}}
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</haniot-modal>

<haniot-modal [modalId]="'modalFileConfig'">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{'PILOT-STUDY.CARD-FILES.CONFIG-RESQUEST-DATA'|translate}}</h5>
            <button type="button" class="close" aria-label="Close" (click)="closeModalFileConfig()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <mat-horizontal-stepper #stepper>
                        <mat-step>
                            <ng-template matStepLabel>Tipos de Medição</ng-template>

                            <div class="form-group row justify-content-between">
                                <h5>Selecione os tipos de medições que deseja incluir:</h5>
                                <mat-checkbox class="example-margin" [(ngModel)]="checkSelectMeasurementTypeAll"
                                              (click)="clickCheckMeasurementTypeAll()"
                                              style="margin-left: 10px">
                                    Selecionar todas
                                </mat-checkbox>

                                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6"
                                     *ngFor="let measurementType of measurementsTypeOptions; index as i;trackBy: trackById">
                                    <mat-checkbox class="example-margin"
                                                  (change)="changeMeasurementTypeCheck()"
                                                  [(ngModel)]="listCheckMeasurementTypes[i]">
                                        {{measurementType.id | measurementType | translate}}
                                    </mat-checkbox>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2">
                                    <button class="btn btn-haniot-primary"
                                            matStepperNext
                                            [disabled]="!anyMeasurementTypeSelected()">
                                        {{'EVALUATION.NUTRITION-EVALUATION-LIST.NEXT'|translate}}
                                    </button>
                                </div>
                            </div>
                        </mat-step>
                        <mat-step>
                            <ng-template
                                    matStepLabel>{{'PILOT-STUDY.CARD-FILES.TYPES-OF-QUESTIONNAIRES'|translate}}</ng-template>

                            <div class="form-group row justify-content-between">
                                <h5>{{'PILOT-STUDY.CARD-FILES.SELECT-QUESTIONNAIRES'|translate}}:</h5>
                                <mat-checkbox class="example-margin" [(ngModel)]="checkSelectQuestionnaireTypeAll"
                                              (click)="clickCheckQuestionnaireTypeAll()"
                                              style="margin-left: 10px">
                                    {{'PILOT-STUDY.CARD-FILES.SELECT-ALL'|translate}}
                                </mat-checkbox>

                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 row justify-content-center">
                                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                        <label class="label-description">- {{'PILOT-STUDY.CARD-FILES.NUTRITIONAL-QUESTIONNAIRE'|translate}}
                                            :</label>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6"
                                         *ngFor="let questionnaire of questionnaireTypeOptions.nutritional; index as i;trackBy: trackById">
                                        <mat-checkbox class="example-margin"
                                                      (change)="changeQuestionnaireTypeCheck()"
                                                      [(ngModel)]="listCheckQuestionnaireNutritionalTypes[i]">
                                            {{questionnaire.id|questionnaireType|translate}}
                                        </mat-checkbox>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 row justify-content-center">
                                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                        <label class="label-description">- {{'PILOT-STUDY.CARD-FILES.ODONTOLOGICAL-QUESTIONNAIRE'|translate}}
                                            :</label>
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4"
                                         *ngFor="let questionnaire of questionnaireTypeOptions.odontological; index as i;trackBy: trackById">
                                        <mat-checkbox class="example-margin"
                                                      (change)="changeQuestionnaireTypeCheck()"
                                                      [(ngModel)]="listCheckQuestionnaireOdontologicalTypes[i]">
                                            {{questionnaire.id|questionnaireType|translate}}
                                        </mat-checkbox>
                                    </div>
                                </div>

                            </div>

                            <div class="d-flex justify-content-between">
                                <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2">
                                    <button type="button" class="btn btn-haniot-primary"
                                            matStepperPrevious>
                                        {{'EVALUATION.NUTRITION-EVALUATION-LIST.PREVIOUS'|translate}}
                                    </button>
                                </div>

                                <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2">
                                    <button class="btn btn-haniot-primary"
                                            matStepperNext
                                            [disabled]="!anyQuestionnaireSelected()">
                                        {{'EVALUATION.NUTRITION-EVALUATION-LIST.NEXT'|translate}}
                                    </button>
                                </div>
                            </div>

                        </mat-step>
                        <mat-step>
                            <ng-template
                                    matStepLabel>{{'PILOT-STUDY.CARD-FILES.SELECT-PATIENTS'|translate}}</ng-template>
                            <div class="form-group row justify-content-between">
                                <h5>{{'PILOT-STUDY.CARD-FILES.SELECT-PATIENTS-TO-INCLUDE'|translate}}:</h5>
                                <mat-checkbox class="example-margin"
                                              [(ngModel)]="checkSelectPatientsAll"
                                              (click)="clickCheckPatientsAll()"
                                              style="margin-left: 10px">
                                    {{'PILOT-STUDY.CARD-FILES.SELECT-ALL'|translate}}
                                </mat-checkbox>
                                <div class="table-responsive">
                                    <table class="table table-sm table-hover">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>{{'SHARED.NAME-OF-PATIENT'|translate}}</th>
                                            <th>{{'SHARED.GENDER'|translate}}</th>
                                            <th>{{'SHARED.AGE'|translate}}</th>
                                            <th>{{'SHARED.BIRTH-DATE'|translate}}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngIf="listOfPatients.length==0">
                                            <td colspan="6" *ngIf="!listOfPatientsIsEmpty">
                                                <spinner
                                                        [message]="'DASHBOARD.CARD-PATIENTS.SPINNER-MESSAGE'|translate"></spinner>
                                            </td>
                                            <td colspan="6" *ngIf="listOfPatientsIsEmpty">
                                                <img src="../../../../assets/img/haniot/no_patient.png"
                                                     [alt]="'DASHBOARD.CARD-PATIENTS.SPINNER-MESSAGE'|translate"
                                                     id="listOfPatientsIsEmpty">
                                                <br> {{'PATIENTS.PATIENTS-TABLE.LIST-EMPTY'|translate}}.
                                            </td>
                                        </tr>
                                        <tr *ngFor="let patient of listOfPatientsAux; index as i;">
                                            <td>
                                                <mat-checkbox class="example-margin"
                                                              (change)="changePatientCheck()"
                                                              [(ngModel)]="listCheckPatients[i]">
                                                </mat-checkbox>
                                            </td>
                                            <td>{{patient.name}}</td>
                                            <td>{{patient.gender | gender | translate}}</td>
                                            <td>{{patient.birth_date | convertInAge }}</td>
                                            <td>{{patient.birth_date | date}}</td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <mat-paginator [length]="patientLength" [pageSize]="patientLimit" [pageSizeOptions]="patientPageSizeOptions"
                                                   (page)="clickPatientPagination($event)">
                                    </mat-paginator>

                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2">
                                    <button class="btn btn-haniot-primary"
                                            matStepperNext
                                            [disabled]="!anyPatientSelected()"
                                            (click)="generateFile()">
                                        Solicitar
                                    </button>
                                </div>
                            </div>
                        </mat-step>
                    </mat-horizontal-stepper>

                </div>
            </div>
        </div>
    </div>
</haniot-modal>

<haniot-modal [modalId]="'modalFileInProcessing'">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{'PILOT-STUDY.CARD-FILES.DATA-SUCCESSFULLY-REQUEST'|translate}}</h5>
            <button type="button" class="close" aria-label="Close" (click)="closeModalFileInProcessing()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <h4>{{'PILOT-STUDY.CARD-FILES.DATA-SUCCESSFULLY-REQUEST-MESSAGE'|translate}}</h4>
            <h4 class="text-left">{{'PILOT-STUDY.CARD-FILES.COMPLETION-ESTIMATE'|translate}}:<br>
                * {{'SHARED.DATE'|translate}}: {{dataResponse.completion_estimate | date:"mediumDate"}}<br>
                * {{'SHARED.HOUR'|translate}}: {{dataResponse.completion_estimate | date:"mediumTime"}}<br>
            </h4>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-haniot-primary" aria-label="Close"
                    (click)="closeModalFileInProcessing()">{{'PILOT-STUDY.CARD-FILES.UNDERSTOOD'|translate}}
            </button>
        </div>
    </div>
</haniot-modal>

<div id="generatingNewFile" *ngIf="generatingFile">
    <div class="externa">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                                <spinner [message]="'PILOT-STUDY.REQUESTING-DATA'|translate"></spinner>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--Fundo preto do modal-->
    <div class="modal-backdrop show">
    </div>
</div>

<div id="removingFile" *ngIf="removingFile">
    <div class="externa">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                                <spinner [message]="'PILOT-STUDY.REMOVINGFILE'|translate"></spinner>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--Fundo preto do modal-->
    <div class="modal-backdrop show">
    </div>
</div>
