<div class="card">
    <div class="card-header card-header-tabs card-header-danger">
        <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">
                                    <h4 class="card-title">{{'PILOT-STUDY.CARD-FILES.TITLE'|translate}}</h4>
                                    <p class="card-category"> {{'PILOT-STUDY.CARD-FILES.SUBTITLE'|translate}}</p>
                                </span>
                <ul class="nav nav-tabs right" data-tabs="tabs">
                    <li class="nav-item">
                        <mat-form-field [ngClass]="isMobile()?'hidden':''">
                            <input matInput [placeholder]="'PILOT-STUDY.PLACEHOLDER-PERIOD'|translate"
                                   [satDatepicker]="picker"
                                   [(ngModel)]="search"
                                   (focus)="picker.open()"
                                   (ngModelChange)="getAllFiles()"
                                   [max]="maxDate" id="rangeDate">

                            <sat-datepicker #picker [rangeMode]="true"></sat-datepicker>
                            <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
                        </mat-form-field>
                        <a class="nav-link-mobile" *ngIf="isMobile()" (click)="picker.open()"
                           [title]="'PILOT-STUDY.PLACEHOLDER-PERIOD'|translate">
                            <i class="material-icons">date_range</i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="reference-worksheet"
                           href="http://bit.ly/2U6IdJ5"
                           [title]="'PILOT-STUDY.CARD-FILES.OPEN-REFERENCE-WORKSHEET'|translate"
                           target="_blank">
                            <i class="material-icons">assessment</i>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover table-sm rwd-table">
                <thead>
                <tr>
                    <th style="max-width: 100px">#</th>
                    <th style="max-width: 100px">{{'PILOT-STUDY.TOTAL-PATIENTS'|translate}}</th>
                    <th>{{'PILOT-STUDY.CARD-FILES.TYPES-OF-MEASUREMENTS'|translate}}</th>
                    <th>{{'PILOT-STUDY.CARD-FILES.TYPES-OF-QUESTIONNAIRES'|translate}}</th>
                    <th>{{'SHARED.DATE'|translate}}</th>
                    <th>{{'SHARED.ACTIONS'|translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngIf="listOfFiles.length==0">
                    <td colspan="6" *ngIf="!listOfFilesIsEmpty">
                        <spinner [message]="'PILOT-STUDY.SPINNER-MESSAGE'|translate"></spinner>
                    </td>
                    <td colspan="6" *ngIf="listOfFilesIsEmpty">
                        <h4>{{'PILOT-STUDY.FILESEMPTY'|translate}}
                            <br>
                            <small>{{'PILOT-STUDY.FILESEMPTY-MESSAGE'|translate}}</small>
                        </h4>
                    </td>
                </tr>
                <tr *ngFor="let file of listOfFiles; index as i;trackBy: trackById">
                    <td class="max-width-20" (click)="fileGenerated(i)"
                        [attr.data-th]="'SHARED.POSITION'|translate">{{getIndex(i)}}</td>
                    <td class="max-width-20" (click)="fileGenerated(i)"
                        [attr.data-th]="'PILOT-STUDY.TOTAL-PATIENTS'|translate">{{file.total_patients}}</td>
                    <td (click)="fileGenerated(i)"
                        [attr.data-th]="'PILOT-STUDY.CARD-FILES.TYPES-OF-MEASUREMENTS'|translate">
                        <div *ngIf="this.listOfDataTypes[i].measurement_type && this.listOfDataTypes[i].measurement_type.length <= LengthDataTypes">
                    <span class="ellipsis measurement-type"
                          *ngFor="let type of listOfDataTypes[i].measurement_type">{{type | measurementType | translate}}</span>
                        </div>

                        <div class="nav-link"
                             *ngIf="this.listOfDataTypes[i].measurement_type && this.listOfDataTypes[i].measurement_type.length > LengthDataTypes">
                    <span *ngFor="let index of dataTypeIndexs; let j = index">
                        <span class="ellipsis measurement-type"
                              *ngIf="(listOfDataTypes[i].measurement_type[j]|measurementType)!=='MEASUREMENTS.PIPES.NOTFOUND'">
                        {{listOfDataTypes[i].measurement_type[j] | measurementType | translate}}
                    </span>
                    </span>
                            ...

                            <i class="material-icons" [title]="'Visualizar mais...'">info</i>

                        </div>
                    </td>
                    <td (click)="fileGenerated(i)"
                        [attr.data-th]="'PILOT-STUDY.CARD-FILES.TYPES-OF-QUESTIONNAIRES'|translate">
                        <div *ngIf="this.listOfDataTypes[i].questionnaires && this.listOfDataTypes[i].questionnaires.length <= LengthDataTypes">
                    <span class="ellipsis measurement-type"
                          *ngFor="let type of listOfDataTypes[i].questionnaires">{{type | questionnaireType | translate}}</span>
                        </div>

                        <div class="nav-link"
                             *ngIf="this.listOfDataTypes[i].questionnaires && this.listOfDataTypes[i].questionnaires.length > LengthDataTypes">
                    <span *ngFor="let index of dataTypeIndexs; let j = index">
                        <span class="ellipsis measurement-type"
                              *ngIf="(listOfDataTypes[i].questionnaires[j]|questionnaireType)!=='HABITS.PIPES.DO-NOT-KNOW'">
                        {{listOfDataTypes[i].questionnaires[j] | questionnaireType | translate}}
                    </span>
                    </span>
                            ...

                            <i class="material-icons" [title]="'Visualizar mais...'">info</i>

                        </div>
                    </td>
                    <td (click)="fileGenerated(i)"
                        [attr.data-th]="'SHARED.DATE'|translate">{{file.created_at | date}}</td>
                    <td [attr.data-th]="'SHARED.ACTIONS'|translate">
                        <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"
                           [title]="'PILOT-STUDY.OPTIONS-DOWNLOAD'|translate">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">

                            <a class="dropdown-item background-green" [href]="getTrustedUrl(file.file_csv)" download
                               target="_blank">
                                {{'PILOT-STUDY.DOWNLOAD-CSV'|translate}}
                            </a>

                            <a class="dropdown-item background-green" [href]="getTrustedUrl(file.file_xls)" download
                               target="_blank">
                                {{'PILOT-STUDY.DOWNLOAD-XLS'|translate}}
                            </a>

                        </div>
                    </td>

                </tr>
                </tbody>
            </table>

        </div>
        <div class="row">
            <div class="col-sm-6 col-md-5 col-lg-4 col-xl-4">
                <button type="button" class="btn btn-haniot-primary" (click)="openModalFileConfig()"
                        *ngIf="verifyScopes(['evaluations:create'])">
                    {{'PILOT-STUDY.NEW-FILE'|translate}}
                </button>
            </div>
            <div class="col-sm col-md col-lg col-xl">
                <mat-paginator [length]="length" [pageSize]="limit" [pageSizeOptions]="pageSizeOptions"
                               (page)="clickPagination($event)">
                </mat-paginator>
            </div>
        </div>

    </div>
</div>

<haniot-modal [modalId]="'modalFile'">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{'PILOT-STUDY.VIEW-DATA'|translate}}</h5>
            <button type="button" class="close" aria-label="Close" (click)="closeModalFile()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container" *ngIf="lastFile">
                <div class="row">
                    <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xl-3">
                        <label>{{'PILOT-STUDY.TOTAL-PATIENTS'|translate}}:</label>
                        <p>{{lastFile.total_patients}}</p>
                    </div>
                    <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xl-3">
                        <label>{{'SHARED.DATE'|translate}}:</label>
                        <p>{{lastFile.created_at | date}}</p>
                    </div>
                    <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xl-3">
                        <label>{{'PILOT-STUDY.FILECSV'|translate}}:</label>
                        <a class="btn btn-haniot-primary btn-sm" [href]="getTrustedUrl(lastFile.file_csv)" download
                           target="_blank">
                            {{'PILOT-STUDY.DOWNLOAD-CSV'|translate}}
                        </a>
                    </div>
                    <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xl-3">
                        <label>{{'PILOT-STUDY.FILEXLS'|translate}}:</label>
                        <a class="btn btn-haniot-primary btn-sm" [href]="getTrustedUrl(lastFile.file_xls)" download
                           target="_blank">
                            {{'PILOT-STUDY.DOWNLOAD-XLS'|translate}}
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
                        <label>Tipos de Medições:</label>
                        <span *ngFor="let type of lastFile.data_types">
                            <p *ngIf="(type|measurementType)!=='MEASUREMENTS.PIPES.NOTFOUND'">{{type|measurementType|translate}}</p>
                        </span>
                    </div>
                    <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
                        <label>Tipos de Questionários:</label>
                        <span *ngFor="let type of lastFile.data_types">
                            <p *ngIf="(type|questionnaireType)!=='HABITS.PIPES.DO-NOT-KNOW'">{{type|questionnaireType|translate}}</p>
                        </span>
                    </div>

                </div>
            </div>
        </div>

    </div>
</haniot-modal>

<haniot-modal [modalId]="'modalFileConfig'">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{'PILOT-STUDY.CARD-FILES.CONFIG-RESQUEST-DATA'|translate}}</h5>
            <button type="button" class="close" aria-label="Close" (click)="closeAndResetConfigurations(stepper)">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <mat-horizontal-stepper [linear]="true" ear #stepper>
                        <mat-step [editable]="true">
                            <ng-template
                                    matStepLabel>{{'PILOT-STUDY.CARD-FILES.TYPES-OF-MEASUREMENTS'|translate}}</ng-template>

                            <div class="form-group row justify-content-between">
                                <h5>{{'PILOT-STUDY.CARD-FILES.SELECT-MEASUREMENTS'|translate}}:</h5>
                                <mat-checkbox class="example-margin" [(ngModel)]="checkSelectMeasurementTypeAll"
                                              (click)="clickCheckMeasurementTypeAll()"
                                              style="margin-left: 10px">
                                    {{'PILOT-STUDY.CARD-FILES.SELECT-ALL'|translate}}
                                </mat-checkbox>

                                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6"
                                     *ngFor="let measurementType of measurementsTypeOptions; index as i;trackBy: trackById">
                                    <mat-checkbox class="example-margin"
                                                  (change)="changeMeasurementTypeCheck()"
                                                  [(ngModel)]="listCheckMeasurementTypes[i]">
                                        {{measurementType.id | measurementType | translate}}
                                    </mat-checkbox>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <div class="p-2">
                                    <button class="btn btn-haniot-primary"
                                            matStepperNext
                                            [disabled]="!anyMeasurementTypeSelected()">
                                        {{'EVALUATION.NUTRITION-EVALUATION-LIST.NEXT'|translate}}
                                    </button>
                                </div>
                            </div>
                        </mat-step>
                        <mat-step [editable]="true">
                            <ng-template
                                    matStepLabel>{{'PILOT-STUDY.CARD-FILES.TYPES-OF-QUESTIONNAIRES'|translate}}</ng-template>

                            <div class="form-group row justify-content-between">
                                <h5>{{'PILOT-STUDY.CARD-FILES.SELECT-QUESTIONNAIRES'|translate}}:</h5>
                                <mat-checkbox class="example-margin" [(ngModel)]="checkSelectQuestionnaireTypeAll"
                                              (click)="clickCheckQuestionnaireTypeAll()"
                                              style="margin-left: 10px">
                                    {{'PILOT-STUDY.CARD-FILES.SELECT-ALL'|translate}}
                                </mat-checkbox>

                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 row justify-content-center">
                                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                        <label class="label-description">- {{'PILOT-STUDY.CARD-FILES.NUTRITIONAL-QUESTIONNAIRE'|translate}}
                                            :</label>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6"
                                         *ngFor="let questionnaire of questionnaireTypeOptions.nutritional; index as i;trackBy: trackById">
                                        <mat-checkbox class="example-margin"
                                                      (change)="changeQuestionnaireTypeCheck()"
                                                      [(ngModel)]="listCheckQuestionnaireNutritionalTypes[i]">
                                            {{questionnaire.id|questionnaireType|translate}}
                                        </mat-checkbox>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 row justify-content-center">
                                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                        <label class="label-description">- {{'PILOT-STUDY.CARD-FILES.ODONTOLOGICAL-QUESTIONNAIRE'|translate}}
                                            :</label>
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4"
                                         *ngFor="let questionnaire of questionnaireTypeOptions.odontological; index as i;trackBy: trackById">
                                        <mat-checkbox class="example-margin"
                                                      (change)="changeQuestionnaireTypeCheck()"
                                                      [(ngModel)]="listCheckQuestionnaireOdontologicalTypes[i]">
                                            {{questionnaire.id|questionnaireType|translate}}
                                        </mat-checkbox>
                                    </div>
                                </div>

                            </div>

                            <div class="d-flex justify-content-between">
                                <div class="p-2">
                                    <button type="button" class="btn btn-haniot-primary"
                                            matStepperPrevious>
                                        {{'EVALUATION.NUTRITION-EVALUATION-LIST.PREVIOUS'|translate}}
                                    </button>
                                </div>

                                <div class="p-2">
                                    <button class="btn btn-haniot-primary"
                                            matStepperNext
                                            [disabled]="!anyQuestionnaireSelected()">
                                        {{'EVALUATION.NUTRITION-EVALUATION-LIST.NEXT'|translate}}
                                    </button>
                                </div>
                            </div>

                        </mat-step>
                        <mat-step [editable]="true">
                            <ng-template
                                    matStepLabel>{{'PILOT-STUDY.CARD-FILES.SELECT-PATIENTS'|translate}}</ng-template>
                            <div class="form-group row justify-content-between">
                                <h5>{{'PILOT-STUDY.CARD-FILES.SELECT-PATIENTS-TO-INCLUDE'|translate}}:</h5>
                                <mat-checkbox class="example-margin"
                                              [(ngModel)]="checkSelectPatientsAll"
                                              (click)="clickCheckPatientsAll()"
                                              style="margin-left: 10px">
                                    {{'PILOT-STUDY.CARD-FILES.SELECT-ALL'|translate}}
                                </mat-checkbox>
                                <div class="table-responsive">
                                    <table class="table table-sm table-hover" id="tableOfPatients">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>{{'SHARED.NAME-OF-PATIENT'|translate}}</th>
                                            <th>{{'SHARED.GENDER'|translate}}</th>
                                            <th>{{'SHARED.AGE'|translate}}</th>
                                            <th>{{'SHARED.BIRTH-DATE'|translate}}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngIf="listOfPatients.length==0">
                                            <td colspan="5" *ngIf="!listOfPatientsIsEmpty">
                                                <spinner
                                                        [message]="'DASHBOARD.CARD-PATIENTS.SPINNER-MESSAGE'|translate"></spinner>
                                            </td>
                                            <td colspan="5" *ngIf="listOfPatientsIsEmpty">
                                                <div class="container">
                                                    <div class="row justify-content-center">
                                                        <div class="bg-no-patient"></div>
                                                    </div>
                                                    <label>{{'PATIENTS.PATIENTS-TABLE.LIST-EMPTY'|translate}}.</label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr *ngFor="let patient of listOfPatients; index as i;">
                                            <td>
                                                <mat-checkbox class="example-margin"
                                                              (change)="changePatientCheck()"
                                                              [(ngModel)]="listCheckPatients[i+patientLimit*(patientPage-1)]">
                                                </mat-checkbox>
                                            </td>
                                            <td (click)="selectPatient(i)">{{patient.name}}</td>
                                            <td (click)="selectPatient(i)">{{patient.gender | gender | translate}}</td>
                                            <td (click)="selectPatient(i)">{{patient.birth_date | convertInAge }}</td>
                                            <td (click)="selectPatient(i)">{{patient.birth_date | date}}</td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <mat-paginator [length]="patientLength" [pageSize]="patientLimit"
                                                   [pageSizeOptions]="patientPageSizeOptions"
                                                   (page)="clickPatientPagination($event)">
                                    </mat-paginator>

                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="p-2">
                                    <button type="button" class="btn btn-haniot-primary"
                                            matStepperPrevious>
                                        {{'EVALUATION.NUTRITION-EVALUATION-LIST.PREVIOUS'|translate}}
                                    </button>
                                </div>
                                <div class="p-2">
                                    <button class="btn btn-haniot-primary"
                                            matStepperNext
                                            [disabled]="!anyMeasurementTypeSelected() || !anyQuestionnaireSelected() || !anyPatientSelected() "
                                            (click)="generateFile(stepper)">
                                        {{'PILOT-STUDY.CARD-FILES.REQUEST'|translate}}
                                    </button>
                                </div>
                            </div>
                        </mat-step>
                    </mat-horizontal-stepper>

                </div>
            </div>
        </div>
    </div>
</haniot-modal>

<haniot-modal [modalId]="'modalFileInProcessing'">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{'PILOT-STUDY.CARD-FILES.DATA-SUCCESSFULLY-REQUEST'|translate}}</h5>
            <button type="button" class="close" aria-label="Close" (click)="closeModalFileInProcessing()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <h4>{{'PILOT-STUDY.CARD-FILES.DATA-SUCCESSFULLY-REQUEST-MESSAGE'|translate}}</h4>
            <h4 class="text-left">{{'PILOT-STUDY.CARD-FILES.COMPLETION-ESTIMATE'|translate}}:<br>
                * {{'SHARED.DATE'|translate}}: {{dataResponse.completion_estimate | date:"mediumDate"}}<br>
                * {{'SHARED.HOUR'|translate}}: {{dataResponse.completion_estimate | date:"mediumTime"}}<br>
            </h4>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-haniot-primary" aria-label="Close"
                    (click)="closeModalFileInProcessing()">{{'PILOT-STUDY.CARD-FILES.UNDERSTOOD'|translate}}
            </button>
        </div>
    </div>
</haniot-modal>

<div id="generatingNewFile" *ngIf="generatingFile">
    <div class="externa">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                                <spinner [message]="'PILOT-STUDY.REQUESTING-DATA'|translate"></spinner>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--Fundo preto do modal-->
    <div class="modal-backdrop show">
    </div>
</div>
