@import "../../../../assets/scss/template-colors";

.card .card-header-danger:not(.card-header-icon):not(.card-header-text), .card.bg-danger, .card.card-rotate.bg-danger .front, .card.card-rotate.bg-danger .back {
  background: $primary-color !important;
}

.card-title {
  margin-left: 5px !important;
  color: white !important;
}

.right {
  position: absolute;
  right: 10px;
}

table .material-icons {
  color: $primary-color;
  cursor: pointer;
}

table td {
  cursor: pointer;
}

.nav-link i:hover {
  border-radius: 20px;
  background: rgb(212, 207, 207);
}

label {
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.externa {
  position: absolute;
  z-index: 2000;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.background-green:hover {
  background-color: $primary-color;
}

#navbarDropdownMenuLink i:hover {
  cursor: pointer;
  color: $primary-color;
}

td img {
  width: 5%;
}

.label-description {
  margin-left: -25px;
}

// overwrite the checkbox background
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: $primary-color !important;
}

// overwrite the ripple overlay on hover and click
::ng-deep .mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: $primary-color !important;
}

::ng-deep.mat-step-header .mat-step-icon-selected {
  background-color: $primary-color;
}

::ng-deep.mat-step-header .mat-step-icon-state-edit {
  background-color: $primary-color;
}

::ng-deep .mat-horizontal-stepper-header {
  pointer-events: all !important;
}

::ng-deep .cdk-overlay-container {
  z-index: 2000;
}

#tableOfPatients td {
  cursor: pointer;
}

.measurement-type {
  color: white;
  font-size: 14px;
  font-weight: bold;
  background-color: $primary-color;
  margin: 2px 2px;
  padding: 2px 1px;
  border-radius: .25rem !important;
}

.material-icons {
  color: $primary-color;
  cursor: pointer;
}

.nav-link i:hover {
  border-radius: 20px;
  background: rgb(212, 207, 207);
}


/* satDatePicker*/
::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: white !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: white !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: white !important;;
}

::ng-deep .mat-form-field-label {
  /*change color of label*/
  color: white !important;
}

.mat-datepicker-toggle {
  color: white !important;
}

.reference-worksheet .material-icons {
  margin-top: 10px;
  color: white;
  cursor: pointer;
  margin-left: 5px;
  font-size: 28px;
  transition: font-size 500ms;
}

.reference-worksheet .material-icons:hover {
  font-size: 30px;
  border-radius: 10px;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: font-size 500ms; /* Safari */
}


.nav-link-mobile .material-icons {
  margin-top: 10px;
  color: white;
  cursor: pointer;
  margin-left: 5px;
  font-size: 28px;
  transition: font-size 500ms;
}

.nav-link-mobile .material-icons:hover {
  font-size: 30px;
  border-radius: 10px;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: font-size 500ms; /* Safari */
}

.nav-tabs .nav-item .material-icons {
  margin: 5px 0px;
}

.material-icons {
  color: $primary-color;
  cursor: pointer;
}

.shared .material-icons {
  cursor: pointer;
  color: white;

}

.nav-item {
  padding: 0px 0px;
}

.hidden {
  position: absolute;
  visibility: hidden;
}

$breakpoint-alpha: 480px;

@media (min-width: $breakpoint-alpha) {
  .max-width-20 {
    width: 20px;
    max-width: 20px
  }
}

@media(max-width: 400px) {
  li {
    margin: 0px 1px;
  }
  .nav-link-mobile .material-icons {
    font-size: 20px;
    margin: 0px 0px;
  }

  .nav-tabs .nav-item .nav-link {
    padding: 5px 5px;
  }
  .right {
    position: absolute;
    right: 5px;
  }
  .dropdown-menu {
    z-index: 1050 !important;
  }
}

.bg-no-patient {
  width: 48px;
  height: 48px;
  background: url('assets/img/questionnaires.png') -360px -150px;
}

