<haniot-card [title]="'Hábitos alimentares do paciente'" subtitle=''>

  <form [formGroup]="feedingForm">
    <div class="row">
      <!-- <div class="form-group col-md">
        <label for="created_at">
          Data do registro:
        </label>
        <input matInput class="form-control" [matDatepicker]="pickerCreated" formControlName="created_at"
          name="created_at" data-date-format="yyyy-MM-dd">
      </div> -->

      <div class="form-group has-feedback col-md">
        <label for="daily_water_glasses">
          Quantidade de copos de água:
        </label>
        <input class="form-control" type="text" formControlName="daily_water_glasses" id="daily_water_glasses">
      </div>

      <div class="form-group col-md">
        <label for="six_month_breast_feeding">
          Amamentação:
        </label>
        <input class="form-control" type="text" formControlName="six_month_breast_feeding"
          id="six_month_breast_feeding">
      </div>

      <div class="form-group col-md">
        <label for="breakfast_daily_frequency">
          Café da manhã:
        </label>
        <input class="form-control" type="text" formControlName="breakfast_daily_frequency"
          id="breakfast_daily_frequency">
      </div>

    </div>

    <!-- <div class="row">
                          <div class="form-group col-md">
                            <label for="weekly_feeding_habits">
                              Lista de alimentos semanais e relação de consumo:
                            </label>
                            <div class="table-responsive">
                              <table class="table table-sm table-striped">
                                <thead>
                                  <tr>
                                    <th>Alimento</th>
                                    <th>Frequência</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let weeklyFood of feedingForm.get('weekly_feeding_habits').value;">
                                    <td>{{weeklyFood.food}}</td>
                                    <td>{{weeklyFood.seven_days_freq | weeklyFrequency}}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div> -->

    <div class="row container">
      <label for="weekly_feeding_habits">
        Lista de alimentos semanais e relação de consumo: <small>(Ultimos 7 dias)</small>
      </label>
      <div class="row container">
        <ul class="list-inline">
          <li class="list-inline-item weeklyFeeding"
            *ngFor="let weeklyFood of feedingForm.get('weekly_feeding_habits').value;" id="weekly_feeding_habits">
            <span class="food">
              {{weeklyFood.food | weeklyFood}}
              <span class="frequency">{{weeklyFood.seven_days_freq | weeklyFrequency}}</span>
            </span>
          </li>
        </ul>
      </div>
    </div>

    <div class="row container">
      <label for="food_allergy_intolerance">
        Lista de alimentos alérgicos:
      </label>
      <div class="row container">
        <div class="foodAllergy" *ngFor="let food of feedingForm.get('food_allergy_intolerance').value;"
          id="food_allergy_intolerance">
          <span>{{food | foodAllergy}}</span>
        </div>
      </div>
    </div>

  </form>

  <div class="d-flex flex-row-reverse">
    <div class="p-2"><small class="pull-right">Data do registro:
        {{feedingForm.get('created_at').value | myDate }}</small></div>
  </div>

  <div class="row">
    <!-- Botões Anterior e Próximo -->
    <div class="container" *ngIf="listFeeding.length>1">
      <div class="row">
        <div class="col align-self-start">
          <button mat-raised-button type="button" class="btn btn-white btn-round btn-just-icon" title="Anterior"
            (click)="prev()" [disabled]="!index">
            <i class="material-icons">arrow_back</i>
          </button>
        </div>

        <div class="col align-self-end">
          <button mat-raised-button type="button" class="btn btn-white btn-round btn-just-icon pull-right"
            (click)="next()" title="Próximo" [disabled]="index == listFeeding.length-1">
            <i class="material-icons">arrow_forward</i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="listFeeding.length==0">
    <span class="badge badge-danger badge-12">Nenhum hábito alimentar cadastrado!</span>
  </div>

</haniot-card>