<haniot-card [title]="'HABITS.SOCIO-DEMOGRAPHIC.TITLE'|translate"
             [subtitle]="'HABITS.SOCIO-DEMOGRAPHIC.SUBTITLE'|translate">
    <form [formGroup]="socioDemographicForm">

        <div class="row justify-content-md-center">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="card card-stats ">
                    <div class="card-header card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">insert_emoticon</i>
                        </div>
                        <br>
                        <p class="card-category">{{'HABITS.SOCIO-DEMOGRAPHIC.COLOR-RACE'|translate}}:</p>
                        <h4 class="card-title">{{socioDemographicForm.get('color_race').value | translate}} </h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="card card-stats ">
                    <div class="card-header card-header-icon">
                        <div class="card-icon">
                            <img src="../../../../assets/img/haniot/schoolarity.png" alt="">
                        </div>
                        <br>
                        <p class="card-category">{{'HABITS.SOCIO-DEMOGRAPHIC.MOTHER-EDUCATION'|translate}}:</p>
                        <h4 class="card-title">{{socioDemographicForm.get('mother_scholarity').value | motherSchoolarity | translate}}</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="card card-stats ">
                    <div class="card-header card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">people</i>
                        </div>
                        <br>
                        <p class="card-category">{{'HABITS.SOCIO-DEMOGRAPHIC.NUMBER-PEOPLE-HOME'|translate}}:</p>
                        <h4 class="card-title">{{socioDemographicForm.get('people_in_home').value}}</h4>
                    </div>
                </div>
            </div>
        </div>

    </form>
    <div class="d-flex flex-row-reverse">
        <div class="p-2">
            <small class="pull-right"
                   *ngIf="socioDemographicForm.get('created_at').value">{{'HABITS.REGISTER-DATE'|translate}}:
                {{socioDemographicForm.get('created_at').value | myDate }}</small>
            <small class="pull-right"
                   *ngIf="!socioDemographicForm.get('created_at').value">{{'MEASUREMENTS.LAST-REGISTER-DATE'|translate}}
                : {{'MEASUREMENTS.PATTERN-DATE'|translate}}</small>
        </div>
    </div>
    <div class="row">
        <!-- Botões Anterior e Próximo -->
        <div class="container" *ngIf="listSocioDemographic.length>1">
            <div class="row">
                <div class="col align-self-start">
                    <button mat-raised-button type="button" class="btn btn-white btn-round btn-just-icon"
                            [title]="'HABITS.PREVIOUS'|translate"
                            (click)="prev()" [disabled]="!index">
                        <i class="material-icons">arrow_back</i>
                    </button>
                </div>

                <div class="col align-self-end">
                    <button mat-raised-button type="button" class="btn btn-white btn-round btn-just-icon pull-right"
                            (click)="next()" [title]="'HABITS.NEXT'|translate"
                            [disabled]="index == listSocioDemographic.length-1">
                        <i class="material-icons">arrow_forward</i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="listSocioDemographic.length==0">
        <span class="badge badge-danger badge-12">{{'HABITS.SLEEP.UNAVAILABLE-DATA'|translate}}</span>
    </div>
</haniot-card>
