<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <haniot-card
                        [title]="pilotStudyId?('PILOT-STUDY.CARD-PILOTSTUDIES.TITLE-EDIT'|translate):('PILOT-STUDY.CARD-PILOTSTUDIES.TITLE-CREATE'|translate)"
                        [subtitle]="'PILOT-STUDY.CARD-PILOTSTUDIES.SUBTITLE'|translate">
                    <form [formGroup]="pilotStudyForm">

                        <div class="divSpinner"
                             *ngIf="pilotStudyId && !pilotStudyForm.get('id').value">
                            <spinner></spinner>
                        </div>

                        <div class="row">
                            <div class="form-group has-feedback col-sm-12 col-md-6" [ngClass]="{'has-success': pilotStudyForm.controls.name.valid,
          'has-error': pilotStudyForm.controls.name.invalid && (pilotStudyForm.controls.name.touched || pilotStudyForm.controls.name.dirty)}">
                                <label for="name">
                                    {{'SHARED.NAME'|translate}}:
                                </label>
                                <input class="form-control" type="text" formControlName="name" id="name">
                                <span *ngIf="pilotStudyForm.controls.name.valid"
                                      class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span *ngIf="pilotStudyForm.controls.name.invalid && (pilotStudyForm.controls.name.touched || pilotStudyForm.controls.name.dirty)">
                  <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                  <span class="text-danger">{{'SHARED.INVALID-NAME'|translate}}.</span>
                </span>
                            </div>
                            <div class="form-group has-feedback col-sm-12 col-md-6" [ngClass]="{'has-success': pilotStudyForm.controls.location.valid,
          'has-error': pilotStudyForm.controls.location.invalid && (pilotStudyForm.controls.location.touched || pilotStudyForm.controls.location.dirty)}">
                                <label for="location">
                                    {{'SHARED.LOCAL'|translate}}:
                                </label>
                                <input class="form-control" type="text" formControlName="location" id="location">
                                <span *ngIf="pilotStudyForm.controls.location.valid"
                                      class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span *ngIf="pilotStudyForm.controls.location.invalid && (pilotStudyForm.controls.location.touched || pilotStudyForm.controls.location.dirty)">
                  <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                  <span class="text-danger">{{'SHARED.INVALID-LOCAL'|translate}}.</span>
                </span>
                            </div>

                        </div>

                        <div class="row">
                            <div class="form-group has-feedback col-sm-12 col-md-4 col-lg-4 col-xl-4" [ngClass]="{'has-success': pilotStudyForm.controls.start.valid,
          'has-error': pilotStudyForm.controls.start.invalid && (pilotStudyForm.controls.start.touched || pilotStudyForm.controls.start.dirty)}">
                                <label for="start">
                                    {{'PILOT-STUDY.START'|translate}}:
                                </label>
                                <div class="row">
                                    <div class="col-md-10">
                                        <input matInput [matDatepicker]="pickerStart" class="form-control"
                                               formControlName="start" id="start"
                                               (focus)="pickerStart.open()"
                                               [placeholder]="'PILOT-STUDY.PLACEHOLDER-DATE-START'|translate">
                                    </div>
                                    <div class="col-md-2">
                                        <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                                        <mat-datepicker #pickerStart></mat-datepicker>
                                    </div>
                                </div>
                                <span *ngIf="pilotStudyForm.controls.start.valid"
                                      class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span *ngIf="pilotStudyForm.controls.start.invalid && (pilotStudyForm.controls.start.touched || pilotStudyForm.controls.start.dirty)">
                  <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                  <span class="text-danger">{{'PILOT-STUDY.INVALID-DATE-START'|translate}}.</span>
                </span>
                            </div>


                            <div class="form-group has-feedback col-sm-12 col-md-4 col-lg-4 col-xl-4" [ngClass]="{'has-success': pilotStudyForm.controls.end.valid,
          'has-error': pilotStudyForm.controls.end.invalid && (pilotStudyForm.controls.end.touched || pilotStudyForm.controls.end.dirty)}">
                                <label for="end">
                                    {{'PILOT-STUDY.END'|translate}}:
                                </label>
                                <div class="row">
                                    <div class="col-md-10">
                                        <input matInput class="form-control" [matDatepicker]="pickerEnd"
                                               (focus)="pickerEnd.open()"
                                               [min]="pilotStudyForm.get('start').value" formControlName="end"
                                               id="end" [placeholder]="'PILOT-STUDY.PLACEHOLDER-DATE-END'|translate">
                                    </div>
                                    <div class="col-md-2">
                                        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                                        <mat-datepicker #pickerEnd></mat-datepicker>
                                    </div>
                                </div>
                                <span *ngIf="pilotStudyForm.controls.end.valid"
                                      class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span *ngIf="pilotStudyForm.controls.end.invalid && (pilotStudyForm.controls.end.touched || pilotStudyForm.controls.end.dirty)">
                  <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                  <span class="text-danger">{{'PILOT-STUDY.INVALID-DATE-END'|translate}}.</span>
                </span>
                            </div>
                            <div class="form-group has-feedback col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                <label for="end">
                                    {{'PILOT-STUDY.SITUATION'|translate}}:
                                </label>
                                <div class="container row justify-content-center">
                                    <mat-slide-toggle class="example-margin" [color]="color" formControlName="is_active"
                                                      id="is_active">
                                        {{pilotStudyForm.controls.is_active.value | pilotStudySituation | translate}}
                                    </mat-slide-toggle>
                                </div>
                            </div>
                        </div>

                        <div class="row" *ngIf="pilotStudyForm && pilotStudyForm.get('id').value">
                            <div class="form-group has-feedback col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                <label>
                                    {{'PILOT-STUDY.CARD-PILOT-STUDY.TOTAL-PROFESSIONALS'|translate}}:
                                    <label class="label-description">{{pilotStudyForm.get('total_health_professionals').value}}</label>
                                </label>
                            </div>
                            <div class="form-group has-feedback col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                <label>
                                    {{'PILOT-STUDY.CARD-PILOT-STUDY.TOTAL-PATIENTS'|translate}}:
                                    <label class="label-description">{{pilotStudyForm.get('total_patients').value}}</label>
                                </label>
                            </div>
                        </div>


                        <pilot-study-config
                                [dataTypes]="pilotStudyForm.get('data_types').value"
                                (change)="updateDataTypes($event)">

                        </pilot-study-config>


                        <div class="d-flex justify-content-end">
                            <div class="p-2">
                                <button type="button" class="btn btn-haniot-primary" (click)="onSubmit()"
                                        [disabled]="!pilotStudyForm.valid">
                                    {{'SHARED.SAVE'|translate}}
                                </button>
                            </div>
                        </div>

                    </form>
                </haniot-card>
            </div>

            <!-- Gerenciar profissionais de saude no estudo piloto -->
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6" *ngIf="pilotStudyId">
                <haniot-card [title]="'PILOT-STUDY.MANAGE-PROFESSIONALS.TITLE'|translate"
                             [subtitle]="'PILOT-STUDY.MANAGE-PROFESSIONALS.SUBTITLE'|translate">
                    <form [formGroup]="professionalsForm">
                        <div class="row container">
                            <div class="form-group has-feedback col-sm-8 col-md-8">
                                <mat-form-field>
                                    <mat-label>{{'PILOT-STUDY.MANAGE-PROFESSIONALS.ADDPROFESSIONAL'|translate}}:
                                    </mat-label>
                                    <mat-select formControlName="health_professionals_id_add"
                                                name="health_professionals_id_add" id="health_professionals_id_add">
                                        <mat-option
                                                *ngIf="professionalsNotAssociatedIsEmpty">
                                            {{'PILOT-STUDY.MANAGE-PROFESSIONALS.NONE-PROFESSIONAL'|translate}}
                                        </mat-option>
                                        <mat-option
                                                *ngIf="!professionalsNotAssociated && !professionalsNotAssociatedIsEmpty">
                                            {{'SHARED.LOADING'|translate}}
                                        </mat-option>
                                        <mat-option *ngFor="let prof of professionalsNotAssociated;trackBy: trackById"
                                                    [value]="prof.id">{{prof.name}}
                                            , {{prof.health_area | healthArea | translate}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-4 col-md-4">
                                <button type="button" class="btn btn-haniot-primary btn-block btn-sm ellipsis"
                                        (click)="addProfessionalInStudy()"
                                        [disabled]="!professionalsForm.valid">
                                    {{'SHARED.ADD'|translate}}
                                </button>
                            </div>

                        </div>
                    </form>

                    <!-- Form para gerenciar profissionais de saude no estudo piloto -->
                    <div class="form-group table-responsive form-manager">
                        <label>{{'PILOT-STUDY.MANAGE-PROFESSIONALS.ASSOCIATE-PROFESSIONALS'|translate}}:</label>
                        <table class="table table-sm table-hover">
                            <thead>
                            <tr>
                                <th>{{'SHARED.NAME'|translate}}</th>
                                <th>{{'SHARED.AREA'|translate}}</th>
                                <th>{{'PILOT-STUDY.MANAGE-PROFESSIONALS.REMOVE'|translate}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngIf="professionalsAssociated.length==0">
                                <td colspan="7" *ngIf="!listOfProfessionalIsEmpty">
                                    <spinner [message]="'HEALTHPROFESSIONALS.SPINNER-MESSAGE'|translate"></spinner>
                                </td>
                                <td colspan="7" *ngIf="listOfProfessionalIsEmpty">
                                    <div class="container">
                                        <div class="row justify-content-center">
                                            <div class="bg-no-patient"></div>
                                        </div>
                                        <label>{{'HEALTHPROFESSIONALS.LIST-EMPTY'|translate}}.</label>
                                    </div>
                                </td>
                            </tr>
                            <tr *ngFor="let professional of professionalsAssociated; index as i;trackBy: trackById">
                                <td>{{professional.name}}</td>
                                <td>{{professional.health_area | healthArea | translate}}</td>
                                <td>
                                    <a class="nav-link" (click)="openConfirmationRemoveProfessional(professional.id)"
                                       [title]="'PILOT-STUDY.MANAGE-PROFESSIONALS.DISASSOCIATE-PROFESSIONAL'|translate">
                                        <i class="material-icons">close</i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>


                    </div>
                </haniot-card>
            </div>

            <!-- Gerenciar pacientes no estudo piloto -->
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6" *ngIf="pilotStudyId">
                <haniot-card [title]="'PILOT-STUDY.MANAGE-PATIENTS.TITLE'|translate"
                             [subtitle]="'PILOT-STUDY.MANAGE-PATIENTS.SUBTITLE'|translate">
                    <form [formGroup]="patientForm">
                        <div class="row container">
                            <div class="form-group has-feedback col-sm-8 col-md-8">
                                <mat-form-field>
                                    <mat-label>{{'PILOT-STUDY.MANAGE-PATIENTS.ADDPATIENT'|translate}}:
                                    </mat-label>
                                    <mat-select formControlName="patients_id_add"
                                                name="patients_id_add" id="patients_id_add">
                                        <mat-option
                                                *ngIf="patientsNotAssociatedIsEmpty">
                                            {{'PILOT-STUDY.MANAGE-PATIENTS.NONE-PATIENT'|translate}}
                                        </mat-option>
                                        <mat-option *ngIf="!patientsNotAssociated && !patientsNotAssociatedIsEmpty">
                                            {{'SHARED.LOADING'|translate}}
                                        </mat-option>
                                        <mat-option *ngFor="let patient of patientsNotAssociated;trackBy: trackById"
                                                    [value]="patient.id">{{patient.name}},
                                            {{patient.gender | gender | translate}} -
                                            {{patient.birth_date | date}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-4 col-md-4">
                                <button type="button" class="btn btn-haniot-primary btn-block btn-sm ellipsis"
                                        (click)="addPatientInStudy()"
                                        [disabled]="!patientForm.valid">
                                    {{'SHARED.ADD'|translate}}
                                </button>
                            </div>

                        </div>
                    </form>

                    <!-- Form para gerenciar pacientes no estudo piloto -->
                    <div class="form-group table-responsive form-manager">
                        <label>{{'PILOT-STUDY.MANAGE-PATIENTS.ASSOCIATE-PATIENTS'|translate}}:</label>
                        <table class="table table-sm table-hover">
                            <thead>
                            <tr>
                                <th>{{'SHARED.NAME'|translate}}</th>
                                <th>{{'SHARED.GENDER'|translate}}</th>
                                <th>{{'SHARED.BIRTH-DATE'|translate}}</th>
                                <th>{{'PILOT-STUDY.MANAGE-PATIENTS.REMOVE'|translate}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngIf="patientsAssociated.length==0">
                                <td colspan="7" *ngIf="!listOfPatientsIsEmpty">
                                    <spinner [message]="'DASHBOARD.CARD-PATIENTS.SPINNER-MESSAGE'|translate"></spinner>
                                </td>
                                <td colspan="7" *ngIf="listOfPatientsIsEmpty">
                                    <div class="container">
                                        <div class="row justify-content-center">
                                            <div class="bg-no-patient"></div>
                                        </div>
                                        <label>{{'PATIENTS.PATIENTS-TABLE.LIST-EMPTY'|translate}}.</label>
                                    </div>
                                </td>
                            </tr>
                            <tr *ngFor="let patient of patientsAssociated; index as i;trackBy: trackById">
                                <td>{{patient.name}}</td>
                                <td>{{patient.gender | gender | translate}}</td>
                                <td>{{patient.birth_date | date}}</td>
                                <td>
                                    <a class="nav-link" (click)="openConfirmationRemovePatient(patient.id)"
                                       [title]="'PILOT-STUDY.MANAGE-PATIENTS.DISASSOCIATE-PATIENT'|translate">
                                        <i class="material-icons">close</i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>


                    </div>
                </haniot-card>
            </div>

        </div>
    </div>
</div>

<modal-confirmation [id]="'confirmRemovePatient'" [message]="'Tem certeza que deseja remover paciente?'"
                    (confirmation)="dissociatePatient()"
                    (close)="closeAndCleanConfirmationRemovePatient()"></modal-confirmation>

<modal-confirmation [id]="'confirmRemoveProfessional'" [message]="'Tem certeza que deseja remover profissional?'"
                    (confirmation)="dissociateHealthProfessional()"
                    (close)="closeAndCleanConfirmationRemoveProfessional()"></modal-confirmation>

<div *ngIf="removing">
    <div class="externa">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                                <spinner [message]="'PILOT-STUDY.REMOVING'|translate"></spinner>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Fundo preto do modal-->
    <div class="modal-backdrop show">
    </div>
</div>
