<haniot-card [title]="'Gordura corporal'" subtitle=''>

  <div class="row">

    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-3 align-self-center">
      <div class="card card-stats">
        <div class="card-header card-header-timer card-header-icon">
          <div class="card-icon">
            <img src="../../../../assets/img/haniot/fat.png" alt="">
          </div>
          <p class="card-category">Último registro: </p>
          <h3 class="card-title" *ngIf="lastData">
            {{lastData.value }}
            <small>{{lastData.unit }}</small>
          </h3>
          <h3 class="card-title" *ngIf="!lastData">
            Valor
            <small>unidade</small>
          </h3>
        </div>

      </div>
      <div class="d-flex flex-row-reverse">
        <div class="p-2">
          <small class="pull-right" *ngIf="lastData">Data do último registro:{{lastData.timestamp | myDate}}</small>
          <small class="pull-right" *ngIf="!lastData">Data do último registro: dia/mês/ano horário</small>
        </div>
      </div>
    </div>


    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-9 align-self-center" [ts-chart]="option"></div>


  </div>

</haniot-card>