<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <haniot-card [title]="'HEALTHPROFESSIONALS.TITLE'|translate"
                             [subtitle]="'HEALTHPROFESSIONALS.SUBTITLE'|translate">
                    <haniot-table [(list)]="healthProfessionals" (onremove)="getAllHealthProfessionals()"
                                  (onedit)="editUser($event)" [userType]="'HealthProfessional'"
                                  (pagination)="paginationEvent($event)"
                                  [length]="length" [listOfUserIsEmpty]="listIsEmpty" [pageSize]="limit"></haniot-table>
                </haniot-card>
            </div>
            <div class="col-md">
                <button type="submit" class="btn btn-haniot-primary" (click)="openModal()">
                    {{'SHARED.ADD' | translate}}
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
    </div>
</div>

<haniot-modal [modalId]="'modalUser'">
    <modal-user [title]="'HEALTHPROFESSIONALS.TITLE-ADD'|translate" (onsubmit)="createHealthProfessinal($event)"
                    [typeUser]="typeUser"></modal-user>
</haniot-modal>

<haniot-modal [modalId]="'modalUserEdit'">
    <modal-user [title]="'HEALTHPROFESSIONALS.TITLE-EDIT'|translate" (onsubmit)="editHealthProfessinal($event)"
                    [typeUser]="typeUser" [userId]="userEdit.id" (onclose)="cleanUser()"></modal-user>
</haniot-modal>
