<haniot-card [title]="'MEASUREMENTS.HEIGHT.TITLE'|translate" [subtitle]="'MEASUREMENTS.HEIGHT.SUBTITLE'|translate">

    <div class="row">

        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-3 align-self-center">
            <div class="card card-stats">
                <div class="card-header card-header-timer card-header-icon">
                    <div class="card-icon">
                        <img src="../../../../assets/img/haniot/height.png" alt="">
                    </div>
                    <p class="card-category">{{'MEASUREMENTS.LAST-REGISTER'|translate}}: </p>
                    <h3 class="card-title" *ngIf="lastData">
                        {{lastData.value }}
                        <small>{{lastData.unit }}</small>
                    </h3>
                    <h3 class="card-title" *ngIf="!lastData">
                        {{'MEASUREMENTS.VALUE'|translate}}
                        <small>{{'MEASUREMENTS.UNIT'|translate}}</small>
                    </h3>
                </div>

            </div>
            <div class="d-flex flex-row-reverse">
                <div class="p-2">
                    <small class="pull-right" *ngIf="lastData">
                        {{'MEASUREMENTS.LAST-REGISTER-DATE'|translate}}:{{lastData.timestamp | myDate}}</small>
                    <small class="pull-right" *ngIf="!lastData">{{'MEASUREMENTS.LAST-REGISTER-DATE'|translate}}
                        : {{'MEASUREMENTS.PATTERN-DATE'|translate}}</small>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-9 align-self-center echarts-div-graph" echarts
             [options]="options"></div>

        <div *ngIf="data.length==0">
            <span class="badge badge-danger badge-12 ellipsis">{{'MEASUREMENTS.HEIGHT.UNAVAILABLE-DATA'|translate}}</span>
        </div>
    </div>

</haniot-card>
