<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">

                <div *ngIf="typeOfMeasurement === allTypesOfMeasurement.WEIGHT">
                    <weight [data]="list" [filterVisibility]="true" [patientId]="patientId"
                            [includeCard]="true" [showSpinner]="!list.length && !listIsEmpty"
                            (filterChange)="changeFilter($event)"></weight>
                </div>

                <div *ngIf="typeOfMeasurement === allTypesOfMeasurement.BODY_FAT">
                    <fat [data]="list" [filterVisibility]="true" [patientId]="patientId"
                         [includeCard]="true" [showSpinner]="!list.length && !listIsEmpty"></fat>
                </div>

                <div *ngIf="typeOfMeasurement === allTypesOfMeasurement.HEIGHT">
                    <height [data]="list" [filterVisibility]="true" [patientId]="patientId"
                            [includeCard]="true" [showSpinner]="!list.length && !listIsEmpty"></height>
                </div>

                <div *ngIf="typeOfMeasurement === allTypesOfMeasurement.WAIST_CIRCUMFERENCE">
                    <waist-circunference [data]="list" [filterVisibility]="true" [patientId]="patientId"
                                         [includeCard]="true"
                                         [showSpinner]="!list.length && !listIsEmpty"></waist-circunference>
                </div>

                <div *ngIf="typeOfMeasurement === allTypesOfMeasurement.BODY_TEMPERATURE">
                    <body-temperature [data]="list" [filterVisibility]="true" [patientId]="patientId"
                                      [includeCard]="true"
                                      [showSpinner]="!list.length && !listIsEmpty"></body-temperature>
                </div>

                <div *ngIf="typeOfMeasurement === allTypesOfMeasurement.BLOOD_GLUCOSE">
                    <blood-glucose [data]="list" [filterVisibility]="true" [patientId]="patientId"
                                   [includeCard]="true" [showSpinner]="!list.length && !listIsEmpty"></blood-glucose>
                </div>

                <div *ngIf="typeOfMeasurement === allTypesOfMeasurement.BLOOD_PRESSURE">
                    <blood-pressure [data]="list" [filterVisibility]="true" [patientId]="patientId"
                                    [includeCard]="true" [showSpinner]="!list.length && !listIsEmpty"></blood-pressure>
                </div>

<!--                <div *ngIf="typeOfMeasurement === allTypesOfMeasurement.sleep">-->
<!--                    <sleep [data]="list" [filterVisibility]="true" [patientId]="patientId"-->
<!--                           [includeCard]="true" [showSpinner]="!list.length && !listIsEmpty"></sleep>-->
<!--                </div>-->

<!--                <div *ngIf="typeOfMeasurement === allTypesOfMeasurement.heart_rate">-->
<!--                    <heart-rate [data]="list" [filterVisibility]="true" [patientId]="patientId"-->
<!--                                [includeCard]="true" [showSpinner]="!list.length && !listIsEmpty"></heart-rate>-->
<!--                </div>-->

            </div>

<!--            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">-->

<!--                <haniot-card [title]="'MEASUREMENTS.LOG-MEASUREMENTS-CARD.TITLE'|translate"-->
<!--                             [subtitle]="'MEASUREMENTS.LOG-MEASUREMENTS-CARD.SUBTITLE'|translate">-->

<!--                    <div class=" text-center"-->
<!--                         id="removeModalConfirmation"-->
<!--                         *ngIf="modalConfirmRemoveMeasurement">-->

<!--                        <div class="" tabindex="-1" data-backdrop="static" role="dialog" aria-hidden="true">-->
<!--                            <div class="modal-dialog modal-lg" role="document">-->
<!--                                <div class="modal-content">-->
<!--                                    <div class="modal-header" *ngIf="!loadingMeasurements">-->
<!--                                        <label>{{'SHARED.COMPONENTS.MODAL-CONFIRMATION.TITLE'|translate}}</label>-->
<!--                                        <button type="button" class="close" aria-label="Close"-->
<!--                                                (click)="closeModalComfimation()">-->
<!--                                            <span aria-hidden="true">&times;</span>-->
<!--                                        </button>-->
<!--                                    </div>-->
<!--                                    <div class="modal-body">-->
<!--                                        <p *ngIf="cacheIdMeasurementRemove !== '' && !loadingMeasurements">-->
<!--                                            {{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.MODAL-REMOVE.CONFIRM-UNIQUE-REMOVE'|translate}}-->
<!--                                        </p>-->
<!--                                        <p *ngIf="cacheIdMeasurementRemove === '' && !loadingMeasurements">-->
<!--                                            {{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.MODAL-REMOVE.CONFIRM-MULTIPLE-REMOVE-PART1'|translate}}-->
<!--                                            {{cacheListIdMeasurementRemove.length}}-->
<!--                                            {{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.MODAL-REMOVE.CONFIRM-MULTIPLE-REMOVE-PART2'|translate}}-->
<!--                                        </p>-->
<!--                                        <spinner-->
<!--                                                [message]="'MEASUREMENTS.LOG-MEASUREMENTS-CARD.MODAL-REMOVE.SPINNER-MESSAGE'|translate"-->
<!--                                                *ngIf="loadingMeasurements"></spinner>-->

<!--                                    </div>-->
<!--                                    <div class="modal-footer" *ngIf="!loadingMeasurements">-->
<!--                                        <button type="button" class="btn btn-haniot-secondary btn-sm"-->
<!--                                                (click)="closeModalComfimation()">{{'SHARED.COMPONENTS.MODAL-CONFIRMATION.NO'|translate}}</button>-->
<!--                                        <button type="button" class="btn btn-haniot-primary btn-sm"-->
<!--                                                (click)="removeMeasurement()">{{'SHARED.COMPONENTS.MODAL-CONFIRMATION.YES'|translate}}</button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->

<!--                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 row">-->

<!--                        <div class="col-sm-4">-->
<!--                            <mat-checkbox [(ngModel)]="selectAll" (click)="selectAllMeasurements()"-->
<!--                                          [disabled]="!list.length">-->
<!--                                {{'EVALUATION.NUTRITION-EVALUATION.CARD-NUTRITION.SELECT-ALL'|translate}}-->
<!--                            </mat-checkbox>-->
<!--                        </div>-->
<!--                        <div class="col d-flex flex-row-reverse">-->
<!--                            <div class="p-2">-->
<!--                                <button type="button" class="btn btn-haniot-primary btn-sm" (click)="removeSelected()"-->
<!--                                        [disabled]="!stateButtonRemoveSelected">-->
<!--                                    {{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.REMOVE-SELECTED'|translate}}-->
<!--                                </button>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->

<!--                    &lt;!&ndash; Generic table&ndash;&gt;-->
<!--                    <table class="table table-hover table-sm"-->
<!--                           *ngIf="(typeOfMeasurement !== allTypesOfMeasurement.weight) &&-->
<!--                                  (typeOfMeasurement !== allTypesOfMeasurement.blood_glucose) &&-->
<!--                                  (typeOfMeasurement !== allTypesOfMeasurement.blood_pressure) &&-->
<!--                                  (typeOfMeasurement !== allTypesOfMeasurement.heart_rate)">-->
<!--                        <thead>-->
<!--                        <th>#</th>-->
<!--                        <th>{{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.GENERIC-TABLE.VALUE'|translate}}</th>-->
<!--                        <th>{{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.GENERIC-TABLE.COLLECTION-DATE'|translate}}</th>-->
<!--                        <th>{{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.GENERIC-TABLE.ACTIONS'|translate}}</th>-->
<!--                        </thead>-->
<!--                        <tbody>-->
<!--                        <tr *ngIf="list.length==0">-->
<!--                            <td colspan="4" *ngIf="!listIsEmpty">-->
<!--                                <spinner-->
<!--                                        [message]="'MEASUREMENTS.LOG-MEASUREMENTS-CARD.LOADING-MEASUREMENTS'|translate"></spinner>-->
<!--                            </td>-->
<!--                            <td colspan="4" *ngIf="listIsEmpty">-->
<!--                                <h4>{{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.LIST-EMPTY'|translate}}-->
<!--                                    <br>-->
<!--                                    <small>{{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.LIST-EMPTY-MESSAGE'|translate}}</small>-->
<!--                                </h4>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        <tr *ngFor="let measurement of list; let i= index; trackBy: trackById">-->
<!--                            <td>-->
<!--                                <mat-checkbox (change)="changeOnMeasurement()"-->
<!--                                              [(ngModel)]="listCheckMeasurements[i]"></mat-checkbox>-->
<!--                            </td>-->
<!--                            <td>-->
<!--                                {{(measurement.value | decimalFormatter) + '' + measurement.unit}}-->
<!--                            </td>-->
<!--                            <td>-->
<!--                                {{measurement.timestamp | date : "mediumDate"}}-->
<!--                                {{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.GENERIC-TABLE.AT'|translate}}-->
<!--                                {{measurement.timestamp | date : "shortTime"}}-->
<!--                            </td>-->
<!--                            <td>-->
<!--                                <a class="nav-link"-->
<!--                                   [title]="'MEASUREMENTS.LOG-MEASUREMENTS-CARD.DELETE-MEASUREMENT'|translate"-->
<!--                                   (click)="openModalConfirmation(measurement.id)">-->
<!--                                    <i class="material-icons">delete</i>-->
<!--                                </a>-->
<!--                            </td>-->
<!--                        </tr>-->

<!--                        </tbody>-->
<!--                    </table>-->

<!--                    &lt;!&ndash; Table for type weight&ndash;&gt;-->
<!--                    <table class="table table-hover table-sm"-->
<!--                           *ngIf="typeOfMeasurement === allTypesOfMeasurement.weight">-->
<!--                        <thead>-->
<!--                        <th>#</th>-->
<!--                        <th>{{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.WEIGHT-TABLE.WEIGHT'|translate}}</th>-->
<!--                        <th>{{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.WEIGHT-TABLE.BODY-FAT'|translate}}</th>-->
<!--                        <th>{{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.GENERIC-TABLE.COLLECTION-DATE'|translate}}</th>-->
<!--                        <th>{{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.GENERIC-TABLE.ACTIONS'|translate}}</th>-->
<!--                        </thead>-->
<!--                        <tbody>-->
<!--                        <tr *ngIf="list.length==0">-->
<!--                            <td colspan="5" *ngIf="!listIsEmpty">-->
<!--                                <spinner-->
<!--                                        [message]="'MEASUREMENTS.LOG-MEASUREMENTS-CARD.LOADING-MEASUREMENTS'|translate"></spinner>-->
<!--                            </td>-->
<!--                            <td colspan="5" *ngIf="listIsEmpty">-->
<!--                                <h4>{{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.LIST-EMPTY'|translate}}-->
<!--                                    <br>-->
<!--                                    <small>{{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.LIST-EMPTY-MESSAGE'|translate}}</small>-->
<!--                                </h4>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        <tr *ngFor="let measurement of list;let i= index; trackBy: trackById">-->
<!--                            <td>-->
<!--                                <mat-checkbox (change)="changeOnMeasurement()"-->
<!--                                              [(ngModel)]="listCheckMeasurements[i]"></mat-checkbox>-->
<!--                            </td>-->
<!--                            <td>-->
<!--                                {{(measurement.value | decimalFormatter) + '' + measurement.unit}}-->
<!--                            </td>-->
<!--                            <td>-->
<!--                                <span *ngIf="measurement.fat">{{measurement.fat.value + '' + measurement.fat.unit}}</span>-->
<!--                                <span *ngIf="!measurement.fat">{{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.WEIGHT-TABLE.NOT-COLLECTED'|translate}}</span>-->
<!--                            </td>-->
<!--                            <td>-->
<!--                                {{measurement.timestamp | date : "mediumDate"}}-->
<!--                                {{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.GENERIC-TABLE.AT'|translate}}-->
<!--                                {{measurement.timestamp | date : "shortTime"}}-->
<!--                            </td>-->
<!--                            <td>-->
<!--                                <a class="nav-link"-->
<!--                                   [title]="'MEASUREMENTS.LOG-MEASUREMENTS-CARD.DELETE-MEASUREMENT'|translate"-->
<!--                                   (click)="openModalConfirmation(measurement.id)">-->
<!--                                    <i class="material-icons">delete</i>-->
<!--                                </a>-->
<!--                            </td>-->
<!--                        </tr>-->

<!--                        </tbody>-->
<!--                    </table>-->

<!--                    &lt;!&ndash; Table for type blood_glucose&ndash;&gt;-->
<!--                    <table class="table table-hover table-sm"-->
<!--                           *ngIf="typeOfMeasurement === allTypesOfMeasurement.blood_glucose">-->
<!--                        <thead>-->
<!--                        <th>#</th>-->
<!--                        <th>{{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.GENERIC-TABLE.VALUE'|translate}}</th>-->
<!--                        <th>{{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.GLUCOSE-TABLE.MEAL'|translate}}</th>-->
<!--                        <th>{{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.GENERIC-TABLE.COLLECTION-DATE'|translate}}</th>-->
<!--                        <th>{{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.GENERIC-TABLE.ACTIONS'|translate}}</th>-->
<!--                        </thead>-->
<!--                        <tbody>-->
<!--                        <tr *ngIf=" list.length==0">-->
<!--                            <td colspan="5" *ngIf="!listIsEmpty">-->
<!--                                <spinner-->
<!--                                        [message]="'MEASUREMENTS.LOG-MEASUREMENTS-CARD.LOADING-MEASUREMENTS'|translate"></spinner>-->
<!--                            </td>-->
<!--                            <td colspan="5" *ngIf="listIsEmpty">-->
<!--                                <h4>{{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.LIST-EMPTY'|translate}}-->
<!--                                    <br>-->
<!--                                    <small>{{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.LIST-EMPTY-MESSAGE'|translate}}</small>-->
<!--                                </h4>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        <tr *ngFor="let measurement of list;let i= index; trackBy: trackById">-->
<!--                            <td>-->
<!--                                <mat-checkbox (change)="changeOnMeasurement()"-->
<!--                                              [(ngModel)]="listCheckMeasurements[i]"></mat-checkbox>-->
<!--                            </td>-->
<!--                            <td>-->
<!--                                {{measurement.value + '' + measurement.unit}}-->
<!--                            </td>-->
<!--                            <td>-->
<!--                                {{measurement.meal | meal | translate}}-->
<!--                            </td>-->
<!--                            <td>-->
<!--                                {{measurement.timestamp | date : "mediumDate"}}-->
<!--                                {{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.GENERIC-TABLE.AT'|translate}}-->
<!--                                {{measurement.timestamp | date : "shortTime"}}-->
<!--                            </td>-->
<!--                            <td>-->
<!--                                <a class="nav-link"-->
<!--                                   [title]="'MEASUREMENTS.LOG-MEASUREMENTS-CARD.DELETE-MEASUREMENT'|translate"-->
<!--                                   (click)="openModalConfirmation(measurement.id)">-->
<!--                                    <i class="material-icons">delete</i>-->
<!--                                </a>-->
<!--                            </td>-->
<!--                        </tr>-->

<!--                        </tbody>-->
<!--                    </table>-->

<!--                    &lt;!&ndash; Table for type blood_pressure&ndash;&gt;-->
<!--                    <table class="table table-hover table-sm"-->
<!--                           *ngIf="typeOfMeasurement === allTypesOfMeasurement.blood_pressure">-->
<!--                        <thead>-->
<!--                        <th></th>-->
<!--                        <th>{{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.PRESSURE-TABLE.PRESSURE'|translate}}</th>-->
<!--                        <th>{{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.PRESSURE-TABLE.PULSE'|translate}}</th>-->
<!--                        <th>{{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.GENERIC-TABLE.COLLECTION-DATE'|translate}}</th>-->
<!--                        <th>{{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.GENERIC-TABLE.ACTIONS'|translate}}</th>-->
<!--                        </thead>-->
<!--                        <tbody>-->
<!--                        <tr *ngIf="list.length==0">-->
<!--                            <td colspan="7" *ngIf="!listIsEmpty">-->
<!--                                <spinner-->
<!--                                        [message]="'MEASUREMENTS.LOG-MEASUREMENTS-CARD.LOADING-MEASUREMENTS'|translate"></spinner>-->
<!--                            </td>-->
<!--                            <td colspan="7" *ngIf="listIsEmpty">-->
<!--                                <h4>{{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.LIST-EMPTY'|translate}}-->
<!--                                    <br>-->
<!--                                    <small>{{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.LIST-EMPTY-MESSAGE'|translate}}</small>-->
<!--                                </h4>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        <tr *ngFor="let measurement of list;let i= index; trackBy: trackById">-->
<!--                            <td>-->
<!--                                <mat-checkbox (change)="changeOnMeasurement()"-->
<!--                                              [(ngModel)]="listCheckMeasurements[i]"></mat-checkbox>-->
<!--                            </td>-->
<!--                            <td>-->
<!--                                {{measurement.systolic + '/' + measurement.diastolic + '' + measurement.unit}}-->
<!--                            </td>-->
<!--                            <td>-->
<!--                                {{measurement.pulse}}bpm-->
<!--                            </td>-->
<!--                            <td>-->
<!--                                {{measurement.timestamp | date : "mediumDate"}}-->
<!--                                {{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.GENERIC-TABLE.AT'|translate}}-->
<!--                                {{measurement.timestamp | date : "shortTime"}}-->
<!--                            </td>-->
<!--                            <td>-->
<!--                                <a class="nav-link"-->
<!--                                   [title]="'MEASUREMENTS.LOG-MEASUREMENTS-CARD.DELETE-MEASUREMENT'|translate"-->
<!--                                   (click)="openModalConfirmation(measurement.id)">-->
<!--                                    <i class="material-icons">delete</i>-->
<!--                                </a>-->
<!--                            </td>-->
<!--                        </tr>-->

<!--                        </tbody>-->
<!--                    </table>-->

<!--                    &lt;!&ndash; Table for type heart_rate&ndash;&gt;-->
<!--                    <table class="table table-hover table-sm"-->
<!--                           *ngIf="typeOfMeasurement === allTypesOfMeasurement.heart_rate">-->
<!--                        <thead>-->
<!--                        <th>#</th>-->
<!--                        <th>{{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.HEART-RATE-TABLE.DATASET'|translate}}</th>-->
<!--                        <th>{{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.GENERIC-TABLE.COLLECTION-DATE'|translate}}</th>-->
<!--                        <th>{{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.GENERIC-TABLE.ACTIONS'|translate}}</th>-->
<!--                        </thead>-->
<!--                        <tbody>-->
<!--                        <tr *ngIf="list.length==0">-->
<!--                            <td colspan="4" *ngIf="!listIsEmpty">-->
<!--                                <spinner-->
<!--                                        [message]="'MEASUREMENTS.LOG-MEASUREMENTS-CARD.LOADING-MEASUREMENTS'|translate"></spinner>-->
<!--                            </td>-->
<!--                            <td colspan="4" *ngIf="listIsEmpty">-->
<!--                                <h4>{{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.LIST-EMPTY'|translate}}-->
<!--                                    <br>-->
<!--                                    <small>{{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.LIST-EMPTY-MESSAGE'|translate}}</small>-->
<!--                                </h4>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        <tr *ngFor="let measurement of list;let i= index; trackBy: trackById">-->
<!--                            <td>-->
<!--                                <mat-checkbox (change)="changeOnMeasurement()"-->
<!--                                              [(ngModel)]="listCheckMeasurements[i]"></mat-checkbox>-->
<!--                            </td>-->
<!--                            <td>-->
<!--                                <span class="badge badge-haniot"-->
<!--                                      *ngFor="let heartRate of measurement.dataset">{{heartRate.value}}-->
<!--                                    {{measurement.unit}}-->
<!--                                    </span>-->
<!--                            </td>-->
<!--                            <td>-->
<!--                                <span *ngIf="measurement.dataset && measurement.dataset.length">-->
<!--                                    {{measurement.dataset[0].timestamp | date :"mediumDate" }}-->
<!--                                    {{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.GENERIC-TABLE.AT'|translate}}-->
<!--                                    {{measurement.dataset[0].timestamp | date : "shortTime"}}-->
<!--                                </span>-->
<!--                            </td>-->
<!--                            <td>-->
<!--                                <a class="nav-link"-->
<!--                                   [title]="'MEASUREMENTS.LOG-MEASUREMENTS-CARD.DELETE-MEASUREMENT'|translate"-->
<!--                                   (click)="openModalConfirmation(measurement.id)">-->
<!--                                    <i class="material-icons">delete</i>-->
<!--                                </a>-->
<!--                            </td>-->
<!--                        </tr>-->

<!--                        </tbody>-->
<!--                    </table>-->

<!--                    <mat-paginator [length]="length" [pageSize]="limit" [pageSizeOptions]="pageSizeOptions"-->
<!--                                   (page)="clickPagination($event)">-->
<!--                    </mat-paginator>-->

<!--                </haniot-card>-->

<!--            </div>-->

            <!--            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center"-->
            <!--                 id="removeModalConfirmation"-->
            <!--                 *ngIf="modalConfirmRemoveMeasurement">-->

            <!--                <div class="" tabindex="-1" data-backdrop="static" role="dialog" aria-hidden="true">-->
            <!--                    <div class="modal-dialog modal-lg" role="document">-->
            <!--                        <div class="modal-content">-->
            <!--                            <div class="modal-header" *ngIf="!loadingMeasurements">-->
            <!--                                <label>{{'SHARED.COMPONENTS.MODAL-CONFIRMATION.TITLE'|translate}}</label>-->
            <!--                                <button type="button" class="close" aria-label="Close"-->
            <!--                                        (click)="closeModalComfimation()">-->
            <!--                                    <span aria-hidden="true">&times;</span>-->
            <!--                                </button>-->
            <!--                            </div>-->
            <!--                            <div class="modal-body">-->
            <!--                                <p *ngIf="cacheIdMeasurementRemove !== '' && !loadingMeasurements">-->
            <!--                                    {{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.MODAL-REMOVE.CONFIRM-UNIQUE-REMOVE'|translate}}-->
            <!--                                </p>-->
            <!--                                <p *ngIf="cacheIdMeasurementRemove === '' && !loadingMeasurements">-->
            <!--                                    {{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.MODAL-REMOVE.CONFIRM-MULTIPLE-REMOVE-PART1'|translate}}-->
            <!--                                    {{cacheListIdMeasurementRemove.length}}-->
            <!--                                    {{'MEASUREMENTS.LOG-MEASUREMENTS-CARD.MODAL-REMOVE.CONFIRM-MULTIPLE-REMOVE-PART2'|translate}}-->
            <!--                                </p>-->
            <!--                                <spinner-->
            <!--                                        [message]="'MEASUREMENTS.LOG-MEASUREMENTS-CARD.MODAL-REMOVE.SPINNER-MESSAGE'|translate"-->
            <!--                                        *ngIf="loadingMeasurements"></spinner>-->

            <!--                            </div>-->
            <!--                            <div class="modal-footer" *ngIf="!loadingMeasurements">-->
            <!--                                <button type="button" class="btn btn-haniot-secondary btn-sm"-->
            <!--                                        (click)="closeModalComfimation()">{{'SHARED.COMPONENTS.MODAL-CONFIRMATION.NO'|translate}}</button>-->
            <!--                                <button type="button" class="btn btn-haniot-primary btn-sm"-->
            <!--                                        (click)="removeMeasurement()">{{'SHARED.COMPONENTS.MODAL-CONFIRMATION.YES'|translate}}</button>-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->

            <!--            </div>-->

        </div>
    </div>
</div>
