/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*Styles buttons HANIOT*/

.mat-button.btn, .mat-button.btn.btn-haniot-primary, .mat-raised-button.btn, .mat-raised-button.btn.btn-haniot-primary, .mat-raised-button.btn:not([class*=mat-elevation-z]), .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-haniot-primary, .btn, .btn.btn-haniot-primary {
    color: #fff;
    background-color: #00a594;
    border-color: #00a594;
    -webkit-box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
    box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
}

/* HANIOT PRIMARY BUTTON*/

.btn.btn-haniot-primary:hover {
    color: #fff;
    background-color: #25c5b5;
    border-color: #00a594;
    -webkit-box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
    box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
}

.btn.btn-haniot-primary:disabled {
    color: #fff;
    background-color: #5b5e5e;
    border-color: #2a2b2b;
    -webkit-box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
    box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
}

.btn.btn-haniot-primary:disabled:hover {
    color: #fff;
    background-color: #5b5e5e;
    border-color: #2a2b2b;
    -webkit-box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
    box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
}

/* HANIOT SECONDARY BUTTON*/

.btn.btn-haniot-secondary {
    color: #fff;
    background-color: #00a594;
    border-color: #00a594;
    -webkit-box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
    box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
}

.btn.btn-haniot-secondary:hover {
    color: #fff;
    background-color: #25c5b5;
    border-color: #00a594;
    -webkit-box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
    box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
}

.btn.btn-haniot-secondary:disabled {
    color: #fff;
    background-color: #5b5e5e;
    border-color: #2a2b2b;
    -webkit-box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
    box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
}

.btn.btn-haniot-secondary:disabled:hover {
    color: #fff;
    background-color: #5b5e5e;
    border-color: #2a2b2b;
    -webkit-box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
    box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
}

/*
.btn.btn-haniot-secondary:focus, .btn.btn-haniot-secondary.focus {
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn.btn-haniot-secondary.disabled, .btn.btn-haniot-secondary:disabled {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn.btn-haniot-secondary:not(:disabled):not(.disabled):active, .btn.btn-haniot-secondary:not(:disabled):not(.disabled).active, .show>.btn.btn-haniot-secondary.dropdown-toggle {
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b;
}

.btn.btn-haniot-secondary:not(:disabled):not(.disabled):active:focus, .btn.btn-haniot-secondary:not(:disabled):not(.disabled).active:focus, .show>.btn.btn-haniot-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}
*/

.ngx-pagination .current {
    background: #00a594 !important;
}

.form-control, .is-focused .form-control {
    background-image: linear-gradient(to top, #00a594 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px) !important;
}

.ui-select-choices-row.active[_ngcontent-c13] > a[_ngcontent-c13] {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #00a594 !important;
}

/*Style tables*/

table th {
    text-align: center;
}

table tr td {
    text-align: center;
}

/* Styles for link-bar mat-tab-group*/

/* ink bar style */

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background: #00a594;
}

/* CSS range datepicker*/

:not(.mat-calendar-body-disabled):hover > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-semi-selected), .cdk-keyboard-focused .mat-calendar-body-active > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-semi-selected), .cdk-program-focused .mat-calendar-body-active > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-semi-selected) {
    background-color: #00a594;
}

:not(.mat-calendar-body-disabled):hover > .mat-calendar-body-semi-selected, .cdk-keyboard-focused .mat-calendar-body-active > .mat-calendar-body-semi-selected, .cdk-program-focused .mat-calendar-body-active > .mat-calendar-body-semi-selected {
    background-color: #00a594;
    color: white;
}

.mat-calendar-body-begin-range:not(.mat-calendar-body-end-range) {
    border-radius: 100% 0 0 100%;
    background-color: #00a594;
    opacity: 0.8;
}

.mat-calendar-body-end-range:not(.mat-calendar-body-begin-range) {
    border-radius: 0 100% 100% 0;
    background-color: #00a594;
    opacity: 0.8;
}

.mat-calendar-body > tr .mat-calendar-cell-semi-selected ~ .mat-calendar-cell-semi-selected {
    border-radius: 0;
}

.mat-calendar-cell-semi-selected {
    background-color: #00a594;
    opacity: 0.8;
}

.mat-calendar-cell-over > .mat-calendar-body-cell-content {
    border: #00a594 1px solid;
}

.mat-calendar-body-selected {
    background-color: #00a594;
    color: white;
}

.mat-calendar-body-cell-content mat-calendar-body-selected {
    background-color: white;
}

.mat-datepicker-toggle-active {
    color: #00a594;
}

label {
    color: black;
    font-size: 14px;
    font-weight: bold;
}

.echarts-div-graph {
    height: 300px;
}


/**
 * Classe auxiliar para truncar e adicionar reticências a uma
 * string comprida demais para caber em apenas uma linha.
 * 1. Previne o conteúdo de transbordar para outras linhas,
 *    forçando-o a uma linha apenas.
 * 2. Adiciona reticências no final da linha.
 */
.ellipsis {
    white-space: nowrap; /* 1 */
    text-overflow: ellipsis; /* 2 */
    overflow: hidden;
}
