<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2 col-md-6 col-sm-6">
        <card-top></card-top>
      </div>

      <div class="col-lg-2 col-md-6 col-sm-6">
        <card-top></card-top>
      </div>

      <div class="col-lg-2 col-md-6 col-sm-6">
        <card-top></card-top>
      </div>

      <div class="col-lg-2 col-md-6 col-sm-6">
        <card-top></card-top>
      </div>
    </div>
    <haniot-card title="Gráficos indicativos de medidas" subtitle="HANIoT">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <bar-graph></bar-graph>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6">
          <area-graph></area-graph>
        </div>
      </div>
    </haniot-card>

    <haniot-card title="Gráficos indicativos de medidas" subtitle="HANIoT">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <scatter-graph></scatter-graph>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6">
          <area-graph></area-graph>
        </div>
      </div>
    </haniot-card>

    <haniot-card title="Gráficos indicativos de medidas" subtitle="HANIoT">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <bar-graph></bar-graph>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6">
          <bar-graph></bar-graph>
        </div>
      </div>
    </haniot-card>

    <haniot-card title="Gráficos indicativos de medidas" subtitle="HANIoT">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <bar-graph></bar-graph>
        </div>
      </div>
    </haniot-card>
  </div>
</div>
