<div class="modal fade" id="selectPilotStudy" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <haniot-card title="Lista de estudos piloto" subtitle="Selecione um estudo para visualizar seus pacientes"
                     id="modalSelectPilotStudy">
            <div class="table-responsive">
                <div class="input-group no-border">
                    <input type="text" class="form-control" id="search" name="search" [(ngModel)]="search"
                           placeholder="Pesquisar estudo..." (keyup)="searchOnSubmit()">
                    <button mat-raised-button type="button" class="btn btn-white btn-round btn-just-icon"
                            (click)="searchOnSubmit()">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                </div>
                <table class="table table-sm table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome do estudo</th>
                        <th>Início</th>
                        <th>Término</th>
                        <th>Situação</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let study of list; index as i" title="Clique para visualizar os pacientes..." (click)="selectPilotStudy(study.id)">
                        <td>{{getIndex(i)}}</td>
                        <td>{{study.name}}</td>
                        <td>{{study.start | date : "fullDate" : "pt-BR"}}</td>
                        <td>{{study.end | date : "fullDate"}}</td>
                        <td>
                      <span>
                        {{study.is_active ? 'ATIVADO' : 'DESATIVADO'}}
                      </span>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>

            <mat-paginator [length]="length" [pageSize]="limit"
                           (page)="clickPagination($event)">
            </mat-paginator>
            <!-- <patient-table [pilotStudyId]="'5c9538e671f8395ce5ba5585'"></patient-table> -->
        </haniot-card>
    </div>
</div>
