<div class="modal fade" id="selectPilotStudy" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <!--        <haniot-card title=""-->
        <!--                     subtitle="" id="modalSelectPilotStudy">-->
        <div id="modalSelectPilotStudy">
            <mat-horizontal-stepper linear #stepper>
                <mat-step>
                    <div class="row justify-content-center">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center row justify-content-center">
                            <h3 id="main-title" class="col-sm-12 text-center">Seja bem vindo(a), {{userName}}</h3>
                            <h4 class="second-title col-sm-12 text-center">Aqui você pode:<br></h4>
                            <div class="col-sm-6 text-center">
                                <ul class="features-describe text-left">
                                    <li> Gerenciar seus estudos</li>
                                    <li> Gerenciar seus pacientes</li>
                                    <li> Gerenciar suas avaliações</li>
                                    <li> Visualizar hábitos e medições de seus pacientes</li>
                                    <li> e muitos mais...</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center row justify-content-center">
                            <h4 class="text-center">Para continuarmos você precisa selecionar um estudo piloto.</h4>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center row justify-content-center">
                            <button class="btn btn-haniot-primary" matStepperNext>Prosseguir
                            </button>
                        </div>
                    </div>

                </mat-step>

                <mat-step>
                    <small>* Vocẽ pode utilizar a barra de pesquisar utilizando o nome do estudo desejado.</small>
                    <haniot-card title="Lista de estudos piloto"
                                 subtitle="Clique sobre o estudo para selecionalo.">

                        <div class="table-responsive">
                            <div class="input-group no-border">
                                <input type="text" class="form-control" id="search" name="search" [(ngModel)]="search"
                                       placeholder="Pesquisar estudo..." (keyup)="searchOnSubmit()">
                                <button mat-raised-button type="button" class="btn btn-white btn-round btn-just-icon"
                                        (click)="searchOnSubmit()">
                                    <i class="material-icons">search</i>
                                    <div class="ripple-container"></div>
                                </button>
                            </div>
                            <table class="table table-sm table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nome do estudo</th>
                                    <th>Início</th>
                                    <th>Término</th>
                                    <th>Situação</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngIf="list.length==0">
                                    <td colspan="5" *ngIf="!listOfStudiesIsEmpty"><img
                                            src="../../../../assets/img/loading.gif"
                                            alt=""> carregando
                                        estudos...
                                    </td>
                                    <td colspan="5" *ngIf="listOfStudiesIsEmpty"><p class="second-title text-center">
                                        Você não possui estudos associados.</p>
                                        <p>
                                            Entre em contato com o administrador.
                                        </p>
                                    </td>
                                </tr>
                                <tr *ngFor="let study of list; index as i"
                                    title="Clique para visualizar os pacientes..."
                                    (click)="selectPilotStudy(study.id)">
                                    <td>{{getIndex(i)}}</td>
                                    <td>{{study.name}}</td>
                                    <td>{{study.start | date : "fullDate" : "pt-BR"}}</td>
                                    <td>{{study.end | date : "fullDate"}}</td>
                                    <td>
                      <span>
                        {{study.is_active ? 'ATIVADO' : 'DESATIVADO'}}
                      </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>

                        <mat-paginator [length]="length" [pageSize]="limit"
                                       (page)="clickPagination($event)">
                        </mat-paginator>

                    </haniot-card>
                    <div colspan="5" *ngIf="listOfStudiesIsEmpty">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center row justify-content-center">
                            <button class="btn btn-haniot-primary" (click)="closeModal()">Entendido
                            </button>
                        </div>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
            <!--        </haniot-card>-->
        </div>
    </div>
</div>
