<haniot-card [title]="'Informações sócio-demográficas'" subtitle='' *ngIf="listSociodemographic.length!=0">
  <form [formGroup]="socioDemographicForm">

    <div class="row justify-content-md-center">
      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class="card card-stats ">
          <div class="card-header card-header-icon">
            <div class="card-icon">
              <i class="material-icons">insert_emoticon</i>
            </div>
            <br>
            <p class="card-category">Cor ou raça:</p>
            <h4 class="card-title">{{socioDemographicForm.get('color_race').value}}</h4>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class="card card-stats ">
          <div class="card-header card-header-icon">
            <div class="card-icon">
              <img src="../../../../assets/img/haniot/schoolarity.png" alt="">
            </div>
            <br>
            <p class="card-category">Escolaridade da mãe:</p>
            <h4 class="card-title">{{socioDemographicForm.get('mother_scholarity').value | motherSchoolarity}}</h4>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class="card card-stats ">
          <div class="card-header card-header-icon">
            <div class="card-icon">
              <i class="material-icons">people</i>
            </div>
            <br>
            <p class="card-category">Quantidade de pessoas em casa:</p>
            <h4 class="card-title">{{socioDemographicForm.get('people_in_home').value}}</h4>
          </div>
        </div>
      </div>
    </div>

  </form>
  <div class="d-flex flex-row-reverse">
    <div class="p-2"><small class="pull-right">Data do registro:
        {{socioDemographicForm.get('created_at').value | myDate }}</small></div>
  </div>
  <div class="row">
    <!-- Botões Anterior e Próximo -->
    <div class="container" *ngIf="listSociodemographic.length>1">
      <div class="row">
        <div class="col align-self-start">
          <button mat-raised-button type="button" class="btn btn-white btn-round btn-just-icon" title="Anterior"
            (click)="prev()" [disabled]="!index">
            <i class="material-icons">arrow_back</i>
          </button>
        </div>

        <div class="col align-self-end">
          <button mat-raised-button type="button" class="btn btn-white btn-round btn-just-icon pull-right"
            (click)="next()" title="Próximo" [disabled]="index == listSociodemographic.length-1">
            <i class="material-icons">arrow_forward</i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="listSociodemographic.length==0">
    <span class="badge badge-danger badge-12">Dados de sócio-demográficos indisponível!</span>
  </div>
</haniot-card>
