.modal-haniot{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color:none;    
    border: none;
    border-radius: 0.3rem;
    outline: 0;
}
