/*.button-color{
    background-color: #00a594;
    border-color: #00a594;
}*/

.button-color:hover{
    background-color: #00a594;
    border-color: #00a594;
}

/*.buttons:disabled{
    cursor: not-allowed;
}*/

.button-color:disabled{
    cursor: not-allowed;
}