<haniot-card [title]="'Informações sobre a saúde bucal'" subtitle='' *ngIf="listOralhealthRecords.length!=0">
    <form [formGroup]="oralhealthForm">

        <div class="row justify-content-md-center">
            <div class="col-md col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="card card-stats">
                    <div class="card-header card-header-timer card-header-icon">
                        <div class="card-icon">
                            <img src="../../../../assets/img/haniot/oral-health.png" alt="">
                        </div>
                        <p class="label">Frequência que realiza a saúde bucal:</p>
                        <h3 class="card-title">{{oralhealthForm.get('teeth_brushing_freq').value}}</h3>
                    </div>
                </div>
            </div>

        </div>
        <div class="row justify-content-md-center">
            <!-- Lista de lesões -->
            <div class="col-md col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="card card-stats">
                    <div class="card-header card-header-timer card-header-icon">
                        <h3 class="card-title">Lista de lesões</h3>
                    </div>
                    <div class="card-footer">
                        <div class="row  justify-content-md-center">

                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6" class="diseases"
                                 *ngFor="let disease of oralhealthForm.get('teeth_lesions').value">
                                <div class="card card-stats diseaseHistory">
                                    <div class="row container">
                                        <div class="col-md-2 d-flex justify-content-center d-flex align-items-center">
                                            <div class="card-icon-disease">
                                                <img src="../../../../assets/img/haniot/oral-lesion.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md row">
                                            <div class="col-sm">
                                                <label for="">
                                                    Tipo de dente:
                                                </label>
                                                <h4 class="card-category">{{disease.tooth_type | toothType}}</h4>
                                            </div>
                                            <div class="col-sm">
                                                <label for="">
                                                    Tipo de lesão:
                                                </label>
                                                <h4 class="card-category">{{disease.lesion_type | lesionType}}</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12">-->
        <!--            <div class="container">-->
        <!--                <div class="row">-->
        <!--                    <div class="col">-->
        <!--                        <label>-->
        <!--                            Lista lesões:-->
        <!--                        </label>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->

        <!--            <div class="row  justify-content-md-center">-->

        <!--                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6" class="diseases"-->
        <!--                     *ngFor="let disease of oralhealthForm.get('teeth_lesions').value">-->
        <!--                    <div class="card card-stats diseaseHistory">-->
        <!--                        <div class="row container">-->
        <!--                            <div class="col-md-2 d-flex justify-content-center d-flex align-items-center">-->
        <!--                                <div class="card-icon-disease">-->
        <!--                                    <img src="../../../../assets/img/haniot/oral-lesion.png" alt="">-->
        <!--                                </div>-->
        <!--                            </div>-->
        <!--                            <div class="col-md row">-->
        <!--                                <div class="col-sm">-->
        <!--                                    <label for="">-->
        <!--                                        Tipo de dente:-->
        <!--                                    </label>-->
        <!--                                    <h4 class="card-category">{{disease.tooth_type | toothType}}</h4>-->
        <!--                                </div>-->
        <!--                                <div class="col-sm">-->
        <!--                                    <label for="">-->
        <!--                                        Tipo de lesão:-->
        <!--                                    </label>-->
        <!--                                    <h4 class="card-category">{{disease.lesion_type | lesionType}}</h4>-->
        <!--                                </div>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->

        <!--            </div>-->
        <!--        </div>-->

    </form>
    <div class="d-flex flex-row-reverse">
        <div class="p-2">
            <small class="pull-right">Data do registro:
                {{oralhealthForm.get('created_at').value | myDate }}</small>
        </div>
    </div>
    <div class="row">
        <!-- Botões Anterior e Próximo -->
        <div class="container" *ngIf="listOralhealthRecords.length>1">
            <div class="row">
                <div class="col align-self-start">
                    <button mat-raised-button type="button" class="btn btn-white btn-round btn-just-icon"
                            title="Anterior"
                            (click)="prev()" [disabled]="!index">
                        <i class="material-icons">arrow_back</i>
                    </button>
                </div>

                <div class="col align-self-end">
                    <button mat-raised-button type="button" class="btn btn-white btn-round btn-just-icon pull-right"
                            (click)="next()" title="Próximo" [disabled]="index == listOralhealthRecords.length-1">
                        <i class="material-icons">arrow_forward</i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="listOralhealthRecords.length==0">
        <span class="badge badge-danger badge-12">Dados sobre saúde bucal indisponível!</span>
    </div>
</haniot-card>
