.label {
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.badge-12 {
  font-size: 16px;
  font-weight: bold;
}

.card-header-icon .card-icon {
  background-color: #00a594;
}

table th {
  font-size: 14px;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

.badge-warning {
  max-width: 100%;
  color: white;

  font-weight: bold;
  background-color: #FF9800;
}
