<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="http://nutes.uepb.edu.br" target="_blank" >
                        {{'APP.DEVELOP-ORGANIZATION' | translate}}
                    </a>
                </li>
                <li>
                    <a href="http://nutes.uepb.edu.br/quem-somos/" target="_blank">
                        {{'FOOTER.ABOUT-US' | translate}}
                    </a>
                </li>
                <li>
                    <a href="http://nutes.uepb.edu.br" target="_blank">
                        {{'FOOTER.PRIVACY' | translate}}
                    </a>
                </li>
                <li>
                    <a href="http://nutes.uepb.edu.br" target="_blank">
                        {{'APP.TITLE' | translate}}
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>
