<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="http://nutes.uepb.edu.br" target="_blank" >
                        Nutes
                    </a>
                </li>
                <li>
                    <a href="http://nutes.uepb.edu.br/quem-somos/" target="_blank">
                        Sobre nós
                    </a>
                </li>
                <li>
                    <a href="http://nutes.uepb.edu.br" target="_blank">
                        Privacidade
                    </a>
                </li>
                <li>
                    <a href="http://nutes.uepb.edu.br" target="_blank">
                        HANIoT
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>
