<div class="container-fluid">

    <div class="row">
        <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4 mx-auto" *ngIf="!invalidToken">

            <div class="card card-signin">
                <div class="card-body">
                    <div id="divLogo">
                        <a id="linkLogo">
                            <img src="assets/img/logo-login-new.png"/>
                            <span class="labelHaniot">{{'APP.TITLE'|translate}}</span>
                        </a>
                    </div>
                    <h3 class="text-center" class="labelHaniot">{{'SECURITY.CHANGE.CHANGE-PASSWORD'|translate}}</h3>

                    <form [formGroup]="f" novalidate class="form-signin">

                        <div class="form-group has-feedback">
                            <label for="email">Email:</label>
                            <div>
                                <input type="text" class="form-control" id="email" formControlName="email"
                                       readonly="readonly"
                                       onfocus="this.blur()">
                            </div>
                        </div>

                        <div class="form-group has-feedback"
                             [ngClass]="{'has-success': f.controls['new_password'].valid,
                  'has-error': f.controls['new_password'].invalid && (f.controls['new_password'].touched || f.controls['new_password'].dirty)}">
                            <label for="InputPassword">{{'SECURITY.CHANGE.PASSWORD'|translate}}:</label>
                            <div>
                                <input [type]="typeInputPassword" formControlName="new_password" class="form-control"
                                       required minlength="4"
                                       id="InputPassword"
                                       [placeholder]="'SECURITY.CHANGE.PLACEHOLDER-PASSWORD'|translate"
                                       (keyup)="validatePassword()">
                                <a class="icon_password" href="javascript:void(0);" (click)="clickVisibilityPassword()"><i
                                        class="material-icons">{{icon_password}}</i></a>
                            </div>
                            <span *ngIf="f.controls['new_password'].valid"
                                  class="glyphicon glyphicon-ok form-control-feedback"
                                  aria-hidden="true"></span>
                            <span
                                    *ngIf="f.controls['new_password'].invalid && (f.controls['new_password'].touched || f.controls['new_password'].dirty)">
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                <span class="text-danger">{{'SHARED.PASSWORD-RULES-MESSAGE'|translate}}</span>
              </span>
                        </div>

                        <div class="form-group has-feedback"
                             [ngClass]="{'has-success': f.controls['confirm_password'].valid,
                  'has-error': f.controls['confirm_password'].invalid && (f.controls['confirm_password'].touched || f.controls['confirm_password'].dirty)}">
                            <label for="InputConfirmPassword">{{'SECURITY.CHANGE.CONFIRM-PASSWORD'|translate}}:</label>
                            <div>
                                <input [type]="typeInputPassword_confirm" formControlName="confirm_password"
                                       class="form-control" required minlength="6"
                                       id="InputConfirmPassword"
                                       [placeholder]="'SECURITY.CHANGE.PLACEHOLDER-CONFIRM-PASSWORD'|translate"
                                       (keyup)="matchPassword()">
                                <a class="icon_password" href="javascript:void(0);"
                                   (click)="clickVisibilityPasswordConfirm()"><i
                                        class="material-icons">{{icon_password_confirm}}</i></a>
                            </div>
                            <span *ngIf="f.controls['confirm_password'].valid"
                                  class="glyphicon glyphicon-ok form-control-feedback"
                                  aria-hidden="true"></span>
                            <span
                                    *ngIf="f.controls['confirm_password'].invalid && (f.controls['confirm_password'].touched || f.controls['confirm_password'].dirty)">
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                <span class="text-danger">{{'SHARED.PASSWORD-CONFIRM-MESSAGE'|translate}}</span>
              </span>
                        </div>

                        <button type="submit" class="btn btn-haniot-primary btn-block" [disabled]="f.invalid"
                                (click)="onSubmit()"
                                id="buttonAlterar">
                            {{'SHARED.CHANGE-PASSWORD'|translate}}
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-8 col-md-6 col-lg-8 col-xl-8 mx-auto" *ngIf="invalidToken">
            <div class="card card-signin">
                <div class="card-body">
                    <h4 class="alert-heading"
                        style="font-weight: bold;color: #00675c;">Informações:</h4>
                    <hr>
                    <h4 class="mb-0 text-center" style="font-weight: bold;color: #00675c;">
                        Não foi possível recuperar senha!<br>
                        O processo de recuperação de senha exige a presença de um
                        token de acesso.<br>
                        Reinicie o processo de recuperação de senha, pois, o token informado
                        encontra-se ausente ou inválido.
                    </h4>
                    <br>
                    <div class="d-flex justify-content-center">
                        <div class="p-2">
                            <button type="button" class="btn btn-haniot-primary btn-block buttonBold"
                                    (click)="gotoLogin()">
                                {{'SECURITY.FORGOT.UNDERSTOOD'|translate}}
                            </button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="loading">
    <div id="externa">
        <div tabindex="-1" role="dialog" id="loading">
            <div class="modal-dialog" role="document">
                <div class="d-flex justify-content-around">
                    <spinner message=""></spinner>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop show">
        <div>
        </div>
    </div>
</div>
